<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:record_status) %></a></li>
  </ul>

  <div id="tabs-1">
    <div class="group_button">
          <%= link_to I18n.t('create_button'), new_record_status_path, :class => 'btn' %>
    </div>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:description) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <% @record_statuses.each do |record_status| %>
          <tr>
            <td><%= record_status.name %></td>
            <td><%= record_status.description %></td>
            <td class="center">
              <%= link_to '', edit_record_status_path(record_status), :class => 'icon-pencil', :title => I18n.t('edit') %>
              <%= link_to '', record_status, method: :delete, data: {confirm: I18n.t('are_you_sure')}, :class => 'icon-trash', :style => 'color:red', :title => I18n.t('delete') %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>
</div>
