<section class="card card-content-bloc estimancy-form">
  <div class="card-body">

    <div class="edition-bloc-left">
      <div class="edition-bloc-title">
        <h2>
          Nouveau service
        </h2>
      </div>
    </div>

    <div class="edition-bloc-content">

      <%= simple_form_for([@organization, @service]) do |f| %>
        <%#= f.error_notification %>
        <%= f.input :organization_id, as: :hidden, input_html: { :value => @organization.id } %>
        <div class="edition-bloc-form">
          <div class="form-row">
            <div class="col-5">

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new')} %>
                <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.input :description, :label => false, :input_html => {:class => 'mdl-textfield__input', :rows => 5 } %>
                <label class="mdl-textfield__label" for="description"><%= I18n.t(:description) %></label>
              </div>

            </div>
          </div>

          <br>

          <div class="actions-tabs">
            <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>

            <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
            <% end %>
            <%= link_to I18n.t('back'), organization_setting_demand_path(@organization, partial_name: 'tabs_demand_services', item_title: I18n.t('services'), anchor: 'tabs-services'), :class => 'btn btn-secondary' %>
          </div>
      <% end %>
      </div>
    </div>

  </div>
</section>