<div class="row pb-5">
  <div class="col-12">
    <section class="card card-content-bloc estimancy-form">

      <div class="mb-5">
        <div class="effort-bloc">
            <div class="card-body">

                <div class="edition-bloc-content">
                  <div class="edition-bloc-form">
                    <%= form_tag(associate_module_projects_inputs_outputs_path) do |f| %>

                        <div class="col-3">
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label class="mdl-textfield__label" for="user_subs_end_date" style="margin-top: -30px;"><%= "Ordre d'affichage" %></label>
                            <%= text_field_tag "display_order", @module_project.display_order, :class => 'form-control' %>
                          </div>
                        </div>

                        <%= hidden_field_tag 'mp', @module_project.id %>

                        <% effort_ids = [] %>
                        <% output_attribute_ids = [] %>
                        <% module_project_attributes = @module_project.pemodule.pe_attributes %>

                        <% case @module_project.pemodule.alias  %>
                          <% when "effort_breakdown" %>
                            <% effort_ids = module_project_attributes.where(alias: WbsActivity::INPUT_EFFORTS_ALIAS).map(&:id).flatten %>
                          <% when "ge" %>
                            <% effort_ids = module_project_attributes.where(alias: Ge::GeModel::INPUT_EFFORTS_ALIAS).map(&:id).flatten %>
                            <% output_attribute_ids = module_project_attributes.where(alias: Ge::GeModel::INPUT_EFFORTS_ALIAS).map(&:id).flatten %>
                          <% when "staffing" %>
                            <% staffing_input_pe_attributes = module_project_attributes.includes(:attribute_modules).where(:attribute_modules => { in_out: ['input', 'output', 'both'] }).all %>
                            <% effort_ids = staffing_input_pe_attributes.map(&:id).flatten %>
                          <% when "kb" %>
                            <% effort_ids = module_project_attributes.where(alias: Kb::KbModel::INPUT_ATTRIBUTES_ALIAS).map(&:id).flatten %>
                          <% when "skb" %>
                            <% effort_ids = module_project_attributes.where(alias: Skb::SkbModel::INPUT_ATTRIBUTES_ALIAS).map(&:id).flatten %>
                          <% when "expert_judgement" %>
                            <% effort_ids = module_project_attributes.where(alias: ExpertJudgement::Instance::INPUT_ATTRIBUTES_ALIAS).map(&:id).flatten %>
                          <% when "operation" %>
                            <% effort_ids = module_project_attributes.where(operation_model_id: @module_project.operation_model_id).map(&:id).flatten %>
                          <% else %>
                            <% effort_ids = module_project_attributes.where(alias: Projestimate::Application::EFFORT_ATTRIBUTES_ALIAS).map(&:id).flatten %>
                        <% end %>

                        <% current_evs = @module_project.estimation_values.where(organization_id: @organization.id, pe_attribute_id: effort_ids, in_out: "input") %>

                        <%
                          if current_evs.all.empty? || effort_ids.length != current_evs.length
                            all_current_evs = @module_project.get_mp_inputs_outputs_estimation_values(effort_ids, output_attribute_ids)
                            current_evs = all_current_evs.where(pe_attribute_id: effort_ids, in_out: "input")
                          end
                        %>

                      <div class="col-6">
                        <h4><%= I18n.t(:associate_inputs_with_outputs, current_mp: @module_project) %></h4>
                      </div>
                      <br>
                      <% guw_preceding_module_project = @module_project.preceding.select{ |i| i.pemodule.alias == "guw" }.last %>
                      <% guw_outputs_estimation_values = guw_preceding_module_project.nil? ? [] : guw_preceding_module_project.estimation_values.where(organization_id: @organization.id, in_out: "output") %>

                      <% unless current_evs.all.empty? %>
                        <%# current_evs.each do |cev| %>
                        <% effort_ids.each do |effort_id| %>

                          <% cev = current_evs.where(pe_attribute_id: effort_id).first  %>

                          <% unless cev.nil? %>

                            <%# cev = current_evs.first %>
                            <%# cev_attribute = cev.pe_attribute %>
                            <%# cev_attr_possible_module_projects = @module_project.possible_previous_mp_for_attribute(cev_attribute) %>

                            <% cev_attr_possible_module_projects = @module_project.preceding.reject { |i| i.pemodule.alias == "initialization" } %>

                            <% if cev_attr_possible_module_projects.nil? || cev_attr_possible_module_projects.empty? %>
                              <% cev_attr_possible_module_projects = guw_preceding_module_project.nil? ? [] : [guw_preceding_module_project] %>
                            <% end %>

                            <% if !cev.associated_estimation_value.nil?
                               preceding_mp = ModuleProject.find(cev.associated_estimation_value.module_project_id)
                               preceding_outputs_estimation_values = preceding_mp.estimation_values.where(organization_id: @organization.id, in_out: "output")
                             end

                               if preceding_outputs_estimation_values.nil?
                                 preceding_outputs_estimation_values = [] #guw_outputs_estimation_values
                               end
                            %>

                            <div class="row-fluid" style="margin-bottom: 2rem;">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-2"><%= "Modules : " %></div>
                                  <div class="col-4">
                                    <% selected_module_project = cev.associated_estimation_value.module_project_id unless cev.associated_estimation_value.nil? %>
                                    <%= select_tag "preceding_module_project[#{cev.id}]",
                                                   options_for_select(cev_attr_possible_module_projects.map{|mp| [mp.to_s, mp.id]},
                                                                      selected: (cev.associated_estimation_value.module_project_id unless cev.associated_estimation_value.nil?)),
                                                   :include_blank => true, :class => 'form-control' %>
                                  </div>
                                </div>
                              </div>

                              <div class="col-6">
                                <div class="row">
                                  <div class="col-2"><%= cev %> :</div>
                                  <div class="col-4">
                                    <%#= select_tag "preceding[#{cev.id}]", options_for_select(@module_project.preceding.last.estimation_values.where(in_out: "output").map{|i| [i.pe_attribute.name, i.id]}, selected: cev.estimation_value_id), :include_blank => true %>
                                    <%= select_tag "preceding[#{cev.id}]",
                                                   options_for_select(preceding_outputs_estimation_values.map{|i| [i.pe_attribute.name, i.id] unless i.pe_attribute.nil? },
                                                                      selected: cev.estimation_value_id), :include_blank => true, :class => 'form-control'%>
                                  </div>
                                </div>
                              </div>




                            </div>

                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                            <script>
                                // Update the view_widget attribute according to the selected module
                                $('#<%= "preceding_module_project_#{cev.id}" %>').change(function() {
                                    //if ($(this).val() !== "undefined"){
                                    return $.ajax({
                                        url: "/update_associated_estimation_values_data",
                                        method: "GET",
                                        data: {
                                            preceding_module_project_id: $(this).val(),
                                            current_module_project_id: <%= @module_project.id %>,
                                            current_estimation_value_id: <%= cev.id %>
                                        }
                                    });
                                    //}
                                });
                            </script>

                          <% end %>

                        <% end %>

                        <br>
                        <div class="col-5">
                          <%= submit_tag I18n.t('save'), class: "btn btn-primary" %>
                          <%= link_to I18n.t(:back), edit_project_path(@module_project.project_id, tabs_name: 'tabs_estimation_plan', anchor: 'tabs-estimation-plan'), class: 'btn btn-secondary' %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>

            </div>

        </div>
      </div>

    </section>
  </div>
</div>

