<div class="col-2 pr-0">
  <% module_projects = @project.module_projects.includes(:pemodule, :inverse_associated_module_projects).reject{ |mp| mp.id == @initialization_module_project.id } %>
  <% sorted_module_projects =  module_projects.sort_by { |i| i.display_order.to_i } %>
  <%# first_module_project =  sorted_module_projects.first %>

  <div id="modules-sidebar" class="py-6">

    <ul class="nav navbar-nav flex-column">
      <li class="nav-item">
        <!--<a data-remote="true" class="nav-link blue_nav-link" href="<%#= edit_project_path(@project) %>">-->
        <a class="nav-link blue_nav-link <%= (session[:active_nav_link] == "edit") ? 'active' : '' %>" href="<%= edit_project_path(@project) %>">
          <span>
            <%= I18n.t(:properties) %>
          </span>
          <i class="material-icons">arrow_left</i>
        </a>
      </li>

      <li class="nav-item">
        <div style="padding: inherit;">
          <div class="navbar-header">
            <a class="nav-link navbar-toggle blue_nav-link calculate_module <%= (session[:active_nav_link] == "activate_module_project") ? 'active' : '' %>" href="#" data-toggle="collapse" data-target="#module_execution" aria-expanded="true">
                <span><%= I18n.t(:calculation_modules) %></span>
                <i class="material-icons">arrow_left</i>
            </a>
          </div>

          <div class="container">
            <div id="module_execution" class="collapse navbar-collapse">
              <ul class="nav nav-pills flex-column">
                <% sorted_module_projects.each do |pmod| %>
                    <li class="nav-item" title="<%= pmod.to_s %>">
                      <!--<a class="nav-link <%#= (current_module_project.id == pmod.id) ? 'active' : '' %>" href="<%#= activate_module_project_path(pmod) %>">-->
                      <a class="nav-link module_project <%= ((current_module_project.id == pmod.id) && (session[:active_nav_link] == "activate_module_project")) ? 'active' : '' %>" href="<%= activate_module_project_path(pmod) %>">
                        <span style="text-transform: none;"><%= pmod.to_s.truncate(22) %></span>
                        <i class="material-icons">arrow_left</i></a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <!--<a class="nav-link blue_nav-link" href="<%#= activate_module_project_path(@project.module_projects.first) %>">-->
        <a class="nav-link blue_nav-link init_module_project <%= ((current_module_project.id == @initialization_module_project.id) && (session[:active_nav_link] == "activate_init_module_project")) ? 'active' : '' %>" href="<%= activate_module_project_path(@initialization_module_project) %>">
          <span><%= I18n.t(:dashboard) %></span>
          <i class="material-icons">arrow_left</i>
        </a>
      </li>
    </ul>


    <!-- Original -->
    <!--<div class="title">-->
      <!--<a class="estimancy" href="<%#= activate_module_project_path(@project.module_projects.first) %>">-->
        <!--<b><%#= I18n.t(:dashboard) %></b>-->
      <!--</a>-->
    <!--</div>-->

    <!--<ul class="nav flex-column">-->
      <!--<%# module_projects.sort_by { |i| i.display_order }.each do |pmod| %>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link <%#= (current_module_project.id == pmod.id) ? 'active' : '' %>" href="<%#= activate_module_project_path(pmod) %>"><span>-->
            <!--<%#= pmod.to_s.truncate(22) %>-->
          <!--</span>-->
            <!--<i class="material-icons">arrow_left</i></a>-->
        <!--</li>-->
      <!--<%# end %>-->
    <!--</ul>-->

  </div>
</div>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    //$(document).ready(function(){
    $(document).ready(function() {

        $('#modules-sidebar .nav .nav-link').each(function(){
            if($(this).hasClass("active")){
                if($(this).hasClass("calculate_module")) {
                    $('#module_execution').addClass('show');
                }
            }
        })

        //$('.nav .nav-link').click(function(){
        $('#modules-sidebar .nav .nav-link').on('click', function() {

            if ($(this).hasClass('calculate_module')) {
                if ($(this).hasClass('active')){
                    $(this).addClass('active');
                }
                else{
                    $(this).removeClass('active');
                    $(this).addClass('no-before-after');
                }
            }
            else{
                $('#modules-sidebar .nav .nav-link').removeClass('active');
                $(this).addClass('active');
            }

            if($(this).hasClass("module_project")){
                $('.calculate_module').addClass('active');
            }
        })
    });
</script>
