<div class="accordion" id="accordion">
  <div class="accordion-heading" style="padding:5px;">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_dashbord_ratio_elts" id="accordion_dashbord_ratio_elts">
      <span style="font-weight: bold; font-size: 20px;" title="">
          <%= I18n.t(:ratios_elements) %>
      </span>
    </a>

    <!--<div class="pull-right">-->
      <span class="label label-success">
        <%= I18n.t(:sum_of_ratio_values) %>
        <span class="total-ratios">
          <%= @module_project_ratio_elements.reject{|i| i.ratio_value.nil? or i.ratio_value.blank? }.compact.sum(&:ratio_value) %> %
        </span>
      </span>
    <!--</div>-->

  </div>


  <div id="collapse_dashbord_ratio_elts" class="accordion-body collapse in">
    <div class="accordion-inner">

        <% use_real_base_percentage = (wbs_activity_ratio.nil? ? nil : wbs_activity_ratio.use_real_base_percentage) %>
        <label class="checkbox pull-left" style="margin-left: 40px;">
          <%= check_box_tag :use_real_base_percentage, 1, use_real_base_percentage, disabled: true %>
          <%= I18n.t(:use_real_base_percentage ) %>
        </label>

      <%= select_tag "dashboard_selected_ratio_id", options_for_select(current_module_project.wbs_activity.wbs_activity_ratios.map{|i| [i.name, i.id]},
                                 selected: wai.wbs_activity_ratio_id), readonly: cannot?(:execute_estimation_plan, @project) %>
        <br>

      <% allow_modify_retained_effort = (wbs_activity_ratio.nil? ? nil : wbs_activity_ratio.allow_modify_retained_effort) %>
      <% allow_modify_ratio_reference = (wbs_activity_ratio.nil? ? nil : wbs_activity_ratio.allow_modify_ratio_reference) %>
      <% allow_modify_ratio_value = (wbs_activity_ratio.nil? ? nil : wbs_activity_ratio.allow_modify_ratio_value) %>
      <% allow_add_new_phase = (wbs_activity_ratio.nil? ? nil : wbs_activity_ratio.allow_add_new_phase) %>
      <% effort_unit = get_attribute_unit(PeAttribute.find_by_alias("effort")) %>
      <% cost_unit =  get_attribute_unit(PeAttribute.find_by_alias("cost")) %>

      <table id="table_ratio_details" class="table table-striped table-condensed" style="margin-top:20px;">
          <tr>
            <th class=""></th>
            <th class=""><%= I18n.t(:order) %></th>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:initial_label_ratio_value) %></th>

            <% if allow_modify_ratio_value %>
                <th><%= I18n.t(:label_ratio_value) %></th>
            <% end %>

            <th><%= I18n.t(:set_of_reference_value) %></th>

            <th><%= "#{I18n.t(:calculated_effort)} (#{effort_unit})" %></th>
            <!--<th><%#= "#{I18n.t(:calculated_cost)} (#{cost_unit})" %></th>-->

            <th><%= "#{I18n.t(:retained_effort)} (#{effort_unit})" %></th>
            <th><%= "#{I18n.t(:retained_cost)} (#{cost_unit})" %></th>

            <th><%= "#{I18n.t(:description)} / #{I18n.t(:comment)}" %></th>
            <th><%= I18n.t(:actions) %></th>
          </tr>

          <% gap = 1 %>
          <% @module_project_ratio_elements.each_with_index do |mp_ratio_element, i| %>
            <%= hidden_field_tag 'wbs_activity_ratio_id', mp_ratio_element.wbs_activity_ratio_id %>
            <%= hidden_field_tag 'wbs_activity_id', mp_ratio_element.wbs_activity_ratio.wbs_activity_id %>

            <tr>
              <td style="border-left: 6px solid <%= (mp_ratio_element.flagged == true) ? 'red' : 'green' %>"></td>
              <td>
                <span class="badge badge-default">
                    <% elt_position =  mp_ratio_element.position %>
                    <%= elt_position.nil? ? nil : ("%g" % (elt_position)) %>
                </span>
              </td>
              <td>
                <% padding_left = mp_ratio_element.wbs_activity_element.nil? ? 2 : mp_ratio_element.wbs_activity_element.depth*2 %>
                <span class="pull-left" style="padding-left:<%=gap+padding_left%>em">
                  <%= mp_ratio_element.name %>
                </span>
              </td>

              <% if mp_ratio_element.wbs_activity_ratio_element.nil? %>
                  <td style="text-align: center"> - </td>
                  <td style="text-align: center"> - </td>
                  <% if allow_modify_ratio_value %>
                      <td style="text-align: center"> - </td>
                  <% end %>

              <% else %>
                  <% if mp_ratio_element.wbs_activity_element.has_children? %>
                    <td style="text-align: center"> - </td>
                    <td style="text-align: center"> - </td>
                    <% if allow_modify_ratio_value %>
                      <td style="text-align: center"> - </td>
                    <% end %>
                  <% else %>
                    <td style="text-align: center">
                      <%= number_field_tag "ratio_values[#{mp_ratio_element.id}]", mp_ratio_element.ratio_value, :class => 'input-mini', :tabindex => i, disabled: true %>
                      <%= hidden_field_tag "ratio_values[#{mp_ratio_element.id}]", mp_ratio_element.ratio_value %>
                    </td>
                    <% if allow_modify_ratio_value %>
                        <td style="text-align: center"><%= number_field_tag "ratio_values[#{mp_ratio_element.id}]", mp_ratio_element.ratio_value, :class => 'input-mini', :tabindex => i %></td>
                    <% end %>

                    <td style="text-align: center">
                      <% if allow_modify_ratio_reference %>
                        <%= check_box_tag 'multiple_references[]', mp_ratio_element.id, mp_ratio_element.multiple_references %>
                      <% else %>
                          <%= check_box_tag 'multiple_references[]', mp_ratio_element.id, mp_ratio_element.multiple_references, disabled: true %>
                          <%= hidden_field_tag "multiple_references[]", mp_ratio_element.id %>
                      <% end %>
                      </td>
                  <% end %>
              <% end %>


              <% mp_ratio_element_ancestor_ids = [] %>
              <% if mp_ratio_element.wbs_activity_ratio_element.nil?
                   wbs_activity_elt_root = mp_ratio_element.wbs_activity_ratio.wbs_activity.wbs_activity_elements.first.root
                   root_mp_ratio_element = @module_project_ratio_elements.where(wbs_activity_element_id: wbs_activity_elt_root.id).first
                   mp_ratio_element_ancestor_ids << root_mp_ratio_element.id
                 else
                   activity_elt_ancestor_ids = mp_ratio_element.wbs_activity_element.ancestor_ids
                   activity_elt_ancestor_ids.each do |ancestor_id|
                     parent_ratio_elt = @module_project_ratio_elements.where(wbs_activity_element_id: ancestor_id).first
                     mp_ratio_element_ancestor_ids << parent_ratio_elt.id
                   end
                 end
              %>
              <% mp_ratio_element_ancestor_ids = mp_ratio_element_ancestor_ids.to_json.html_safe %>

              <!-- LOW -->
              <% if wbs_activity_ratio.wbs_activity.three_points_estimation? %>
                  <% retained_effort_low = mp_ratio_element.retained_effort_low %>

                  <% if mp_ratio_element.wbs_activity_ratio_element.nil? %>
                    <td style="text-align: center"> - </td>
                      <%= hidden_field_tag "theoretical_effort_low[#{mp_ratio_element.id}]", nil %>
                      <%= hidden_field_tag "theoretical_cost_low[#{mp_ratio_element.id}]", nil %>
                      <td><%= number_field_tag "retained_effort_low[#{mp_ratio_element.id}]", convert_wbs_activity_value((retained_effort_low.nil? ? mp_ratio_element.theoretical_effort_low : retained_effort_low), effort_unit_coeff), :class => "input-mini retained_effort", 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, "data-level" => "low", :tabindex => i, :step => 0.000001 %></td>
                      <td><%= number_field_tag "retained_cost_low[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_low.nil? ?  mp_ratio_element.theoretical_cost_low :  mp_ratio_element.retained_cost_low, :class => "input-mini retained_cost", 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "low", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, :tabindex => i, :step => 0.000001 %></td>
                  <% else %>
                    <td><%= number_field_tag "theoretical_effort_low[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.theoretical_effort_low, effort_unit_coeff), :class => "input-mini", :tabindex => i, disabled: true %></td>
                        <%= hidden_field_tag "theoretical_cost_low[#{mp_ratio_element.id}]", mp_ratio_element.theoretical_cost_low, :class => "input-mini", :tabindex => i, disabled: true %>
                    <td><%= number_field_tag "retained_effort_low[#{mp_ratio_element.id}]",
                                       convert_wbs_activity_value((retained_effort_low.nil? ? mp_ratio_element.theoretical_effort_low : retained_effort_low), effort_unit_coeff),
                                       'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "low", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids,
                                       :class => "input-mini retained_effort", :tabindex => i, readonly: !allow_modify_retained_effort, :step => 0.000001 %></td>
                    <td><%= number_field_tag "retained_cost_low[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_low.nil? ?  mp_ratio_element.theoretical_cost_low :  mp_ratio_element.retained_cost_low, :class => "input-mini", :tabindex => i, readonly: true, :step => 0.000001 %></td>
                  <% end %>
              <% else %>
                  <% hidden_retained_effort_low =  mp_ratio_element.retained_effort_low %>
                  <% hidden_retained_cost_low =  mp_ratio_element.retained_cost_low %>

                  <%= hidden_field_tag "theoretical_effort_low[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.theoretical_effort_low, effort_unit_coeff), disabled: true  %>
                  <%= hidden_field_tag "theoretical_cost_low[#{mp_ratio_element.id}]", mp_ratio_element.theoretical_cost_low, disabled: true %>

                  <%= hidden_field_tag "retained_effort_low[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.retained_effort_low, effort_unit_coeff) %>
                  <%= hidden_field_tag "retained_cost_low[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_low %></td>
              <% end %>


              <!-- MOST-LIKELY -->
              <% retained_effort_most_likely = mp_ratio_element.retained_effort_most_likely %>
              <% retained_cost_most_likely = mp_ratio_element.retained_cost_most_likely %>

              <% if mp_ratio_element.wbs_activity_ratio_element.nil? %>
                  <td style="text-align: center"> - </td>
                  <%= hidden_field_tag "theoretical_effort_most_likely[#{mp_ratio_element.id}]", nil %>
                  <%= hidden_field_tag "theoretical_cost_most_likely[#{mp_ratio_element.id}]", nil %>
                  <td><%= number_field_tag "retained_effort_most_likely[#{mp_ratio_element.id}]",
                                           convert_wbs_activity_value((retained_effort_most_likely.nil? ? mp_ratio_element.theoretical_effort_most_likely : retained_effort_most_likely), effort_unit_coeff),
                                           :class => "input-mini retained_effort", 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, "data-level" => "most_likely", :tabindex => i , :step => 0.000001 %></td>
                  <td><%= number_field_tag "retained_cost_most_likely[#{mp_ratio_element.id}]", retained_cost_most_likely.nil? ? mp_ratio_element.theoretical_cost_most_likely : retained_cost_most_likely, :class => 'input-mini retained_cost', 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "most_likely", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, :tabindex => i, :step => 0.000001 %></td>
              <% else %>
                  <td><%= number_field_tag "theoretical_effort_most_likely[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.theoretical_effort_most_likely, effort_unit_coeff), :class => 'input-mini', :tabindex => i, disabled: true, :step => 0.000001 %></td>
                     <%= hidden_field_tag "theoretical_cost_most_likely[#{mp_ratio_element.id}]", mp_ratio_element.theoretical_cost_most_likely, :class => 'input-mini', :tabindex => i, disabled: true, :step => 0.000001 %>
                  <td>
                    <%# activity_elt_ancestor_ids = mp_ratio_element.wbs_activity_element.ancestor_ids
                       mp_ratio_element_ancestor_ids = []
                       activity_elt_ancestor_ids.each do |ancestor_id|
                         parent_ratio_elt = @module_project_ratio_elements.where(wbs_activity_element_id: ancestor_id).first
                         mp_ratio_element_ancestor_ids << parent_ratio_elt.id
                       end
                    %>
                    <%= number_field_tag "retained_effort_most_likely[#{mp_ratio_element.id}]",
                           convert_wbs_activity_value((retained_effort_most_likely.nil? ? mp_ratio_element.theoretical_effort_most_likely : retained_effort_most_likely), effort_unit_coeff),
                           'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "most_likely", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids,
                           :class => "input-mini retained_effort",  :tabindex => i, readonly: !allow_modify_retained_effort, :step => 0.000001 %>
                  </td>
                  <td><%= number_field_tag "retained_cost_most_likely[#{mp_ratio_element.id}]", retained_cost_most_likely.nil? ? mp_ratio_element.theoretical_cost_most_likely : retained_cost_most_likely, :class => 'input-mini', :tabindex => i, readonly: true, :step => 0.000001 %></td>
              <% end %>


              <!-- HIGH -->
              <% if @wbs_activity_ratio.wbs_activity.three_points_estimation? %>
                  <% retained_effort_high =  mp_ratio_element.retained_effort_high %>

                  <% if mp_ratio_element.wbs_activity_ratio_element.nil? %>
                    <%= hidden_field_tag "theoretical_effort_high[#{mp_ratio_element.id}]", nil %>
                    <%= hidden_field_tag "theoretical_cost_high[#{mp_ratio_element.id}]", nil %>
                    <td style="text-align: center"> - </td>
                    <td><%= number_field_tag "retained_effort_high[#{mp_ratio_element.id}]", convert_wbs_activity_value((retained_effort_high.nil? ? mp_ratio_element.theoretical_effort_high : retained_effort_high), effort_unit_coeff),
                                               :class => "input-mini retained_effort", 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, "data-level" => "high", :tabindex => i, :step => 0.000001 %></td>
                    <td><%= number_field_tag "retained_cost_high[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_high.nil? ? mp_ratio_element.theoretical_cost_high : mp_ratio_element.retained_cost_high, :class => "input-mini retained_cost", 'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "high", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids, :tabindex => i, :step => 0.000001 %></td>

                  <% else %>
                    <td><%= number_field_tag "theoretical_effort_high[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.theoretical_effort_high, effort_unit_coeff), :class => "input-mini", :tabindex => i, disabled: allow_modify_retained_effort, :step => 0.000001 %></td>
                    <%= hidden_field_tag "theoretical_cost_high[#{mp_ratio_element.id}]", mp_ratio_element.theoretical_cost_high, :class => "input-mini", :tabindex => i, disabled: true, :step => 0.000001 %>
                    <td><%= number_field_tag "retained_effort_high[#{mp_ratio_element.id}]",
                                               convert_wbs_activity_value((retained_effort_high.nil? ? mp_ratio_element.theoretical_effort_high : retained_effort_high), effort_unit_coeff),
                                              'data-mp_ratio_element_id' => mp_ratio_element.id, "data-level" => "high", "data-mp_ratio_element_ancestor_ids" => mp_ratio_element_ancestor_ids,
                                             :class => "input-mini retained_effort", :tabindex => i, disabled: !allow_modify_retained_effort, :step => 0.000001 %></td>
                    <td><%= number_field_tag "retained_cost_high[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_high.nil? ? mp_ratio_element.theoretical_cost_high : mp_ratio_element.retained_cost_high, :class => "input-mini", :tabindex => i, readonly: true, :step => 0.000001 %></td>
                  <% end %>

              <% else %>
                  <%= hidden_field_tag "theoretical_effort_high[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.theoretical_effort_high, effort_unit_coeff) %>
                  <%= hidden_field_tag "theoretical_cost_high[#{mp_ratio_element.id}]", mp_ratio_element.theoretical_cost_high %>
                  <%= hidden_field_tag "retained_effort_high[#{mp_ratio_element.id}]", convert_wbs_activity_value(mp_ratio_element.retained_effort_high, effort_unit_coeff) %>
                  <%= hidden_field_tag "retained_cost_high[#{mp_ratio_element.id}]", mp_ratio_element.retained_cost_high %>
              <% end %>

              <td class="text_field_text_overflow">
                  <span class="pull-left">
                    <%= link_to (mp_ratio_element.description.nil? || mp_ratio_element.description.blank?) ? '-' : mp_ratio_element.description, module_project_ratio_element_load_comments_path(mp_ratio_element), title: mp_ratio_element.name, method: "post", remote: true %>
                  </span>
              </td>

              <%= hidden_field_tag 'wbs_activity_ratio_id', mp_ratio_element.wbs_activity_ratio_id %>
              <%= hidden_field_tag 'wbs_activity_id', mp_ratio_element.wbs_activity_ratio.wbs_activity_id %>

              <td>
                <% if can?(:execute_estimation_plan, @project) && allow_add_new_phase && mp_ratio_element.wbs_activity_ratio_element.nil? %>
                    <%= link_to "", edit_module_project_ratio_element_path(mp_ratio_element), class: "fa fa-pencil", title: I18n.t(:edit), remote: true%>
                    <%= link_to "", module_project_ratio_element_path(mp_ratio_element), method: "delete", confirm: I18n.t('are_you_sure'), class: "fa fa-trash", title: I18n.t(:delete) %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if can?(:execute_estimation_plan, @project) && allow_add_new_phase %>
              <tr>
                <td>
                  <span class="pull-left">
                    <%= link_to '', new_module_project_ratio_element_path(module_project_id: current_module_project.id, wbs_activity_ratio_id: @wbs_activity_ratio.id, pbs_project_element_id: current_component.id), class: "icon icon-plus", title: I18n.t(:new_module_project_ratio_element), method: "get", remote: true %>
                  </span>
                </td>
              </tr>
          <% end %>
        </table>
    </div>
  </div>

</div>