<% do_not_show_cost = (@selected_ratio.nil? ? nil : @selected_ratio.do_not_show_cost) %>
<% do_not_show_phases_with_zero_value = (@selected_ratio.nil? ? nil : @selected_ratio.do_not_show_phases_with_zero_value) %>

<% allow_modify_retained_effort = (@selected_ratio.nil? ? nil : @selected_ratio.allow_modify_retained_effort) %>
<% allow_modify_ratio_reference = (@selected_ratio.nil? ? nil : @selected_ratio.allow_modify_ratio_reference) %>
<% allow_add_new_phase = (@selected_ratio.nil? ? nil : @selected_ratio.allow_add_new_phase) %>

<span>
  <label class="checkbox pull-left" style="margin-right: 40px; margin-top: 10px">
    <%= check_box_tag :do_not_show_cost, 1, do_not_show_cost %>
    <%= I18n.t(:do_not_show_cost ) %>
  </label>
</span>

<span>
    <label class="checkbox pull-left" style="margin-right: 40px; margin-top: 10px">
    <%= check_box_tag :do_not_show_phases_with_zero_value, 1, do_not_show_phases_with_zero_value %>
    <%= I18n.t(:do_not_show_phases_with_zero_value ) %>
    </label>
</span>
<br>

<div class="pull-left">
    <!--<span>-->
      <!--<label class="checkbox pull-left" style="margin-right: 40px; margin-top: 10px">-->
        <!--<%#= check_box_tag :allow_modify_retained_effort, 1, allow_modify_retained_effort %>-->
        <!--<%#= I18n.t(:allow_modify_retained_effort ) %>-->
      <!--</label>-->
    <!--</span>-->

    <!--<span>-->
      <!--<label class="checkbox pull-left" style="margin-right: 40px; margin-top: 10px">-->
        <!--<%#= check_box_tag :allow_modify_ratio_reference, 1, allow_modify_ratio_reference %>-->
        <!--<%#= I18n.t(:allow_modify_ratio_reference ) %>-->
      <!--</label>-->
    <!--</span>-->

    <!--<span>-->
      <!--<label class="checkbox pull-left" style="margin-right: 40px; margin-top: 10px">-->
        <!--<%#= check_box_tag :allow_add_new_phase, 1, allow_add_new_phase %>-->
        <!--<%#= I18n.t(:allow_add_new_phase ) %>-->
      <!--</label>-->
    <!--</span>-->
</div>

<h4 style="color: #0073ea;">Définition des variables et de leur pourcentage par rapport à la valeur en entrée</h4>
<table class="table table-bordered table-condensed">
  <tr>
    <th><%= I18n.t(:variable_name) %></th>
    <th><%= I18n.t(:percentage_of_input) %></th>
    <th><%= I18n.t(:is_modifiable) %></th>
    <th><%= I18n.t(:is_used_in_ratio_calculation) %></th>
    <th><%= I18n.t(:description) %></th>
  </tr>

  <% unless @selected_ratio.nil? %>
      <%= hidden_field_tag 'wbs_activity_ratio_id', @selected_ratio.id %>
      <%= hidden_field_tag 'wbs_activity_id', @selected_ratio.wbs_activity_id %>

      <div>
        Les entrées de la WBS-Activité <br>
        <%# wbs_inputs = PeAttribute.where(alias: ["effort_1", "effort_2", "effort_3", "effort_4"]) %>
        <% PeAttribute.where(alias: WbsActivity::INPUT_EFFORTS_ALIAS).each_with_index do |effort, index | %>
         <span><%= "Entrée #{index+1} = #{effort.alias}" %></span> <br>
        <% end %>
      </div>

      <% @selected_ratio.get_wbs_activity_ratio_variables.each do |wbs_arv| %>
          <tr>
            <td class="align-center"><%= text_field_tag "name[#{wbs_arv.id}]", wbs_arv.name, :class => 'input-xl' %></td>
            <td class="align-center"><%= text_field_tag "percentage_of_input[#{wbs_arv.id}]", wbs_arv.percentage_of_input, :class => 'input-xl', placeholder: "x% * En " %></td>
            <td class="align-center"><%= check_box_tag 'wbs_arv_is_modifiable[]', wbs_arv.id, wbs_arv.is_modifiable %></td>
            <td class="align-center"><%= check_box_tag 'wbs_arv_is_used_in_ratio_calculation[]', wbs_arv.id, wbs_arv.is_used_in_ratio_calculation %></td>
            <td class="align-center"><%= text_field_tag "description[#{wbs_arv.id}]", wbs_arv.description, :class => 'input-xxl' %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<div class="actions-tabs">
    <% if can? :manage_modules_instances, ModuleProject %>
        <%= submit_tag I18n.t(:save ), :id => 'reference_value_submit_save', :class => 'btn btn-primary' %>
        <%= submit_tag I18n.t('apply'), :id => 'reference_value_submit_apply', :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to I18n.t('back'), organization_module_estimation_path(@current_organization, anchor: "activite"), :class => 'btn back' %>
</div>