<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:application) %> </a></li>
    <li><a href="#tabs-2">Budgets </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for([@organization, @application]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

    <div class="row-fluid input-xxlarge">
      <div class="span7">
        <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :forfait_mco, :label => I18n.t('forfait_mco'), :input_html => {:class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :start_date, :label => I18n.t('start_date'), :input_html => {:class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :end_date, :label => I18n.t('end_date'), :input_html => {:class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :month_number, :label => I18n.t('month_number'), :input_html => {:class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
      </div>
      <div class="span5">
        <label class="checkbox"></label>
        <%= f.input :is_ignored, as: :boolean, :label => I18n.t('is_ignored') %>
      </div>
    </div>

      <div class="actions-tabs">
        <% if action_name.in?(%w(new create)) %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=='update' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_path(@organization, :anchor => 'tabs-applications'), :class => 'btn' %>
      </div>
    <% end %>
  </div>

  <div id="tabs-2">

    <% if can? :manage, BudgetType %>
      <div class="buttons">
        <%= link_to I18n.t('create_button'), new_organization_application_path(@organization, @application), :class => 'btn' %>
      </div>
    <% end %>

    <hr>

    <table class="table table-list">
      <tr>
        <th><%= I18n.t :budget_label %></th>     <%# Libelle du budget %>
        <th>Actions</th>
      </tr>
      <% @application.budget_types.each do |bt| %>
        <tr>
          <td><%= bt.name %></td>
          <td class="center">
            <%= link_to '', edit_organization_application_budget_type_path(@organization, @application, bt), :class => 'icon-pencil' %>
            <% if can? :manage, BudgetType %>
              <%= link_to '', organization_application_budget_type_path(@organization, @application, bt), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :title => I18n.t('delete') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

