<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:application) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for([@organization, @application]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

      <div class="row-fluid">
        <div class="span3">
          <%= f.input :name, :label => I18n.t('name'), :input_html => { :class => 'input-xlarge', :autofocus => (controller.action_name == 'new')} %>
        </div>
        <div class="span2">
          <label class="checkbox"></label>
          <%= f.input :is_ignored, as: :boolean, :label => I18n.t('is_ignored') %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span7">
          <%= f.input :coefficient, :label => I18n.t('coefficient'), :input_html => { :class => 'input-xlarge' } %>
        </div>
      </div>

      <div class="actions-tabs">
        <% if action_name.in?(%w(new create)) %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=='update' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_path(@organization, :anchor => 'tabs-applications'), :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>

