<!--Load the Google charts API  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
</script>

<section class="card card-content-bloc estimancy-form">
  <%= simple_form_for([@organization, @budget]) do |f| %>
      <div class="card-body">
          <%= f.error_notification %>
          <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

        <div class="edition-bloc-left">
          <div class="edition-bloc-title">
            <h1>
              <% if controller.action_name == "new" %>
                <%= I18n.t :budget  %>
              <% else %>
                  <%= I18n.t :edit_budget  %>
              <% end %>
            </h1>
          </div>
        </div>

        <div class="edition-bloc-content">
          <div class="edition-bloc-form">
            <div class="row">
                <div class="col">
                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new')} %>
                        <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :sum, :label => false, :input_html => {:class => 'mdl-textfield__input'} %>
                        <label class="mdl-textfield__label" for="sum"><%= I18n.t(:sum_budget) %></label>
                      </div>
                    </div>

                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :field_id, as: :select, collection: @organization.fields.map{|i| [i.name, i.id]}, label: false, selected: @budget.field_id, input_html: { selected: I18n.t(:Indifferent), :class => 'mdl-textfield__input' } %>
                        <label class="mdl-textfield__label" for="field_id"><%= I18n.t(:custom_fields) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :start_date, :as => :string, :label => false, :input_html => { :class => 'date-picker mdl-textfield__input', :value => @budget.start_date.nil? ? I18n.l(Time.parse(Time.now.strftime("%d/%m/%Y"))) : I18n.l(@budget.start_date) } %>
                        <label class="mdl-textfield__label" for="start_date"><%= I18n.t(:start_date_budget) %></label>
                      </div>
                    </div>

                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :end_date, :as => :string, :label => false, :input_html => { :class => 'date-picker mdl-textfield__input', :value => @budget.end_date.nil? ? I18n.l(Time.parse(Time.now.strftime("%d/%m/%Y"))) : I18n.l(@budget.end_date) } %>
                        <label class="mdl-textfield__label" for="start_date"><%= I18n.t(:end_date_budget) %></label>
                      </div>
                    </div>
                  </div>

                  <script>
                      $(document).ready(function () {
                          $(".date-picker").datepicker({
                              language: '<%= set_user_language %>',
                              autoclose: true,
                              todayHighlight: true,
                              todayBtn: true
                          });
                      });
                  </script>
                </div>

              <div class="col">
                <div class="edition-bloc-left">
                  <div class="edition-bloc-title">
                    <h1>
                      <%#= I18n.t :add_budget_types %>
                      <%= I18n.t :budget_types %>
                    </h1>
                  </div>
                </div>

                <div class="form-row">
                  <%#= label_tag I18n.t :budget_type %>
                  <div class="col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= select_tag :budget_budget_type_id, options_for_select(@organization.budget_types.where.not(id: @budget.budget_type_ids).all.map{|i| [i.name, i.id]}, selected: params[:budget_id]), prompt: I18n.t(:select_buget_type) %>
                        <%= hidden_field_tag "selected_budget_type_id" %>
                    </div>
                  </div>

                  <div class="col" style="margin-top: 1em;">
                    <%= submit_tag I18n.t('add_budget_type'), name: "add_budget_type", :class => 'btn btn-primary' %>
                  </div>
                  <script>
                      $("#budget_budget_type_id").change(function(){
                          $("#selected_budget_type_id").val($(this).val());
                      });
                  </script>
                </div>
                <br/>

                <table class="table tablesorter tablesorterPager table-striped table-bordered table-condensed">
                  <tr>
                    <th><%= I18n.t :budget_type %></th>
                    <th><%= I18n.t(:actions) %></th>
                  </tr>

                  <% BudgetBudgetType.where(:organization_id => @organization.id, :budget_id => @budget.id).each do |bbt| %>
                      <% unless bbt.nil? %>
                          <tr>
                            <td><%= bbt.budget_type %></td>
                            <td>
                              <%= link_to raw("<i class='material-icons'>delete</i>"),
                                          organization_budget_destroy_budget_budget_type_path(@organization, @budget, bbt_id: bbt.id),
                                          method: :delete, data: { confirm: I18n.t(:are_you_sure) }, class: "material-icons", :title => I18n.t('delete') %>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                </table>
              </div>
            </div>
            <br/><br/>


            <!-- Applications -->
            <% if controller.action_name == "edit" %>
                <div class="edition-bloc-left">
                  <div class="edition-bloc-title">
                    <h1>
                      <%= I18n.t :applications %>
                    </h1>
                  </div>
                </div>

                <div class="row">

                  <div class="col">
                    <% sum = 0.0 %>
                    <% @organization.applications.each do |app| %>
                        <% sum += app.forfait_mco.to_f %>
                    <% end %>

                    <table class="table tablesorter tablesorterPager table-striped table-bordered table-condensed">
                      <tr>
                        <th><%= I18n.t(:applications) %></th>
                        <th><%= I18n.t(:amount) %></th>
                      </tr>
                      <% @organization.applications.each do |app| %>
                          <% app_budget = ApplicationBudget.where(budget_id: @budget.id, application_id: app.id).first %>
                          <tr>
                            <td>
                            <span style="margin-right: 10px;">
                              <% if app_budget %>
                                <%= check_box_tag("budget_app_check[]", app.id, (@budget.applications.map(&:id).include?(app.id) && app_budget.is_used) ) %>
                              <% else %>
                                <%= check_box_tag("budget_app_check[]", app.id, false ) %>
                              <% end %>
                            </span>
                              <%= app.name %>
                            </td>
                            <td>
                              <%= text_field_tag "budget_app_montant[#{app.id}]", (app_budget.nil? ? nil : app_budget.montant)  %>
                            </td>
                          </tr>
                      <% end %>
                    </table>

                  </div>


                  <div class="col">
                    <div class="span4">
                      <%#= pie_chart data, colors: bt_colors.values.map{|i| "##{i}"}.flatten %>
                      <%= render :partial => 'budgets/g_budget_report_stacked_bar_chart', :locals => { :data => @data, div_id: "stacked_bar_chart_div_budget", budget_name: @budget.name, hAxis_title: "Applications", vAxis_title: "" } %>
                      <%= hidden_field_tag :application_id, params[:application_id] %>
                    </div>
                  </div>
                </div>

            <% end %>

          </div>

              <div class="actions-tabs">
                <% if can? :manage, BudgetType %>
                    <% if action_name.in?(%w(new create)) %>
                        <%= submit_tag I18n.t('save_and_create'), name: "update", :class => 'btn btn-primary' %>
                        <%= submit_tag I18n.t('save'), name: "update", :class => 'btn btn-primary' %>
                    <% elsif action_name == 'edit' || action_name=='update' %>
                        <%= submit_tag I18n.t('save'), name: "update", :class => 'btn btn-primary' %>
                        <%= submit_tag I18n.t('apply'), name: "update", :class => 'btn btn-primary' %>
                    <% end %>
                <% end %>
                <%= link_to I18n.t('back'), organization_setting_path(@organization, anchor: 'tabs-budgets'), :class => 'btn btn-secondary' %>
              </div>
          </div>
        </div>
      </div>
  <% end %>
</section>

