<script type="text/javascript">

    google.charts.setOnLoadCallback(drawStackedBarChart);

    function drawStackedBarChart() {

        var r_data = <%= data.to_json.html_safe %>;

        var data1 = google.visualization.arrayToDataTable([
            ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General', 'Western', 'Literature', { role: 'annotation' } ],
            ['2010', 10, 24, 20, 32, 18, 5, ''],
            ['2020', 16, 22, 23, 30, 16, 9, ''],
            ['2030', 28, 19, 29, 30, 12, 13, '']
        ]);

        var data = google.visualization.arrayToDataTable(r_data);
        var chart_colors = <%= ViewsWidget::WIDGETS_COLORS.to_json.html_safe %>;

        var options = {
            //width: 600,
            //height: 400,
            title: '<%= "" %>',
            subtitle: '<%= "" %>',
            legend: { position: 'top', maxLines: 3 },
            hAxis: {
                title: '<%= hAxis_title %>',
            },
            vAxis: {
                title: '<%= "Budget #{budget_name} (k€)" %>'
            },

            colors: chart_colors,
            bar: { groupWidth: '75%' },
            isStacked: true,
        };

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.ColumnChart(document.getElementById('<%= "stacked_bar_chart_div_budget" %>'));
        chart.draw(view, options);

    }
</script>

<!--<div id='<%#= "stacked_bar_chart_div_budget" %>' style="min-width: 600px; min-height: 400px; max-width: 100%; max-height: 100%;"></div>-->
<div id='<%= "stacked_bar_chart_div_budget" %>' style="min-width: fit-content; min-height: 400px; max-width: 100%; max-height: 100%;"></div>
