<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:currencies) %></a></li>
  </ul>

  <div id="tabs-1">

    <div class="group_button">
      <%= link_to I18n.t('create_button'), new_currency_path, :class => 'btn' %>
    </div>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:alias) %></th>
            <th><%= I18n.t(:description) %></th>
            <th><%= I18n.t(:iso_code) %></th>
            <th><%= I18n.t(:currency_sign) %></th>
            <th><%= I18n.t(:conversion_rate) %></th>
            <th  class="action"><%= I18n.t(:actions) %></th>
          </tr>
      </thead>

      <tbody>
      <% @currencies.each do |currency| %>
          <tr>
            <td><%= currency.name %></td>
            <td><%= currency.alias %></td>
            <td><%= currency.description %></td>
            <td><%= currency.iso_code %></td>
            <td><%= currency.sign %></td>
            <td><%= currency.conversion_rate %></td>
            <td class="center">
              <%= link_to '', edit_currency_path(currency), :class => 'icon-pencil', :title => I18n.t('edit') %>
              <%= link_to '', currency, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :style => 'color:red', :title => I18n.t('delete') %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
      </tbody>
    </table>
  </div>
</div>









