<section class="card card-content-bloc estimancy-form">
  <div class="mb-5">
    <div class="effort-bloc">

        <div class="edition-bloc-title">
          <ul>
            <li><h4><a href="#tabs-1"><%= I18n.t(:languages) %> </a></h4></li>
          </ul>
        </div>

        <div id="tabs-1">
          <div class="edition-bloc-content">
            <div class="edition-bloc-form">
              <%= simple_form_for(@language) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-row">
                    <div class="col-8">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input form-control', :autofocus => (controller.action_name == 'new')} %>
                        <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-8">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :locale, :label => false, :input_html => {:class => 'mdl-textfield__input form-control'} %>
                        <label class="mdl-textfield__label" for="locale"><%= I18n.t(:local) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-8">
                      <div class="actions-tabs">
                        <% if action_name == 'new' || action_name=="create" %>
                            <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
                            <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                        <% elsif action_name == 'edit' || action_name=="update" %>
                            <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                            <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
                        <% end %>
                        <%= link_to I18n.t('back'), languages_path, :class => 'btn' %>
                      </div>
                    </div>
                  </div>

              <% end %>
            </div>
          </div>
        </div>

      </div>

    </div>
</section>
