<section class="card card-content-bloc estimancy-form">
  <div class="mb-5">
    <div class="effort-bloc">

      <br>

      <div class="edition-bloc-left">
        <div class="edition-bloc-title">
          <h4><a href="#tabs-1"><%= I18n.t(:wbs_activity_elements) %> </a></h4>
        </div>
      </div>

      <div class="tab-content" id="tabs-1">
        <div class="card-body">
          <div class="edition-bloc-content">
            <div class="edition-bloc-form">

              <%= simple_form_for(@wbs_activity_element) do |f| %>

                <%= f.error_notification %>

                <%= f.input :organization_id, :as => :hidden, :input_html => { value:  @organization.id} %>

                  <div class="col-5">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input form-control', :autofocus => (controller.action_name == 'new')} %>
                      <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                    </div>
                  </div>

                  <%= f.input :wbs_activity_id, :as => :hidden, :label => 'WBS-Activity', :input_html => {:value => @wbs_activity.id} %>

                  <div class="col-5">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <%= f.input :parent_id, :label => false, :as => :select, :collection => @potential_parents.nil? ? [] : @potential_parents, :selected => @selected_parent.nil? ? '' : @selected_parent.id, :input_html => {:class => 'mdl-textfield__input'} %>
                      <label class="mdl-textfield__label" for="currency_id"><%= I18n.t(:parent) %></label>
                    </div>
                  </div>

                  <%= hidden_field_tag :selected_parent_id, params[:selected_parent_id] %>

                  <div class="col-5">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <%= f.input :position, :label => false, :input_html => {:class => 'mdl-textfield__input form-control'} %>
                      <label class="mdl-textfield__label" for="position"><%= 'Position' %></label>
                    </div>
                  </div>

                  <div class="col-5">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <%= f.input :description, :label => false, :input_html => {:class => 'mdl-textfield__input form-control', :rows => 3} %>
                      <label class="mdl-textfield__label" for="description"><%= I18n.t('description') %></label>
                    </div>
                  </div>

                  <div class="col-5">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <%= f.input :service_id, :label => false, :as => :select, :collection => @services, :selected => @wbs_activity_element.service_id, :input_html => {:class => 'mdl-textfield__input form-control'} %>
                      <label class="mdl-textfield__label" for="service_id"><%= I18n.t('service_id') %></label>
                    </div>
                  </div>

                  <div class="actions-tabs">
                    <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                    <%= link_to I18n.t('back'), edit_wbs_activity_path(@wbs_activity, :anchor => 'tabs-2'), :class => 'btn btn-secondary' %>
                  </div>

              <% end %>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>




