<table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">

  <thead>
    <tr>
      <th><%= I18n.t(:first_name) %></th>
      <th><%= I18n.t(:last_name) %></th>
      <th><%= I18n.t(:login_name) %></th>
      <th><%= I18n.t(:organization) %></th>
      <th><%= I18n.t(:email) %></th>
      <th><%= I18n.t(:last_login) %></th>
      <th class="filter-select"><%= I18n.t(:authentication) %></th>
      <th><%= I18n;t(:Confirmed_at)%></th>
      <th><%= I18n.t(:locked_at)%></th>
      <th><%= I18n.t(:subscription_end_date)%></th>
      <th class="action" style="width: 110px"><%= I18n.t(:actions) %></th>
    </tr>
  </thead>

  <tbody>
    <% if @users.empty? %>
      <p style="text-align:center;"> <%= I18n.t('empty') %></p>
    <% else %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.login_name %></td>
          <td><%= simple_format(user.organizations.join("\n")) %></td>
          <td><%= user.email %></td>
          <td class="center"><%= I18n.l(user.last_sign_in_at.to_date) unless user.last_sign_in_at.nil? %></td>
          <td><%= user.auth_method %></td>

          <td class="center"><%= user.confirmed_at.nil? ? I18n.t('not_confirmed') : I18n.l(user.confirmed_at.to_date) %></td>
          <td class="center"><%= user.locked_at.nil? ? I18n.t(:unlocked) : I18n.l(user.locked_at.to_date) %></td>
          <td class="center"><%= user.subscription_end_date.nil? ? "-" : I18n.l(user.subscription_end_date.to_date) %></td>

          <td style="min-width: 105px;" class="align-center">
            <% if current_user.super_admin == true %>
              <% if user.locked_at.nil? %>
                <%= link_to('Lock', unlock_user_path(user), :class => 'icon-unlock', :title => I18n.t('lock')) %>
              <% else %>
                <%= link_to('Unlock', unlock_user_path(user), :class => 'icon-lock', :title => I18n.t('unlock')) %>
              <% end %>
              <% if user.confirmed_at.nil? %>
                <%= link_to('Confirm', confirm_user_path(user), :class => 'icon-remove-sign', :title => I18n.t('confirm')) %>
              <% else %>
                <%= link_to('Unconfirm', confirm_user_path(user), :class => 'icon icon-check', :title => I18n.t('unconfirm')) %>
              <% end %>
              <%= link_to('Edit', edit_user_path(user, :anchor => 'tabs-1'), :class => 'icon-pencil', :title => I18n.t('edit')) %>
              <%= link_to('Delete', user, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :title => I18n.t('delete')) %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>

    <% end %>
  </tbody>
</table>

