<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Demandes
      </a>
    </li>
  </ul>

  <div id="tabs-1">
    <div class="row-fluid">
      <div class="span9">
        <%= simple_form_for([@organization, @demand]) do |f| %>
          <%= f.error_notification %>
          <%= f.input :organization_id, as: :hidden, input_html: { :value => @organization.id } %>

          <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
          <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :business_need, :label => I18n.t('business_need'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :cost, :label => I18n.t('cost'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :demand_type_id, as: :select, collection: @organization.demand_types, input_html: { class: 'input-xxlarge' } %>
          <%= f.input :application_id, as: :select, collection: @organization.applications, input_html: { class: 'input-xxlarge' } %>
          <%= f.input :demand_status_id, as: :select, collection: @organization.demand_statuses, input_html: { class: 'input-xxlarge' }  %>

          <%= f.input :attachment, :label => I18n.t('attachment'), as: :file, input_html: { class: 'input-xxlarge' }  %>

          <% unless @file.nil? %>
            <% lien = '/uploads/demand/attachment/'+ @demand.id.to_s + '/' + @file.to_s %>
            <%= link_to 'Fichiers', lien %>
          <% end %>

          <div class="actions-tabs">
            <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
            <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
            <% end %>
            <%= link_to I18n.t('back'), :back, :class => 'btn btn-primary' %>
          </div>

          <hr>

        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <table class="table">
          <tr>
            <th>Services</th>
            <th>Demandes liée</th>
            <th>Livrables</th>
            <th>Date contractuelle</th>
            <th>Date attendue</th>
            <th>Date réelle</th>
            <th>Etat</th>
            <th>Retard</th>
          </tr>
          <tr>
            <% ServiceDemandLivrable.where(organization_id: @organization.id).each do |sdl| %>
              <td>
                <%= sdl.service_id %>
              </td>
              <td>
                <%= sdl.demand_id %>
              </td>
              <td>
                <%= sdl.livrable_id %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>

    <% unless @projects.nil? %>
      <div class="row-fluid">
        <div class="span12">
          <h4>
            Liste des devis de la demande <%= @demand %>
          </h4>
          <%= render :partial => 'organizations/organization_demand_projects', object: [@organization, @projects] %>
        </div>
      </div>
    <% end %>
  </div>
</div>

