<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Demandes
      </a>
    </li>
  </ul>
  <div id="tabs-1">
    <%= simple_form_for([@organization, @demand]) do |f| %>
      <div class="row-fluid">
        <div class="span9">
          <%= f.error_notification %>
          <%= f.input :organization_id, as: :hidden, input_html: { :value => @organization.id } %>

          <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
          <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :business_need, :label => I18n.t('business_need'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :cost, :label => I18n.t('cost'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :demand_type_id, as: :select, collection: @organization.demand_types, input_html: { class: 'input-xxlarge' } %>
          <%= f.input :application_id, as: :select, collection: @organization.applications, input_html: { class: 'input-xxlarge' } %>

          <%= f.input :demand_status_id, as: :select, collection: @demand.get_demand_statuses(@organization), input_html: { class: 'input-xxlarge' }  %>

          <%= f.input :attachment, :label => I18n.t('attachment'), as: :file, input_html: { class: 'input-xxlarge' }  %>

          <% if @demand.attachment.nil? || controller.action_name == "new" %>
            <p>Il n'y a aucun document attaché à cette demande.</p>
          <% else %>
            <%= link_to File.basename(@demand.attachment.to_s), @demand.attachment.to_s %>
            <%= link_to '', delete_path(demand_id: @demand.id), method: :post, :class => 'fa fa-trash', :title => I18n.t('delete') %>
          <% end %>

          <div class="actions-tabs">
            <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
            <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
            <% end %>
            <%= link_to I18n.t('back'), :back, :class => 'btn btn-primary' %>
          </div>

          <hr>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <table class="table">
            <tr>
              <th>Services</th>
              <th>Demandes liée</th>
              <th>Livrables</th>
              <th>Date contractuelle</th>
              <th>Date attendue</th>
              <th>Date réelle</th>
              <th>Etat</th>
              <th>Délivré</th>
              <th>Retard</th>
            </tr>
            <% @organization.services.each do |service| %>
              <% sdl = ServiceDemandLivrable.where(organization_id: @organization.id, service_id: service.id).first %>
              <tr>
                <td>
                  <%= link_to service.name, "#" %>
                  <%= hidden_field_tag "service_#{service.id}", service.id %>
                </td>
                <td>
                  -
                </td>
                <td>
                  <span class="span2">
                    <%= select_tag "livrable[#{service.id}]", options_for_select(@organization.livrables.map{|i| [i.name, i.id]}, selected: sdl.livrable_id), prompt: "Aucun", style: "width: 130px" %>
                  </span>
                </td>
                <td>
                  <%= text_field_tag "contract_date[#{service.id}]", sdl.contract_date, class: "date-picker", style: "width: 80px" %>
                </td>
                <td>
                  <%= text_field_tag "expected_date[#{service.id}]", sdl.expected_date, class: "date-picker", style: "width: 80px" %>
                </td>
                <td>
                  <%= text_field_tag "actual_date[#{service.id}]", sdl.actual_date, class: "date-picker", style: "width: 80px" %>
                </td>
                <td class="span2">
                  <%= select_tag "state[#{service.id}]", options_for_select(["En cours", "Accepté", "Refusé"], selected: sdl.state), prompt: "Aucun", style: "width: 80px" %>
                </td>
                <td class="span2">
                  <%= select_tag "delivered[#{service.id}]", options_for_select(["Oui", "Non"], selected: sdl.delivered), prompt: "Aucun", style: "width: 80px" %>
                </td>
                <td class="span2">
                  <span class="fa fa-dot-circle-o green"></span>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
    <hr>

    <% unless @projects.nil? %>
      <div class="row-fluid">
        <div class="span12">
          <h4>
            Liste des devis de la demande <%= @demand %>
          </h4>
          <%= render :partial => 'organizations/organization_demand_projects', object: [@organization, @projects] %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".date-picker").datepicker({
      language: '<%= set_user_language %>',
      autoclose: true,
      todayHighlight: true,
      todayBtn: true
    });
  });
</script>

