<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Demandes
      </a>
    </li>
  </ul>
  <div id="tabs-1">
    <%= simple_form_for([@organization, @demand]) do |f| %>
      <div class="row-fluid">
        <div class="span6">
          <%= f.error_notification %>
          <%= f.input :organization_id, as: :hidden, input_html: { :value => @organization.id } %>

          <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
          <%= f.input :business_need, :label => I18n.t('business_need'), :input_html => {:class => 'input-xxlarge' } %>
          <%= f.input :demand_type_id, as: :select, label: "Type de demande", collection: @organization.demand_types, input_html: { class: 'input-xxlarge', disabled: (controller.action_name == "edit") } %>

          <%= f.input :application_id, as: :select, label: "Application associée", collection: @organization.applications, input_html: { class: 'input-xxlarge' } %>

          <% if controller.action_name == "edit" %>
            <% if @demand.demand_status.nil? %>
              <%= f.input :demand_status_id,
                          as: :select,
                          label: "Statut de la demande",
                          collection: [[@demand.demand_type.demand_status, @demand.demand_type.demand_status_id]],
                          input_html: { class: 'input-xxlarge' } %>
            <% else %>
              <%= f.input :demand_status_id,
                          as: :select,
                          label: "Statut de la demande",
                          collection: @demand.get_demand_statuses(@organization),
                          input_html: { class: 'input-xxlarge' } %>
            <% end %>
          <% end %>

          <div class="actions-tabs">
            <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
            <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
            <% end %>
            <%= link_to I18n.t('back'), :back, :class => 'btn btn-primary' %>
          </div>
        </div>

        <div class="span6">
          <%= f.input :attachment, :label => false, as: :file, input_html: { class: 'input-xxlarge' }  %>
          <% if @demand.attachment.to_s.blank? || controller.action_name == "new" %>
            <p>Il n'y a aucun document attaché à cette demande.</p>
          <% else %>
            Pièces jointes à la demande <br>
            <%= link_to File.basename(@demand.attachment.to_s), @demand.attachment.to_s, target: "_blank" %> -
            <%= link_to '', delete_path(demand_id: @demand.id), method: :post, :class => 'fa fa-trash', :title => I18n.t('delete') %>
          <% end %>

          <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge' } %>

          <% unless @demand.new_record? %>
            <% if @demand.demand_type.cost_from == "Projet" %>
              <%= f.input :cost, :label => "Coût", :input_html => {:class => 'input-xxlarge' } %>
            <% else %>
              <%= f.input :cost, :label => "Coût", :input_html => {:class => 'input-xxlarge', disabled: true } %>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span12">

          <h4>
            Liste des livrables de la demande <%= @demand %>
          </h4>
          <hr>

          <table class="table table-striped table-bordered table-condensed">
            <tr>
              <th class="center">Sélect.</th>
              <th class="center">
                <%= link_to raw("Services &and;"), "#", style: "font-weight: bold; " %>
              </th>
              <th class="center">
                <%= link_to raw("Demandes &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Livrables &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Date contract. &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Date attendue &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Date réelle &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Etat &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Délivré &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
              <th class="center">
                <%= link_to raw("Retard &and;&or;"), "#", style: "font-weight: normal; " %>
              </th>
            </tr>
            <% @organization.services.each do |service| %>
              <% sdl = ServiceDemandLivrable.where(organization_id: @organization.id, service_id: service.id).first %>
              <% unless sdl.nil? %>
                <% unless sdl.service.nil? %>
                  <% sdl_service_livrable = sdl.service.livrable %>
                  <tr>
                    <td>
                      <%= check_box_tag "selected[#{service.id}]", true, sdl.selected %>
                    </td>
                    <td>
                      <%= link_to service.name, "#" %>
                      <%= hidden_field_tag "service_#{service.id}", service.id %>
                    </td>
                    <td>
                      -
                    </td>
                    <td>
                        <%= sdl_service_livrable %>
                    </td>
                    <td class="center">
                      <% unless sdl.actual_date.nil? %>
                        <%= text_field_tag "contract_date[#{service.id}]", sdl.contract_date.strftime("%d/%m/%Y"), class: "date-picker", style: "width: 80px" %>
                      <% end %>
                    </td>
                    <td class="center">
                      <% unless sdl.actual_date.nil? %>
                        <%= text_field_tag "expected_date[#{service.id}]", sdl.expected_date.strftime("%d/%m/%Y"), class: "date-picker", style: "width: 80px" %>
                      <% end %>
                    </td>
                    <td class="center">
                      <% unless sdl.actual_date.nil? %>
                        <%= text_field_tag "actual_date[#{service.id}]", sdl.actual_date.strftime("%d/%m/%Y"), class: "date-picker", style: "width: 80px" %>
                      <% end %>
                    </td>
                    <td class="span2 center">
                      <% unless sdl_service_livrable.nil? || sdl.nil? %>
                        <%= select_tag "state[#{service.id}]", options_for_select(sdl_service_livrable.state.split(','), selected: sdl.state), prompt: "Aucun", style: "width: 80px" %>
                        <% end %>
                    </td>
                    <td class="span2 center">
                      <span class="fa fa-circle red"></span>
                    </td>
                    <td class="span2 center">
                      <% unless sdl.actual_date.nil? || sdl.expected_date.nil? %>
                        <% if sdl.actual_date > sdl.expected_date %>
                          <span class="fa fa-circle red"></span>
                        <% else %>
                          <span class="fa fa-circle green"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-circle"></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>

          <div class="actions-tabs">
            <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
            <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
            <% end %>
            <%= link_to I18n.t('back'), :back, :class => 'btn btn-primary' %>
          </div>

        </div>
      </div>
    <% end %>

    <hr>

    <% unless @projects.nil? %>
      <div class="row-fluid">
        <div class="span12">
          <h4>
            Liste des devis de la demande <%= @demand %>
          </h4>
          <hr>
          <% if @demand.demand_status.to_s == "En chiffrage" %>
            <% if can? :create_project_from_template, Project %>
              <%= link_to I18n.t('new_project_from'), projects_from_path(organization_id: @organization.id, demand_id: @demand.id), :class => 'btn' %>
            <% end %>

            <% if can? :create_project_from_scratch, Project %>
              <%= link_to I18n.t('create_button'), new_project_path(organization_id: @organization.id, demand_id: @demand.id), :class => 'btn' %>
            <% end %>
            <hr>
          <% end %>
          <%= render :partial => 'organizations/organization_demand_projects', object: [@organization, @projects] %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".date-picker").datepicker({
      language: '<%= set_user_language %>',
      autoclose: true,
      todayHighlight: true,
      todayBtn: true
    });
  });
</script>

