<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Listes des demandes
      </a>
    </li>
  </ul>

  <div id="tabs-1">
    <div class="group_button">
      <%= link_to "Créer une demande", new_organization_demand_path(@organization), class: "btn" %>
    </div>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Besoin Métier
          </th>
          <th>
            Application
          </th>
          <th>
            Statut
          </th>
          <th>
            Coût
          </th>
          <th>
            Fichier joint
          </th>
        </tr>
      </thead>

      <tbody>
        <% @demands.each do |demand| %>
          <tr>
            <td><%= link_to demand.name, organization_demand_estimations_path(@organization, demand) %></td>
            <td><%= demand.description.to_s.truncate(50) %></td>
            <td><%= demand.business_need %></td>
            <td><%= demand.application %></td>
            <td><%= demand.demand_status %></td>
            <td><%= demand.cost %></td>
            <td><%= demand.attachment.to_s %></td>
            <td>
              <%= link_to '', edit_organization_demand_path(@organization, demand), class: 'fa fa-pencil' %>
              <%= link_to '', '#', confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>