<div class="d-flex align-items-center mt-4">
  <div style="flex: 1">
    <h1>
      <%= I18n.t :demands_list %>
    </h1>
  </div>
  <%= link_to I18n.t('create_a_demand'), new_organization_demand_path(@organization), class: "btn btn-primary btn-estimancy" %>
  <%= link_to I18n.t('export_billing'), organization_export_billing_path(@organization), class: "btn btn-primary btn-estimancy" %>
  <%= link_to I18n.t('SLA_synthesis'), organization_demand_dashboard_path(@organization), class: "btn btn-primary btn-estimancy" %>
</div>


<table class="table table-list">

  <thead>
    <tr>
      <th>
        <%= I18n.t :name %>
      </th>
      <th>
        <%= I18n.t :demand_type %>
      </th>
      <th>
        Application
      </th>
      <th>
        <%= I18n.t :state %>
      </th>
      <th>
        <%= I18n.t :business_need %>
      </th>
      <th>
        Date
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>

  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= link_to demand.name, edit_organization_demand_path(@organization, demand) %></td>
        <td><%= demand.demand_type.nil? ? nil : demand.demand_type.name %></td>
        <td><%= demand.application %></td>
        <td><%= demand.demand_status.nil? ? @organization.demand_statuses.first : demand.demand_status %></td>
        <td><%= demand.business_need %></td>
        <td><%= demand.created_at.strftime("%d/%m/%Y") %></td>
        <td class="center">
          <%= link_to raw("<i class='material-icons'>edit</i>"), edit_organization_demand_path(@organization,demand), :class => 'material-icons', :title => I18n.t('edit')  %>
          <%= link_to raw("<i class='material-icons'>delete</i>"), organization_demand_path(@organization, demand), confirm: I18n.t('are_you_sure'),
                      method: :delete, :class => 'material-icons', :title => I18n.t('delete')  %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <%= render :partial => 'layouts/footer_table' %>
</table>

  </div>
</div>