<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Listes des demandes
      </a>
    </li>
  </ul>

  <div id="tabs-1">
    <div class="group_button">
      <%= link_to "Créer une demande", new_organization_demand_path(@organization), class: "btn" %>
      <%= link_to "Exporter la facturation", organization_export_billing_path(@organization), class: "btn" %>
    </div>

    <br>
    <div class="row-fluid">
      <div class="span6">
        <table class="table">
          <tr class="center">
            <th>Nom</th>
            <th>Temps moyen</th>
            <th>Pourcentage OK</th>
          </tr>
          <% @organization.agreements.each do |a| %>
            <tr>
              <td class="center">
                <%= a.name %>
              </td>
              <td class="center">
                <% ad = AgreementDemand.where(organization_id: @organization.id, agreement_id: a.id).map(&:elapsed_time) %>
                <% unless ad.count == 0 %>
                  <%= (ad.sum / ad.count).to_i.round(2).to_i %> heures
                <% end %>
              </td>
              <td class="center">
                <% ad = AgreementDemand.where(organization_id: @organization.id, delayed: true, agreement_id: a.id).all.count %>
                <% total_d = AgreementDemand.where(organization_id: @organization.id, agreement_id: a.id).all.count %>
                <% unless total_d == 0 %>
                  <%= (ad / total_d) * 100 %> %
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>
    <br>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">

      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Type de demande
          </th>
          <th>
            Description
          </th>
          <th>
            Besoin Métier
          </th>
          <th>
            Application
          </th>
          <th>
            Statut
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>

      <tbody>
        <% @demands.each do |demand| %>
          <tr>
            <td><%= link_to demand.name, edit_organization_demand_path(@organization, demand) %></td>
            <td><%= demand.demand_type.name %></td>
            <td><%= demand.description.to_s.truncate(50) %></td>
            <td><%= demand.business_need %></td>
            <td><%= demand.application %></td>
            <td><%= demand.demand_status.nil? ? @organization.demand_statuses.first : demand.demand_status %></td>
            <td><%= demand.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>