<p id="notice"><%= notice %></p>

<h1>Listing Indicator Dashboards</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicator_dashboards.each do |indicator_dashboard| %>
      <tr>
        <td><%= indicator_dashboard.organization_id %></td>
        <td><%= indicator_dashboard.name %></td>
        <td><%= indicator_dashboard.description %></td>
        <td><%= link_to 'Show', indicator_dashboard %></td>
        <td><%= link_to 'Edit', edit_indicator_dashboard_path(indicator_dashboard) %></td>
        <td><%= link_to 'Destroy', indicator_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicator dashboard', new_indicator_dashboard_path %>
