<div class="tabs">
  <ul>

    <li>
      <a href="#tabs-1">
        Type de demande
      </a>
    </li>

    <li>
      <a href="#tabs-2">
        Services
      </a>
    </li>

    <li>
      <a href="#tabs-3">
        Facturation
      </a>
    </li>

    <li>
      <a href="#tabs-4">
        Configuration des SLA
      </a>
    </li>

    <li>
      <a href="#tabs-5">
        Workflow des statuts
      </a>
    </li>

  </ul>

  <%= simple_form_for([@organization, @demand_type]) do |f| %>

    <div id="tabs-1">
      <%= f.error_notification %>

      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
      <%= f.input :description, :as => :text, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge'} %>

      <%= f.input :cost_from, as: :select, collection: ["Devis", "Saisie", "Cout associé à l'application"], :label => "Provenance coût à facturer", :input_html => {:class => 'input-xlarge'} %>
      <%= f.input :demand_status_id, as: :select, collection: @demand_statuses.map{|i| [i.name, i.id]} , :label => "Statut de départ", :input_html => {:class => 'input-xlarge'} %>

      <%= f.input :origin_target_mode, as: :select, collection: ["Demande / Demande", "Demande / Devis", "Devis / Demande", "Devis / Devis"] , :label => "Origine / Cible", :input_html => {:class => 'input-xlarge'} %>

      <%= f.input :organization_id, as: :hidden, input_html: { :value => @organization.id } %>

      <hr>

      <div class="actions-tabs">
        <% if action_name == 'new' || action_name=="create" %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=="update" %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_demand_path(@organization), :class => 'btn' %>
      </div>

    </div>

    <div id="tabs-2">
      <h4>
        Cochez les services associés à ce type de demande
      </h4>
      <br>
      <div class="row-fluid">
        <div class="span4">
          <%= f.collection_check_boxes(:service_ids, Service.where(organization_id: @organization.id).all, :id, :to_s) do |b| %>
            <div class="row-fluid">
              <%= b.label(class: "check_box") do %>
                <div class="span1">
                  <%= b.check_box(class: "check_box") %>
                </div>
                <div class="span11">
                  <%= b.object.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="actions-tabs">
        <hr>
        <% if action_name == 'new' || action_name=="create" %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=="update" %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_demand_path(@organization), :class => 'btn' %>
      </div>

    </div>

    <div id="tabs-3">

      <h4>
        Configuration des élements de facturation
      </h4>
      <br>

      <div class="row-fluid">

        <div class="span3">
          <%= f.input :fixed_billing, :label => "Facturation fixe", :input_html => {:class => 'input-xlarge'} %>
          <%= f.input :deadlined_billing, :label => "Facturation sur échéance", :input_html => {:class => 'input-xlarge'} %>

          <%= f.input :billing, as: :select, collection: ["Echéance", "Abonnement", "Sans facturation"], :label => "Billing" ,
                      :input_html => {:class => 'input-xlarge'} %>

        </div>

        <div class="span4">
          <table class="table">
            <tr>
              <th>Statut</th>
              <th>Pourcentage</th>
            </tr>
            <% @demand_statuses.each do |ds| %>
              <tr>
                <td>
                  <%= ds.name %>
                </td>
                <td class="span3">
                  <%
                    dsdt = DemandStatusesDemandType.where(organization_id: @organization.id,
                                                            demand_type_id: @demand_type.id,
                                                          demand_status_id: ds.id).first
                  %>
                  <%= text_field_tag "percent_#{ds.id}", dsdt.nil? ? nil : dsdt.percent %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="actions-tabs">
        <hr>
        <% if action_name == 'new' || action_name=="create" %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=="update" %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_demand_path(@organization), :class => 'btn' %>
      </div>


    </div>

    <div id="tabs-4">
      <h4>
        Configuration des élements de calcul des SLA
      </h4>
      <br>
      <div class="row-fluid">
        <div class="span4">
          <table class="table">
            <tr>
              <th></th>
              <% @organization.severities.each do |severity| %>
                <th class="center">
                  <%= severity.name %>
                </th>
              <% end %>
              <th>Départ</th>
              <th>Fin</th>
            </tr>
            <% @organization.criticalities.each do |criticality| %>
              <tr>
                <th>
                  <%= criticality.name %>
                </th>
                <% @organization.severities.each do |severity| %>
                  <td>
                    <%
                      cs = CriticalitySeverity.where(organization_id: @organization.id,
                                                     demand_type_id: @demand_type.id,
                                                     criticality_id: criticality.id,
                                                     severity_id: severity.id).first
                    %>
                    <%= text_field_tag "duration_#{criticality.id}_#{severity.id}", cs.nil? ? nil : cs.duration, class: "input-small" %>
                    <%= text_field_tag "priority_#{criticality.id}_#{severity.id}", cs.nil? ? nil : cs.priority, class: "input-small" %>
                  </td>
                <% end %>
                <td>
                  <%
                    cs = CriticalitySeverity.where(organization_id: @organization.id,
                                                   demand_type_id: @demand_type.id,
                                                   criticality_id: criticality.id).first
                  %>
                  <%
                    grouped_options = {
                        'Demandes' => @organization.demand_statuses.map{ |i| [i.name, i.id] },
                        'Devis' => @organization.estimation_statuses.map{ |i| [i.name, i.id] } }
                  %>
                  <%= select_tag "origin_status_#{criticality.id}", grouped_options_for_select(grouped_options, selected: cs.nil? ? nil : cs.origin_status_id) %>
                </td>
                <td>
                  <%= select_tag "target_status_#{criticality.id}", grouped_options_for_select(grouped_options, selected: cs.nil? ? nil : cs.target_status_id) %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="actions-tabs">
        <hr>
        <% if action_name == 'new' || action_name=="create" %>
          <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
        <% elsif action_name == 'edit' || action_name=="update" %>
          <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_demand_path(@organization), :class => 'btn' %>
      </div>

    </div>

  <% end %>

  <div id="tabs-5">
    <%= form_tag '/set_demand_status_workflow', :method => 'POST', :class => 'simple_form' do %>

      <%= hidden_field_tag "organization_id", @organization.id %>
      <%= hidden_field_tag "demand_type_id", @demand_type.id %>
      <table class="table table-striped table-bordered table-condensed permissions">
        <tr>
          <th><%= I18n.t(:demands_statuses) %></th>
          <% @demand_statuses.each do |status| %>
            <th><%= status.name %></th>
          <% end %>
        </tr>

        <% @demand_statuses.order("status_number ASC").each do |demand_status| %>
          <tr>
            <td><%= demand_status.name %></td>
            <% @demand_statuses.order("status_number ASC").each do |status| %>
              <% if demand_status == status %>
                <td class="center">
                  <%= check_box_tag("status_workflow[#{status.id}][]", demand_status.id, true, :disabled => true ) %>
                </td>
              <% else %>
                <td class="center">
                  <%= check_box_tag("status_workflow[#{status.id}][]", demand_status.id, (status.demand_to_transition_statuses.map(&:id).include? demand_status.id)) %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>

      <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
      <%= submit_tag I18n.t('cancel'),  :class => 'btn' %>
    <% end %>
  </div>

</div>