
<script type="text/javascript">

    google.charts.setOnLoadCallback(drawColumnChart);
    function drawColumnChart() {

        <%# colors = ['#e5e4e2', '#C5A5CF', '#b87333', 'silver', 'gold', '#76A7FA', '#703593', '#871B47', '#C5A5CF', '#BC5679'] %>
        <%# colors = ViewsWidget::WIDGETS_COLORS %>
        <%# r_data.each_with_index { |value, i | value << colors[i] }  %>
        <%# r_data.insert(0, ["Date", "#{iwidget.name}", { role: "style" } ]) %>

        var r_data = <%= r_data.to_json.html_safe %>;

        var data = google.visualization.arrayToDataTable(r_data);

        var view = new google.visualization.DataView(data);

//        view.setColumns([0, 1,
//            { calc: "stringify",
//                sourceColumn: 1,
//                type: "string",
//                role: "annotation" },
//            2]);

        var options = {
            //title: '<%#= "Date" %>',
            //width: 600,
            //height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "right", alignment: 'start', orientation: 'horizontal' },

            hAxis: {
                title: '<%= iwidget.x_axis_label %>',
            },
            vAxis: {
                minValue: 0,
                title: '<%= iwidget.y_axis_label %>'
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('<%= "column_div_#{iwidget.id}" %>'));
        chart.draw(view, options);
    }
</script>

<!--<div id='<%#= "column_chart_div_#{widget_id}" %>' style="width: 900px; height: 300px;"></div>-->
<div id='<%= "column_div_#{iwidget.id}" %>' style="min-width: 800px; min-height: 400px; max-width: 100%; max-height: 100%;"></div>

