<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator dashboard:</strong>
  <%= @iwidget.indicator_dashboard_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @iwidget.name %>
</p>

<p>
  <strong>Kpi:</strong>
  <%= @iwidget.kpi_id %>
</p>

<p>
  <strong>Indicator output:</strong>
  <%= @iwidget.indicator_output_id %>
</p>

<p>
  <strong>Output type:</strong>
  <%= @iwidget.output_type %>
</p>

<p>
  <strong>Serie a kpi:</strong>
  <%= @iwidget.serie_a_kpi_id %>
</p>

<p>
  <strong>Serie a output:</strong>
  <%= @iwidget.serie_a_output %>
</p>

<p>
  <strong>Serie b kpi:</strong>
  <%= @iwidget.serie_b_kpi_id %>
</p>

<p>
  <strong>Serie b output:</strong>
  <%= @iwidget.serie_b_output %>
</p>

<p>
  <strong>Serie c kpi:</strong>
  <%= @iwidget.serie_c_kpi_id %>
</p>

<p>
  <strong>Serie c output:</strong>
  <%= @iwidget.serie_c_output %>
</p>

<p>
  <strong>Serie d kpi:</strong>
  <%= @iwidget.serie_d_kpi_id %>
</p>

<p>
  <strong>Serie d output:</strong>
  <%= @iwidget.serie_d_output %>
</p>

<p>
  <strong>Icon class:</strong>
  <%= @iwidget.icon_class %>
</p>

<p>
  <strong>Color:</strong>
  <%= @iwidget.color %>
</p>

<p>
  <strong>Position x:</strong>
  <%= @iwidget.position_x %>
</p>

<p>
  <strong>Position y:</strong>
  <%= @iwidget.position_y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @iwidget.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @iwidget.height %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @iwidget.comment %>
</p>

<p>
  <strong>Equation:</strong>
  <%= @iwidget.equation %>
</p>

<p>
  <strong>Min value:</strong>
  <%= @iwidget.min_value %>
</p>

<p>
  <strong>Max value:</strong>
  <%= @iwidget.max_value %>
</p>

<p>
  <strong>Validation text:</strong>
  <%= @iwidget.validation_text %>
</p>

<p>
  <strong>Signalize:</strong>
  <%= @iwidget.signalize %>
</p>

<%= link_to 'Edit', edit_iwidget_path(@iwidget) %> |
<%= link_to 'Back', iwidgets_path %>
