<div class="grid-stack-item" data-view_widget_id="<%= kpi_config.id %>" data-gs-x="<%= kpi_config.position_x %>" data-gs-y="<%= kpi_config.position_y %>" data-gs-width="<%= 3 %>" data-gs-height="1">
  <div class="grid-stack-item-content">

    <div class="card card-widget card-indicator card-indicator-with-module" style="padding-right: 5px;">
      <div class="card-body">

        <div class="card-indicator-text">
          <!--<div class="dragme">-->
            <!--<i class='material-icons grip' style="float: right;  margin-right: -1.5rem">drag_indicator</i>-->
          <!--</div>-->

          <%= "#{kpi_config.name}  : #{I18n.t(kpi_config.output_type)}" %>

        </div>
        <div class="card-indicator-label">
          <span style="margin-top: 0.9rem">
            <%= @productivity_indicators["#{kpi_config.id}"].nil? ? '-' : @productivity_indicators["#{kpi_config.id}"] %> <%= "(#{kpi_config.kpi_unit})" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

