<!--
<body style="background-color: #f8f9fa">
<div class="page-header page-detail-header">
  <div class="container">
    <div class="widget-box collapsible" >
     <div class="page-header page-detail-header">
          <a href="#" class="back-button"><i class="material-icons">arrow_back</i>Retour <br> à la liste</a>
          <h1><%= @project.title %></h1>
          <span class="page-header-status">En cours</span>
          <div class="page-header-buttons">
        <button type="button" class="btn btn-primary btn-estimancy">éditer</button>
        <button type="button" class="btn btn-primary btn-estimancy">Exporter</button>  </div>
    </div>
-->
    <header class="header">
      <nav class="navbar navbar-expand-sm bg-white">
        <div class="container">
            <div class="dropdown">
              <a href="#" class="back-button">
                <i class="material-icons">arrow_back</i>
                Retour à la liste
              </a>
            </div>
            <div class="dropdown">
              <h1><%= @project.title.to_s + @project.estimation_status.to_s %></h1>
            </div>
        </div>
      </nav>
    </header>




        <!--
        <div class="buttons">
             if @project.allow_export_pdf == true %>
              link_to "Exporter en PDF", export_dashboard_path(format: "pdf", project_id: @project.id), class: "btn btn-mini", target: "_blank", method: "POST" %>
          end %>
        </div>
        -->

      <div class="collapse in" id="collapseProduct" style="height: 217px;">
        <div class="widget-content resizableProduct">
          <p>
            <%= raw(@project.description.to_s.truncate(440)) %>
            <% unless current_module_project.nil? %>
              <% wbs_activity = current_module_project.wbs_activity %>
              <% unless wbs_activity.nil? %>
                <%= wbs_activity.description %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="span9 estimation_plan">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <!--<a href="#collapseActivity" data-toggle="collapse">-->
          <!--<span class="icon">-->
            <!--<i class="icon-list"></i>-->
          <!--</span>-->
        <!--</a>-->

        <h5><%= I18n.t(:estimation_plan) %>
          <% unless @initialization_module_project.nil? %>
            - <%= link_to I18n.t(:deselect_all_modules), activate_module_project_path(@initialization_module_project), :style => 'color: #FFFFFF', remote: true %>
          <% end %>
        </h5>

        <div class="buttons">

          <% if can?(:execute_estimation_plan, @project) %>
            <% unless @initialization_module_project.nil? %>

              <% if @initialization_module_project.show_results_view %>
                 <%= link_to show_module_project_results_view_path(module_project_id: @initialization_module_project.id), id: "show_results_view", class: "show_hide_project_overview a_white",  :title => I18n.t(:title_hide_results_view, :value => "#{@initialization_module_project.pemodule.title}"), remote: true do %>
                    <!--<i class="icon-eye-open" style="color: inherit"></i>-->
                    <button name="hide_view" type="submit" class="btn btn-mini">
                      <%= I18n.t(:hide_results_global_view) %>
                    </button>
                 <% end %>
                <% else %>
                 <%= link_to show_module_project_results_view_path(module_project_id: @initialization_module_project.id), id: "show_results_view", class: "show_hide_project_overview a_white", :title => I18n.t(:title_show_results_view, :value => "#{@initialization_module_project.pemodule.title}"), remote: true do %>
                     <!--<i class="icon-eye-close" style="color: inherit"></i>-->
                     <button name="hide_view" type="submit" class="btn btn-mini">
                       <%= I18n.t(:show_results_global_view) %>
                     </button>
                 <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%# link_to "Exporter projet", export_my_project_xl_path(@project) , :class => 'btn ' %>
          <%# link_to "Tout exécuter", "#!", method: "post", class: "btn " %>
        </div>

      </div>
      <div class="collapse in" id="collapseActivity">
        <div class="widget-content">
          <!--<div class="module_box_min estimation_plan_min overflow">-->
          <div class="module_box_min estimation_plan_min">

            <% if can_alter_estimation?(@project) && can?(:alter_estimation_plan, @project) %>
              <a href="<%= edit_project_path(@project.id, :anchor => 'tabs-4') %>" class="btn btn-mini pull-right">
                <%= I18n.t(:button_estimation_plan) %>
              </a>
            <% end %>

            <%= render 'module_projects/estimation_plan_min', :locals => {:module_projects => @project.module_projects} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# unless current_module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box collapsible">
        <div class="widget-title">
          <h5>
            <%= I18n.t(:label_input_data) %> - <%= current_component %> - <%= "#{current_module_project}" %>
          </h5>
        </div>

        <div class="collapse in" id="collapseIn">
          <div class="widget-content tab-content">
            <div class="input">
              <div class="input_data">
                <%= render :partial => 'projects/setting_module', object: @wbs_activity_ratio %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>

<!-- show selected view for each module project -->
<!-- The results boxes will be arranged as in the estimation plan -->
<div id="output_data_view_widgets_results">
  <%= render :partial => 'views_widgets/dashboard_views_widgets_results', object: [@module_positions, @module_positions_x, @wbs_activity_ratio] %>
</div>

</body>

<!-- The Estimation graph -->
<!--<div id="show_estimation_graph">-->
<!--</div>-->

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            language: '<%= set_user_language %>',
            autoclose: true,
            todayHighlight: true,
            todayBtn: true
        }).on("hide", function (e) {
            $.ajax({
                url: "check_attribute",
                type: 'POST',
                data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + this.className.split(/\s/)[2]
            })
         });

    });
</script>


<!--Load the AJAX API-->
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
</script>

