<div class="row-fluid">
  <div class="span3 pbs">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <!--<a href="#collapseProduct" data-toggle="collapse">-->
          <!--<span class="icon">-->
            <!--<i class="icon-eye-open"></i>-->
          <!--</span>-->
        <!--</a>-->
        <h5><%= I18n.t(:wbs_product) %>
          <span class="component_name">
            <%= current_component %>
          </span>
          </h5>
      </div>
      <div class="collapse in" id="collapseProduct">
        <div class="widget-content resizableProduct">
          <%= render :partial => 'pe_wbs', :object => @project_default_ratio %>
        </div>
      </div>
    </div>
  </div>

  <div class="span9 estimation_plan">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <!--<a href="#collapseActivity" data-toggle="collapse">-->
          <!--<span class="icon">-->
            <!--<i class="icon-list"></i>-->
          <!--</span>-->
        <!--</a>-->

        <h5><%= I18n.t(:estimation_plan) %>
          - <%= link_to "#{current_module_project.nil? ? I18n.t(:notice_no_active_module) : current_module_project}", activate_module_project_path(@initialization_module_project), :style => 'color: #FFFFFF' %>
        </h5>

        <div class="buttons">

          <% if can?(:execute_estimation_plan, @project) %>
           <span>
                <% if @initialization_module_project.show_results_view %>
                     <%= link_to show_module_project_results_view_path(module_project_id: @initialization_module_project.id), id: "show_results_view", class: "show_hide_project_overview a_white",  :title => I18n.t(:title_hide_results_view, :value => "#{@initialization_module_project.pemodule.title}"), remote: true do %>
                        <!--<i class="icon-eye-open" style="color: inherit"></i>-->
                        <button name="hide_view" type="submit" class="btn btn-mini">
                          <%= I18n.t(:hide_results_global_view) %>
                        </button>

                     <% end %>
                <% else %>
                     <%= link_to show_module_project_results_view_path(module_project_id: @initialization_module_project.id), id: "show_results_view", class: "show_hide_project_overview a_white", :title => I18n.t(:title_show_results_view, :value => "#{@initialization_module_project.pemodule.title}"), remote: true do %>
                         <!--<i class="icon-eye-close" style="color: inherit"></i>-->
                         <button name="hide_view" type="submit" class="btn btn-mini">
                           <%= I18n.t(:show_results_global_view) %>
                         </button>
                     <% end %>
                <% end %>
            </span>

          <% end %>
          <%# link_to "Exporter projet", export_my_project_xl_path(@project) , :class => 'btn ' %>
          <%# link_to "Tout exécuter", "#!", method: "post", class: "btn " %>
        </div>

      </div>
      <div class="collapse in" id="collapseActivity">
        <div class="widget-content">
          <!--<div class="module_box_min estimation_plan_min overflow">-->
          <div class="module_box_min estimation_plan_min">

            <a href="<%= edit_project_path(@project.id, :anchor => 'tabs-4') %>" class="btn btn-mini pull-right">
              <%= I18n.t(:button_estimation_plan) %>
            </a>

            <%= render 'module_projects/estimation_plan_min', :locals => {:module_projects => @project.module_projects} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless current_module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box collapsible">
        <div class="widget-title">
          <h5>
            <%= I18n.t(:label_input_data) %> - <%= current_component %> - <%= "#{current_module_project}" %>
          </h5>
        </div>

        <div class="collapse in" id="collapseIn">
          <div class="widget-content tab-content">
            <div class="input">
              <div class="input_data">
                <%= render :partial => 'projects/setting_module', object: @wbs_activity_ratio %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- show selected view for each module project -->
<!-- The results boxes will be arranged as in the estimation plan -->
<div id="output_data_view_widgets_results">
  <%= render :partial => 'views_widgets/dashboard_views_widgets_results', object: [@module_positions, @module_positions_x, @wbs_activity_ratio] %>
</div>

<!-- The Estimation graph -->
<!--<div id="show_estimation_graph">-->
<!--</div>-->

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            language: '<%= set_user_language %>',
            autoclose: true,
            todayHighlight: true,
            todayBtn: true
        }).on("hide", function (e) {
            $.ajax({
                url: "check_attribute",
                type: 'POST',
                data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + this.className.split(/\s/)[2]
            })
         });

    });
</script>

<!--Load the AJAX API-->
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

</script>

