<%= simple_form_for(@project) do |f| %>
  <div class="tabs-project">
    <ul>
<!--      <li><a href="#tabs-1"><%#= I18n.t(:global_properties) %></a></li>-->
      <% if action_name.in? %w(edit update) %>
        <!--<li><a href="#tabs-2"><%# I18n.t(:wbs_product) %></a></li>-->
        <li class="tabs_4_with_estimation_plan"><a href="#tabs-4"><%= I18n.t(:estimation_plan) %></a></li>
<!--        <li><a href="#tabs-5"><%#= I18n.t(:securities) %></a></li>-->
        <li><a href="#tabs-history"><%= I18n.t(:label_project_history) %> </a></li>
      <% end %>
    </ul>

    <% if action_name.in?(%w(edit update)) %>
      <div id="tabs-4" class="tabs_4_with_estimation_plan2">
        <% if controller.controller_name == 'projects' %>
          <div class="row-fluid">
            <div class="span12">
              <%= I18n.t(:label_add_a_module_to_project) %>
              <%= select_tag 'select_module', grouped_options_for_select({"Base de connaissance" => @kb_models,
                                                                          "Base de connaissance de taille" => @skb_models,
                                                                          "Modules d'opération" => @operation_models,
                                                                          "Modules de Jugement d'Expert" => @ej_modules,
                                                                          "Modules Activités / Profils" => @wbs_instances,
                                                                          "Module d'Équipes : durée et taille des équipes" => @staffing_modules,
                                                                          "Module d'Unité d'Oeuvres Génériques" => @guw_modules,
                                                                          "Module d'Effort Génériques (ax^b)" => @ge_models}),
                                                                          :prompt => '',
                                                                          :disabled => !( (@project.is_model && can?(:manage_estimation_models, Project)) || (!@project.is_model && (can?(:alter_estimation_plan, @project) || can_modify_estimation?(@project))) ) %>
              <script>
                $(document).ready(function(){
                  $("#select_module").on('change', function() {
                    if ($("#select_module").val() !== "") {
                      return $.ajax({
                        url: "/append_pemodule",
                        method: "get",
                        data: {
                          module_selected: $(this).val(),
                          project_id: $("#project_id").val(),
                          pbs_project_element_id: $("#select_pbs_project_elements").val()
                        }
                        ,
                        success: function(data) {
                          //return alert("success");
                          //jsPlumb.repaintEverything();
                          //jsPlumb.recalculateOffsets($(ui.item).parents(".draggable"));
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                          return alert("Error! :" + textStatus + ";" + errorThrown );
                        }
                      });
                    }
                  });
                });
              </script>
            </div>
          </div>

            <!--<br>-->
          <!--<div class="row-fluid">-->
            <!--<div class="span12">-->
              <%= hidden_field_tag 'project_id', @project.id %>
              <!--<%#= link_to I18n.t(:button_build_estimation_path), module_projects_matrix_path(@project.id), :class => 'btn' %>-->
            <!--</div>-->
          <!--</div>-->
        <% end %>
        <br>
        <div class="module_box" style="width: auto; overflow-x:auto;">
          <%= render :partial => 'module_projects/estimation_plan', :locals => { :module_projects => @project.module_projects } %>
        </div>
      </div>

    <% end %>


  </div>
<% end %>

