<%= simple_form_for(@project) do |f| %>

  <%= hidden_field_tag :project_id, @project.id %>
  <% can_alter_model = can?(:manage_estimation_models, Project) %>

  <div class="card estimation-edition-estimation">
    <div class="card-body">
      <div class="edition-bloc-title">
        Estimation
      </div>
      <div class="edition-bloc-form">
        <div class="form-row">
          <div class="col-6">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.input :title, :label => false, :disabled => !(can?(:alter_estimation_name, @project) || can_alter_model), :input_html => { :class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new') } %>

              <label class="mdl-textfield__label" for="name">Nom</label>
            </div>
          </div>
          <div class="col-2">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.input :version_number, :input_html => { :class => 'mdl-textfield__input' }, :disabled => true, label: false %>
              <label class="mdl-textfield__label" for="version">Version</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <div class="col-4">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
              <input type="text" value="" class="mdl-textfield__input" id="status" readonly>
              <input type="hidden" value="" name="status">
              <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
              <label for="status" class="mdl-textfield__label">Statut</label>
              <ul for="status" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item" data-val="encours">En cours</li>
                <li class="mdl-menu__item" data-val="relecture">En relecture</li>
                <li class="mdl-menu__item" data-val="controle">Contrôle</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.input :business_need, :label => false, :disabled => !(can?(:alter_request_number, @project) || can_alter_model), :input_html => { :class => 'mdl-textfield__input' } %>
              <label class="mdl-textfield__label" for="need">Besoin métier</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.input :request_number, :label => false, :disabled => !(can?(:alter_request_number, @project) || can_alter_model), :input_html => { :class => 'mdl-textfield__input' } %>
              <label class="mdl-textfield__label" for="number">N° de la demande</label>
              <span class="mdl-textfield__error">Merci de saisir un nombre</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <% if @project.is_model == true %>
              <% apps = @project.applications %>
              <% if @current_organization.applications.empty? and apps.empty? %>
                <%= f.input :application_name,
                            :label => I18n.t(:label_product_name),
                            :disabled => !((can_alter_estimation?(@project) && can?(:alter_product_name, @project)) || can_alter_model) ,
                            :input_html => { :class => '' } %>
              <% else %>
                <%= f.association :applications,
                                  as: :select,
                                  collection: @current_organization.applications.active,
                                  :label => I18n.t(:label_product_name),
                                  :input_html => { :class => '' },
                                  include_blank: true,
                                  :disabled => !((can_alter_estimation?(@project) && can?(:alter_product_name, @project)) || can_alter_model) %>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if @project.new_record? %>
          <%= f.input :is_model, :as => :hidden, input_html: { value: @is_model } %>
        <% end %>

        <% if @project.is_model || @is_model %>
          <%= f.input :use_automatic_quotation_number, :label => "#{I18n.t 'use_automatic_quotation_number'}", :disabled => !(can?(:alter_estimation_name, @project) || can_alter_model), :input_html => { :class => 'input-xxlarge' } %>
          <%= f.input :allow_export_pdf, :label => I18n.t("Autoriser l'export PDF"), :disabled => !(can?(:alter_estimation_name, @project) || can_alter_model), :input_html => { :class => 'input-xxlarge' } %>
        <% end %>

        <%= f.input :demand_id, as: :hidden, :input_html => { :value => params[:demand_id] } %>

        <div class="form-row">
          <div class="col-8">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
              <a href="#" class="" id="template">
                <% if !@project.original_model_id.nil? %>
                  <% if can_show_estimation?(@project.original_model) %>
                    <% unless @project.original_model.nil? %>
                      <%= link_to(@project.original_model, dashboard_path(@project.original_model)) %>

                    <% end %>
                  <% else %>
                    <%= @project.original_model %>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </a>
              <label for="template" class="mdl-textfield__label active">Modèle d’origine</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-8">
            <div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <%= f.input :private, disabled: !(can?(:alter_private_estimation_setup, @project) || can_alter_model) %>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="3" id="description"></textarea>
              <label class="mdl-textfield__label" for="description">Description</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>