  <div class="card-body" style="width: 568.5px; min-height: 900px;">
    <a href="#" class="close-button"><i class="material-icons">close</i></a>
    <div class="d-flex justify-content-between">
      <div class="estimation-overview-title" style="flex: 1">
        <h5 class="estimation-overview-title">
          <%= project.title %>
        </h5>
      </div>
      <a href="<%= dashboard_path(project) %>">
        <button type="button" class="btn btn-secondary">
          <%= I18n.t(:see_the_detail) %>
        </button>
      </a>
    </div>
    <h6 class="estimation-overview-author">
      <%= project.creator %>
    </h6>
    <p class="estimation-overview-text mb-3">
      <%= raw(project.description) %>
    </p>


    <% @widgets = {} %>
    <% initialization_module_name =  Projestimate::Application::INITIALIZATION %>
    <%# @project_module_projects = @project.module_projects %>
    <%# @label_widget_ids = [] %>
    <%#  widgets_name_downcase = ["abaque", "localisation", "charge rtu (jh)", "charge ris (jh)", "coût (€)", "répartition des charges", "dire d'expert", "charge (jh)", "coût services (€)", "synthèse devis", "synthese devis", "charge totale", "coût total", "prix moyen pondéré"]%>
    <%  widgets_name = ["", "Abaque", "Localisation", "Charge RTU (jh)", "Charge RIS (jh)", "Coût (€)", "Répartition des Charges", "Répartion des Charges", "Dire d'expert", "Charge (jh)", "Coût Services (€)", "Synthèse Devis", "Synthèse devis", "Synthese devis", "Charge Totale (jh)", "Coût Total (€)", "Prix Moyen Pondéré (€/jh)"] %>


    <div class="d-flex estimation-overview-quantity mb-5 row">
    <% module_project = ModuleProject.where(organization_id: project.organization_id, pemodule_id: @initialization_module.id, project_id: project.id).first unless @initialization_module.nil? %>
    <% module_project_view = module_project.view %>
    <% unless module_project_view.nil? %>
        <%# module_project_view_widgets = module_project_view.views_widgets.where(widget_type: "text").order_as_specified(name: widgets_name).all %>
        <% module_project_view.views_widgets.where(widget_type: "text").order_as_specified(name: widgets_name).each do |view_widget| %>
        <%# module_project_view.views_widgets.where(widget_type: "text").by_name_order.each do |view_widget| %>
            <% view_widget_name = view_widget.name %>
            <% if view_widget.is_label_widget? %>
                <% @widgets[view_widget_name] = [view_widget, view_widget.comment] %>
            <% elsif view_widget.is_kpi_widget? %>
                <% view_widget_data = get_kpi_value(view_widget) %>
                <% @widgets[view_widget_name] = [view_widget, view_widget_data] %>
            <% else %>
                <% if module_project.pemodule.alias == initialization_module_name %>
                    <% view_widget_data = get_view_widget_data(module_project.id, view_widget.id) %>
                    <% @widgets[view_widget_name] = [view_widget, view_widget_data[:value_to_show]] %>
                <% else %>
                    <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                    <% @widgets[view_widget_name] = [view_widget, view_widget_data] %>
                <% end %>
            <% end %>

            <!-- Test -->
            <% k = view_widget.name %>
            <% value = @widgets[k].last rescue nil %>

            <% if view_widget.is_label_widget? %>
                <div class="col-12">
                  <span><b><%= value.nil? ? '-' : value %></b></span>
                </div><br>
            <% else %>
                <% unless value.is_a?(Hash) %>
                    <div class="col">
                      <div class="card-man-day">
                        <div class="card-body">
                          <span><%= k %></span>
                          <div class="quantity overview-value">
                            <span><%= value.nil? ? '-' : value %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                <% else %>
                    <div class="col">
                      <div class=" card-man-day">
                        <div class="card-body">
                          <span><%= k %></span>
                          <div class="quantity overview-value">
                                <span>
                                  <% begin %>
                                    <%= (value.values.first.values.first).round(2) %>
                                  <% rescue %>
                                    -
                                  <% end %>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
            <!-- Fin Test -->

        <% end %>
    <% end %>
    </div>

  </div>