<%= form_tag url_for( {:action => 'destroy_multiple_project', :controller => 'projects',
                       :project_ids_to_delete => @project_ids}), {:method => 'post', :class=>'simple_form'} do %>
    <div class="confirm_deletion">



      <h4>
        <% if params[:deleted_projects].present? %>
          <%= I18n.t(:are_you_sure_multiple_delete)%>
        <%else %>
          <%= I18n.t(:are_you_sure_simple_delete)%>
        <% end %>
      </h4>

      <br>
      <ul>
        <% @projects.each do |p| %>
          <li>
            <b>
              <%= p.title %> - <%= p.version_number %>
            </b>
          </li>
        <% end %>
      </ul>

      <div class="actions-tabs">
        <span style="margin-right: 10px;"> <%= check_box_tag "yes_confirmation", 'selected' %>  <%= I18n.t('simple_form.yes') %></span>
        <%= submit_tag I18n.t('delete'), :class => 'btn', :id => 'yes_delete_project' %>
        <%= submit_tag I18n.t('cancel'), :class => 'btn', :id => 'cancel_project_deletion' %>
      </div>
  </div>
<% end %>
