<div class="<%= (current_module_project.pemodule.alias == "initialization") ? 'col-9' : 'col-8' %> pt-5 pr-0 d-flex flex-column" data-spy="scroll" data-target="#properties-sidebar" data-offset="0">

  <% if current_module_project.pemodule.alias != "initialization" %>
    <%= render(:partial => 'projects/setting_module') %>
  <% else %>
      <div class="mb-4">
        <div class="widgets-list">
          <div class="d-flex align-items-center mt-4">
            <div style="flex: 1">
              <h2>
                <%= @project.to_s %>
                <small style="color: <%= @project.status_background_color %>">
                  <b>
                    <%= @project.estimation_status.to_s %>
                  </b>
                </small>
              </h2>
            </div>
            <div class="tools">
              <% mp = @project.module_projects.where(pemodule_id: initialization_module.id).first %>
              <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id) %>"><i class="material-icons" >add_box</i></a>
              <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id, is_label_widget: true) %>"><i class="material-icons" >text_fields</i></a>
              <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id, is_kpi_widget: true) %>"><i class="material-icons" >dashboard</i></a>
            </div>
          </div>

        <br>

        <% @label_widget_hash = {} %>
        <% @kpi_widget_hash = {} %>
        <% @data_widget_hash = {} %>
        <% @project_module_projects = @project.module_projects %>

        <% @project_module_projects.each do |module_project| %>
          <% module_project_view = module_project.view %>
          <% unless module_project_view.nil? %>
            <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
            <% module_project_view_widgets.each do |view_widget| %>
              <% if view_widget.is_label_widget? %>
                <% view_widget_data = get_label_widget_data(view_widget.id) %>
                <% @label_widget_hash[view_widget.name] = [view_widget, view_widget_data[:string_data_probable]] %>
              <% elsif view_widget.is_kpi_widget? %>
                <% view_widget_data = get_kpi_value_without_unit(view_widget) %>
                <% @kpi_widget_hash[view_widget.name] = [view_widget, view_widget_data] %>
              <% else %>
                <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                  <% view_widget_data = new_get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                  <% if view_widget.widget_type == "text" %>
                    <% @data_widget_hash[view_widget.name] = [view_widget, view_widget_data] %>
                  <% end %>
                <% else %>
                  <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                  <% @data_widget_hash[view_widget.name] = [view_widget, view_widget_data] %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="widget-list-content">
          <div class="widget-group">
            <% @label_widget_hash.keys[0..2].each do |k| %>
              <div class="widget-group-label">
                <span>
                  <%= @label_widget_hash[k] %>
                </span>
              </div>
            <% end %>
            <ul class="widget-group-list">
              <% @data_widget_hash.keys.each do |k| %>
                <% view_widget = @data_widget_hash[k].first %>
                <% value = @data_widget_hash[k].last %>
                <% unless value.is_a?(Hash) %>
                  <li>
                    <div class="card card-widget card-indicator card-indicator-with-module">
                      <div class="card-body">
                        <div class="card-indicator-type"><%= view_widget.module_project %><%= current_user.super_admin == true ? " (#{view_widget.position})" : "" %></div>
                        <div class="card-indicator-text"><%= k %></div>
                        <div class="<%= (value.to_s.size >= 15) ? 'card-indicator-label' : 'card-indicator-quantity' %>">
                          <span>
                            <%= value.nil? ? '-' : value %>
                          </span>
                            <% if can?(:alter_estimation_plan, @project) || can?(:manage_estimation_widgets, @project) %>
                              <%= link_to raw("<i class='material-icons'>edit</i>"), main_app.edit_views_widget_path(view_widget, module_project_id: current_module_project.id, view_id: current_module_project.view_id), class: 'material-icons float-right', title: I18n.t(:edit_widget, :value => view_widget.name), remote: true %>
                              <%= link_to raw("<i class='material-icons'>delete</i>"), main_app.views_widget_path(view_widget), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'material-icons float-right', :title => I18n.t('delete') %>
                            <% end %>
                            <% if view_widget.widget_type == "effort_per_phases_profiles_table" || view_widget.widget_type == "table_effort_per_phase" || view_widget.widget_type == "table_effort_per_phase_without_zero" || view_widget.widget_type == "effort_per_phases_profiles_table_without_zero" %>
                              <%= link_to raw("<i class='material-icons'>get_app</i>"), main_app.export_vignette_path(view_widget_id: view_widget.id, module_project_id: current_module_project.id), class: 'material-icons float-right', title: I18n.t(:export_vignette, :value => view_widget.name) %>
                            <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="effort-bloc">

          <ul class="nav nav-pills tabs" id="pills-tab" role="tablist">
            <% @project.module_projects.each do |module_project| %>
              <% module_project.views_widgets.each_with_index do |vw, index| %>
                <% unless vw.widget_type == "text" %>
                  <li class="nav-item">
                    <a class="nav-link <%= (index == 0) ? 'active' : '' %>"  data-toggle="pill" id="pills-<%= vw.id %>-tab" href="#pills-<%= vw.id %>" role="tab" aria-selected="<%= (index == 0) ? 'true' : ' false' %>"><%= vw.name %></a>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <% @project.module_projects.each do |module_project| %>
              <% module_project.views_widgets.each_with_index do |vw, index| %>
                <% unless vw.widget_type == "text" %>
                  <div class="tab-pane fade <%= (index == 0) ? 'show active' : '' %>" id="pills-<%= vw.id %>" role="tabpanel" aria-labelledby="pills-<%= vw.id %>-tab">
                    <div class="card card-widget">
                      <div class="card-body">
                        <div class="effort-bloc-tools d-flex justify-content-end mb-2">
                          <a href="#"><i class="material-icons">get_app</i></a>
                          <a href="#"><i class="material-icons">edit</i></a>
                          <a href="#"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="effort-table">
                          <%= get_view_widget_data(module_project.id, vw.id)[:value_to_show] %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# hidden_field_tag :project_id, @project.id %>
<%# render 'dashboard_inner' %>