<!--Load the Google charts API  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
</script>

<div class="<%= (current_module_project.pemodule.alias == "initialization") ? 'col-10' : "#{current_module_project.show_results_view ? 'col-8' : 'col-10'}" %>" data-spy="scroll" data-target="#properties-sidebar" style="margin-top: 20px;">

  <% if current_module_project.pemodule.alias != "initialization" %>
    <div id="dashboard" class="edition-page-group py-4"><span><%= I18n.t(:calculation_modules) %></span></div>
    <%= render(:partial => 'projects/setting_module') %>
  <% else %>
    <div id="dashboard" class="edition-page-group py-4"><span><%= I18n.t(:dashboard) %></span></div>
    <div class="mb-4">
      <div class="widgets-list">

        <div class="tools float-right">
          <% mp = @project.module_projects.where(pemodule_id: @initialization_module.id).first %>
          <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id) %>" title="<%= I18n.t :add_box %>"><i class="material-icons" >dashboard</i></a>
          <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id, is_label_widget: true) %>" title="<%= I18n.t :text_fields %>"><i class="material-icons">text_fields</i></a>
          <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: mp.id, view_id: mp.view_id, is_kpi_widget: true) %>" title="<%= I18n.t :dashboard %>"><i class="material-icons">exposure</i></a>  <!-- add_box -->
        </div>

        <% @widgets = {} %>
        <% @project_module_projects = @project.module_projects %>

        <%# @project_module_projects.each do |module_project| %>
        <% module_project = ModuleProject.where("pemodule_id = ? AND project_id = ?", @initialization_module.id, @project.id).first unless @initialization_module.nil? %>
        <% module_project_view = module_project.view %>
        <% unless module_project_view.nil? %>
          <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
          <% module_project_view_widgets.each do |view_widget| %>
            <% if view_widget.is_label_widget? %>
              <% view_widget_data = get_label_widget_data(view_widget.id) %>
              <% @widgets[view_widget.name] = [view_widget, view_widget_data[:string_data_probable]] %>
            <% elsif view_widget.is_kpi_widget? %>
              <% view_widget_data = get_kpi_value(view_widget) %>
              <% @widgets[view_widget.name] = [view_widget, view_widget_data] %>
            <% else %>
              <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                <% if view_widget.widget_type == "text" %>
                  <% view_widget_data = get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                  <% value_to_show = view_widget_data[:value_to_show] %>
                  <% @widgets[view_widget.name] = [view_widget, value_to_show] %>
                <% end %>
              <% else %>
                <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                <% @widgets[view_widget.name] = [view_widget, view_widget_data] %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%# end %>

        <div id="estimation_link_container" class="widget-list-content">
          <div class="widget-group">
            <div class="grid-stack">
              <% @widgets.keys.each_with_index do |k, index| %>
                <% view_widget = @widgets[k].first %>
                <% if (view_widget.estimation_status_id == @project.estimation_status_id) || view_widget.estimation_status_id.nil? || @project.is_model == true %>
                  <% value = @widgets[k].last %>
                  <% unless value.is_a?(Hash) %>
                    <div class="grid-stack-item" data-gs-x="<%= view_widget.position_x %>" data-gs-y="<%= view_widget.position_y %>" data-gs-width="<%= view_widget.width.to_i * 10 %>" data-gs-height="<%= view_widget.height.to_i + 1 %>">
                      <div class="grid-stack-item-content">
                        <div class="card card-widget card-indicator card-indicator-with-module">
                          <div class="card-body">
                            <div class="card-indicator-type"><%= view_widget.module_project %><%= current_user.super_admin == true ? " (#{view_widget.position})" : "" %></div>
                            <div class="card-indicator-text"><%= k %></div>
                            <div class="card-indicator-label">
                              <span>
                                <%= value.nil? ? '-' : value %> <%=view_widget.position_x %>
                              </span>
                              <% if can?(:alter_estimation_plan, @project) || can?(:manage_estimation_widgets, @project) %>
                                <%= link_to raw("<i class='material-icons'>edit</i>"), main_app.edit_views_widget_path(view_widget, module_project_id: current_module_project.id, view_id: current_module_project.view_id), class: 'material-icons float-right', title: I18n.t(:edit_widget, :value => view_widget.name), remote: true %>
                                <%= link_to raw("<i class='material-icons'>delete</i>"), main_app.views_widget_path(view_widget), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'material-icons float-right', :title => I18n.t('delete') %>
                              <% end %>
                              <% if view_widget.widget_type == "effort_per_phases_profiles_table" || view_widget.widget_type == "table_effort_per_phase" || view_widget.widget_type == "table_effort_per_phase_without_zero" || view_widget.widget_type == "effort_per_phases_profiles_table_without_zero" %>
                                <%= link_to raw("<i class='material-icons'>get_app</i>"), main_app.export_vignette_path(view_widget_id: view_widget.id, module_project_id: current_module_project.id), class: 'material-icons float-right', title: I18n.t(:export_vignette, :value => view_widget.name) %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


    </div>
  <% end %>

  <% %>

</div>

<link rel="stylesheet" href="/assets/gridstack.css" />

<script type="text/javascript">
    $(function () {
        var options = {
            width: 12,
            animate: true,
            resizable: {
                handles: 'e, se, s, sw, w'
            },
            draggable: {
                handle: '.card',
            },

        };
        $('.grid-stack').gridstack(options);
    });
</script>

<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<!--<script>-->
<!--    jQuery(function($) {-->
<!--        var panelList = $('#draggablePanelList');-->

<!--        panelList.sortable({-->
<!--            // Only make the .panel-heading child elements support dragging.-->
<!--            // Omit this to make then entire <li>...</li> draggable.-->
<!--            handle: '.card-body',-->
<!--            update: function() {-->
<!--                $('.card', panelList).each(function(index, elem) {-->
<!--                    var $listItem = $(elem),-->
<!--                        newIndex = $listItem.index();-->

<!--                    // Persist the new indices.-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--    jQuery(function($) {-->
<!--        var panelList2 = $('#draggablePanelList2');-->

<!--        panelList2.sortable({-->
<!--            // Only make the .panel-heading child elements support dragging.-->
<!--            // Omit this to make then entire <li>...</li> draggable.-->
<!--            handle: '.card-body',-->
<!--            update: function() {-->
<!--                $('.card', panelList2).each(function(index, elem) {-->
<!--                    var $listItem = $(elem),-->
<!--                        newIndex = $listItem.index();-->

<!--                    // Persist the new indices.-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--<style>-->
<!--  .sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }-->
<!--  .sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }-->
<!--</style>-->

<%# hidden_field_tag :project_id, @project.id %>
<%# render 'dashboard_inner' %>


<!--<div id="output_data_view_widgets_results col-10" style="margin-top: 60px;">-->
  <%# render :partial => 'views_widgets/dashboard_views_widgets_results', object: [@module_positions, @module_positions_x, @wbs_activity_ratio] %>
<!--</div>-->

<!--<script>-->
<!--    // ============================ GRIDSTER widgets management ================================================-->
<!--    function load_gridster() {-->
<!--        var gridster = [];-->
<!--        var iteration = -1;-->
<!--        $(function () { //DOM Ready-->

<!--            $('[id^="view_widgets_container_"]').each(function () {-->
<!--                var container_id = $(this).attr('id');-->
<!--                var $widgets_container = $('#' + container_id);-->

<!--                //$("#"+container_id+ " > ul").gridster({-->
<!--                gridster[++iteration] = $("#" + container_id + " ul").gridster({-->
<!--                    namespace: '#' + container_id,-->
<!--                    widget_margins: [5, 5],-->
<!--                    widget_base_dimensions: [60, 60],-->
<!--                    widget_selector: "li",-->
<!--                    extra_rows: 0,-->
<!--                    extra_cols: 0,-->
<!--                    shift_widgets_up: false,-->
<!--                    shift_larger_widgets_down: false,-->
<!--                    collision: {-->
<!--                        wait_for_mouseup: true-->
<!--                    },-->

<!--                    //autogenerate_stylesheet: true,-->
<!--                    min_cols: 1,-->
<!--                    max_cols: 100,-->

<!--                    serialize_params: function ($w, wgd) {-->
<!--                        return {-->
<!--                            /* add element (ID, view_widget_id and container_id) to data*/-->
<!--                            id: $w.attr('id'),-->
<!--                            view_widget_id: $w.data('view_widget_id'),-->
<!--                            container_id: $w.data('container_id'),-->
<!--                            /* defaults */-->
<!--                            col: wgd.col, row: wgd.row, size_x: wgd.size_x, size_y: wgd.size_y-->
<!--                        }-->
<!--                    },-->

<!--                    draggable: {-->
<!--                        // Update all widgets positions-->
<!--                        stop: function (event, ui) {-->
<!--                            //var gridster = $(".gridster ul").gridster().data('gridster');-->
<!--                            var gridster = $('#' + container_id + ".gridster ul").gridster().data('gridster');-->
<!--                            var gridster_elements = gridster.serialize();-->

<!--                            //alert(JSON.stringify(gridster_elements));-->
<!--                            //alert(gridster_elements);-->
<!--                            //alert(JSON.parse(gridster_elements);-->

<!--                            $.ajax({-->
<!--                                type: 'POST',-->
<!--                                url: "/update_view_widget_positions",-->
<!--                                data: {-->
<!--                                    view_id: this.id,-->
<!--                                    views_widgets: gridster_elements-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                    },-->


<!--                    // Qui marchait avec l'ancienne version-->
<!--                    resize: {-->
<!--                        enabled: true,-->
<!--                        axes: ['both'],-->

<!--                        //handles: ['n', 'e', 's', 'w', 'ne', 'se', 'sw', 'nw'],-->
<!--                        //max_size: [20, 20],-->
<!--                        //min_size: [1, 1],-->

<!--                        stop: function (event, ui, $widget) {-->

<!--                            // Get final width and height of widget-->
<!--                            var newHeight = this.resize_coords.data.height;-->
<!--                            var newWidth = this.resize_coords.data.width;-->
<!--                            var text_size = ((newHeight + newWidth) / 2) * 0.015;-->

<!--                            //Update the font-size according to the widget sizes-->
<!--                            var widget_id = $widget.data('id');-->
<!--                            $('li#' + widget_id + '.widget_text').css("fontSize", text_size + "em");-->

<!--                            // Update font-size : $('.changeMe').css("font-size", $(this).val() + "px");-->
<!--                            $('#widget_text_' + widget_id + '.widget_text.without_min_max').fitText(0.6);-->
<!--                            $('#widget_text_' + widget_id + '.widget_text.with_min_max').fitText(0.7);-->
<!--                            $("li.no_estimation_value").fitText(2);-->
<!--                            $('#widget_name_' + widget_id + '.widget_name').fitText(0.8);-->
<!--                            $('span#min_max_' + widget_id + '.min_max').fitText(1);-->

<!--                            //Update the widget size (width, height) in database-->
<!--                            var newDimensions = this.serialize($widget)[0]; //get final sizex and sizey-->
<!--                            $.ajax({-->
<!--                                method: 'GET',-->
<!--                                url: "/update_view_widget_sizes",-->
<!--                                data: {-->
<!--                                    view_widget_id: $widget.data('view_widget_id'),-->
<!--                                    sizex: newDimensions.size_x,-->
<!--                                    sizey: newDimensions.size_y-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                    }-->

<!--                }).data('gridster');-->
<!--            })-->
<!--        });-->
<!--    };-->
<!--    load_gridster();-->

<!--</script>-->