<div class="position-relative" style="margin-top: -20px;">
  <div class="mb-4" style="background: #ECEFF2;">
    <div class="container">
      <div class="widgets-list">
        <div class="d-flex align-items-center mt-4">
          <div style="flex: 1">
            <h2>Résultats après calculs</h2>
          </div>
          <a href="/projects_from?organization_id=56">
            <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ajouter une vignette
            </button>
          </a>
        </div>

        <br>

        <% @label_widget_hash = {} %>
        <% @kpi_widget_hash = {} %>
        <% @data_widget_hash = {} %>
        <% @project_module_projects = @project.module_projects %>

        <% @project_module_projects.each do |module_project| %>
          <% module_project_view = module_project.view %>
          <% unless module_project_view.nil? %>
            <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
            <% module_project_view_widgets.each do |view_widget| %>
              <% if view_widget.is_label_widget? %>
                <% view_widget_data = get_label_widget_data(view_widget.id) %>
                <% @label_widget_hash[view_widget.name] = view_widget_data[:string_data_probable] %>
              <% elsif view_widget.is_kpi_widget? %>
                <% view_widget_data = get_kpi_value_without_unit(view_widget) %>
                <% @kpi_widget_hash[view_widget.name] = view_widget_data %>
              <% else %>
                <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                  <% view_widget_data = new_get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                  <% if view_widget.widget_type == "text" %>
                    <% @data_widget_hash[view_widget.name] = view_widget_data %>
                  <% end %>
                <% else %>
                  <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                  <% @data_widget_hash[view_widget.name] = view_widget_data %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="widget-list-content">
          <div class="widget-group">
            <% @label_widget_hash.keys[0..2].each do |k| %>
              <div class="widget-group-label">
                <span>
                  <%= @label_widget_hash[k] %>
                </span>
              </div>
            <% end %>
            <ul class="widget-group-list">
              <% @data_widget_hash.keys.reverse.each do |k| %>
                <% value = @data_widget_hash[k] %>
                <% unless value.is_a?(Hash) %>
                  <li>
                    <div class="card card-widget card-indicator card-indicator-with-module">
                      <div class="card-body">
                        <div class="card-indicator-type">Nom du module</div>
                        <div class="card-indicator-text"><%= k %></div>
                        <div class="<%= (value.to_s.size >= 15) ? 'card-indicator-label' : 'card-indicator-quantity' %>">
                          <span>
                            <%= value.nil? ? '-' : value %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mb-5">
      <div class="effort-bloc">
        <ul class="nav nav-pills tabs" id="pills-tab" role="tablist">
          <% @project.module_projects.each do |module_project| %>
            <% module_project.views_widgets.each_with_index do |vw, index| %>
              <% unless vw.widget_type == "text" %>
                <li class="nav-item">
                  <a class="nav-link <%= (index == 0) ? 'active' : '' %>"  data-toggle="pill" id="pills-<%= vw.id %>-tab" href="#<%= vw.id %>" role="tab" aria-selected="<%= (index == 0) ? 'true' : ' false' %>"><%= vw.name %></a>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <% @project.module_projects.each do |module_project| %>
          <% module_project.views_widgets.each_with_index do |vw, index| %>
            <% unless vw.widget_type == "text" %>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade <%= (index == 0) ? 'show active' : '' %>" id="<%= vw.id %>" role="tabpanel" aria-labelledby="pills-<%= vw.id %>-tab">
                  <div class="card card-widget">
                    <div class="card-body">
                      <div class="effort-bloc-tools d-flex justify-content-end mb-2">
                        <a href="#"><i class="material-icons">get_app</i></a>
                        <a href="#"><i class="material-icons">edit</i></a>
                        <a href="#"><i class="material-icons">delete</i></a>
                      </div>
                      <div class="effort-table">
                        <%= get_view_widget_data(module_project.id, vw.id)[:value_to_show] %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# hidden_field_tag :project_id, @project.id %>
<%# render 'dashboard_inner' %>