<html>
<head>
  <script>
    function number_pages() {
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>

  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>

  <style>
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak { page-break-inside: avoid; }

    main {
      font-size:	10px;
    }
  </style>
</head>

<body onload="number_pages()">

<% @projects.each do |k, projects| %>
  <%
     total_cost = []
     total_effort = []
  %>
  <% projects.each do |l, pps| %>
    <% pps.each do |project| %>
      <%
         current_organization = project.organization
         pbs_project_element = current_component
         module_projects = project.module_projects

         module_projects.each do |module_project|
           view_widgets = ViewsWidget.where(module_project_id: module_project.id).all
           view_widgets.select{|view_widget| view_widget.widget_type == "text" }.each do |view_widget|
             unless view_widget.estimation_value.nil?
               begin
                 if view_widget.estimation_value.pe_attribute.alias == "cost"
                   total_cost << view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f
                 else
                   total_effort << view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f
                 end
               rescue
               end
             end
           end
         end
      %>
    <% end %>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
      <h2>
        Page récapitulative du besoin <%= k %>
      </h2>
    </div>
  </div>

  <hr>
  <div class="row-fluid">
    <div class="span12">
      <p>
        Cost : <%= total_cost.each(&:to_f).sum %> €
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <p>
        Effort : <%= total_effort.each(&:to_f).sum %> UC
      </p>
    </div>
  </div>

  <div class="alwaysbreak"></div>

  <% projects.each do |l, pps| %>

    <%
       total_cost = []
       total_effort = []
    %>
    <% pps.each do |project| %>
      <%
         current_organization = project.organization
         pbs_project_element = current_component
         module_projects = project.module_projects

         module_projects.each do |module_project|
           view_widgets = ViewsWidget.where(module_project_id: module_project.id).all
           view_widgets.select{|view_widget| view_widget.widget_type == "text" }.each do |view_widget|
             unless view_widget.estimation_value.nil?
               begin
                 if view_widget.estimation_value.pe_attribute.alias == "cost"
                   total_cost << view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f
                 else
                   total_effort << view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f
                 end
               rescue
               end
             end
           end
         end %>
    <% end %>

    <div class="row-fluid">
      <div class="span12">
        <h2>
          Page récapitulative de la demande <%= l %>
        </h2>
      </div>
    </div>

    <hr>
    <div class="row-fluid">
      <div class="span12">
        <p>
          Cost : <%= total_cost.each(&:to_f).sum %> €
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <p>
          Effort : <%= total_effort.each(&:to_f).sum %> UC
        </p>
      </div>
    </div>

    <div class="alwaysbreak"></div>

    <% projects.values.flatten.each do |project| %>
      <%
         current_organization = project.organization
         pbs_project_element = current_component
         module_projects = project.module_projects
      %>

      <div class="row-fluid">
        <div class="span12">
          <h2>
            Informations générales
          </h2>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <h3>
            <%= project.organization.name %> / <%= project.title %> - <%= project.version_number %>
          </h3>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span" style="font-size: 16px; padding: 8px; background-color: transparent; border: 1px solid lightgrey">

          <div class="row-fluid">
            <div class="span4">
              <b>Nom du Demandeur SNCF</b>
            </div>
            <div class="span8">
              <%= project.creator %>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <b>Numéro de la demande</b>
            </div>
            <div class="span8">
              <%= project.request_number %>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <b>Numéro du devis</b>
            </div>
            <div class="span8">
              <%= project.title %> <%= project.version_number %>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <b><%= I18n.t :provider %></b>
            </div>
            <div class="span8">
              <%= project.provider %>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span4">
          <b>Application/Projet</b>
        </div>
        <div class="span8">
          <%= project.application %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b>Description</b>
        </div>
        <div class="span8">
          <%= project.description %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b><%= I18n.t(:project_area) %></b>
        </div>
        <div class="span8">
          <%= project.project_area %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b><%= I18n.t(:acquisition_category) %></b>
        </div>
        <div class="span8">
          <%= project.acquisition_category %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b><%= I18n.t(:platform_category) %></b>
        </div>
        <div class="span8">
          <%= project.platform_category %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b><%= I18n.t(:start_date) %></b>
        </div>
        <div class="span8">
          <%= project.start_date %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b><%= I18n.t(:estimation_status) %></b>
        </div>
        <div class="span8">
          <%= project.estimation_status %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <b>Historique des changements de statuts</b>
        </div>
        <div class="span8">
          <%= simple_format(project.status_comment.split("\n").take(2).first) %>
        </div>
      </div>

      <div class="alwaysbreak"></div>

      <% module_projects.each do |module_project| %>
        <% if module_project.pemodule.alias == "effort_breakdown" %>
        <% elsif module_project.pemodule.alias == "guw" %>
        <% end %>
      <% end %>

      <div class="alwaysbreak"></div>

      <% module_projects.reverse.each do |module_project| %>
        <% @wbs_activity = module_project.wbs_activity %>
        <% if module_project.pemodule.alias == "effort_breakdown" %>
          <h3>
            Financier Synthèse - <%= @wbs_activity.name %>
          </h3>
          <h5>
            <%= project.organization.name %> / <%= project.title %> <%= project.version_number %>
          </h5>
          <hr>
          <table class="table main table-condensed" style="font-size: 10px;">
            <tr>
              <th>Sélect.</th>
              <th>Nom</th>
              <th>Prix unitaire en €/UC</th>
              <th>Charge (en UC)</th>
              <th>Montant en €</th>
            </tr>

            <% @wbs_activity_ratio = @wbs_activity.wbs_activity_ratios.first %>
            <% @module_project_ratio_elements = module_project.get_module_project_ratio_elements(@wbs_activity_ratio, current_component) %>

            <% @wbs_activity.wbs_activity_elements.each do |wbs_activity_element| %>
              <% mp_ratio_element = @module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_element.id }.first %>
              <% unless mp_ratio_element.nil? %>
                <tr>
                  <td>
                    <% unless mp_ratio_element.is_root? %>
                      <b><%= raw(mp_ratio_element.selected == true ? "&#10003;" : '') %></b>
                    <% end %>
                  </td>
                  <td>
                    <% unless mp_ratio_element.is_root? %>
                      <b><%= raw(mp_ratio_element.selected == true ? "&nbsp;" : '') %></b>
                    <% end %>
                    <b><%= wbs_activity_element.name %></b>
                  </td>
                  <td class="center">
                    <%= mp_ratio_element.tjm.to_f.round(user_number_precision) %>
                  </td>
                  <td class="center">
                    <%= mp_ratio_element.retained_effort_probable.to_f.round(user_number_precision) %>
                  </td>
                  <td class="center">
                    <%= mp_ratio_element.retained_cost_probable.to_f.round(user_number_precision) %>
                  </td>
                </tr>
                <% unless mp_ratio_element.comments.nil? %>
                  <tr>
                    <td colspan="1"></td>
                    <td colspan="7"> &#8226; <%= raw(mp_ratio_element.comments) %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>

          <hr>
          <% view_widgets = ViewsWidget.where(module_project_id: module_project.id).all %>
          <div class="row-fluid">
            <% view_widgets.each do |view_widget| %>
              <% if view_widget.widget_type == "text" %>
                <div class="span2" style="padding: 6px; background-color: <%= view_widget.color %>; text-align: center;">
                  <h4><%= view_widget.name %></h4>
                  <% unless view_widget.estimation_value.nil? %>
                    <% begin %>
                      <% if view_widget.estimation_value.pe_attribute.alias == "cost" %>
                        <%= number_to_currency(view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f, precision: user_number_precision, locale: current_user.language.locale) %>
                      <% else %>
                        <%= view_widget.estimation_value.string_data_probable[current_component.id][module_project.wbs_activity.root_element.id][:value].to_f.round(user_number_precision) %> UC
                      <% end %>
                    <% rescue %>
                      -
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="alwaysbreak"></div>

        <% elsif module_project.pemodule.alias == "guw" %>

          <% @guw_model = module_project.guw_model %>
          <% @unit_of_work_groups = ModuleProjectGuwUnitOfWorkGroup.where( organization_id: current_organization.id,
                                                                           project_id: project.id,
                                                                           module_project_id: module_project.id,
                                                                           pbs_project_element_id: pbs_project_element.nil? ? nil : pbs_project_element.id).all %>

          <h3>
            Financier Détails - <%= @guw_model.name %>
          </h3>
          <h5>
            <%= project.organization.name %> / <%= project.title %> <%= project.version_number %>
          </h5>

          <% unless @unit_of_work_groups.nil? %>
            <% @guw_types = @guw_model.guw_types.includes(:guw_complexities) %>
            <% @unit_of_work_groups.each do |uowg| %>
              <h4>
                <%= uowg.name %>
              </h4>
              <table class="table table-condensed main" style="font-size: 10px;">
                <tr>
                  <th>
                        <span class="pull-left">
                          Nom
                        </span>
                  </th>
                  <th>
                        <span class="pull-left">
                          Type
                        </span>
                  </th>
                  <% @guw_model.orders.sort_by { |k, v| v.to_f }.each do |i| %>
                    <% unless i[1].blank? %>
                      <% if Guw::GuwCoefficient.where(name: i[0]).first.class == Guw::GuwCoefficient %>
                        <% guw_coefficient = Guw::GuwCoefficient.where(name: i[0], guw_model_id: @guw_model.id, deported: false).first %>
                        <% unless guw_coefficient.nil? %>
                          <th class="span1">
                                <span class="pull-left">
                                  <%= i[0] %>
                                </span>
                          </th>
                        <% end %>
                      <% elsif i[0] == "Coefficient" %>
                        <% unless @guw_model.guw_coefficients.where(deported: true).map(&:id).empty? %>
                          <th class="span1">
                                <span>
                                  <%= i[0] %>
                                </span>
                          </th>
                        <% end %>
                      <% elsif i[0] == "Critères" %>

                      <% elsif i[0] == "Coeff. de Complexité" %>
                        <% if i[1].blank? %>
                              <span class="pull-left">
                                <%= i[0] %>
                              </span>
                        <% else %>
                          <th class="span1">
                            <% if @guw_types.map{|i| i.allow_criteria }.flatten.include?(true) %>
                              Coeff. de complexité
                            <% else %>
                              Complexité
                            <% end %>
                          </th>
                        <% end %>
                      <% else %>
                        <th class="span1">
                              <span class="pull-left">
                                <%= i[0] %>
                              </span>
                        </th>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>

                <% uowg.guw_unit_of_works.each do |uow| %>
                  <tr style="border: 2px solid black;">
                    <td>
                      <b><%= uow.name %></b>
                    </td>
                    <td>
                      <%= uow.guw_type %>
                    </td>

                    <% @guw_model.orders.sort_by { |k, v| v.to_f }.each do |i| %>
                      <% unless i[1].blank? %>
                        <% if i[0] == "Coeff. de Complexité" %>
                          <td class="center">
                            <p><%= uow.intermediate_percent %><br><%= uow.intermediate_weight %></p>
                          </td>
                        <% elsif Guw::GuwCoefficient.where(name: i[0], guw_model_id: @guw_model.id).first.class == Guw::GuwCoefficient %>
                          <% @guw_coefficient = Guw::GuwCoefficient.where(name: i[0], guw_model_id: @guw_model.id).first %>
                          <% if @guw_coefficient.coefficient_type == "Pourcentage" || @guw_coefficient.coefficient_type == "Coefficient" %>
                            <% ceuw = Guw::GuwCoefficientElementUnitOfWork.where(guw_unit_of_work_id: uow.id,
                                                                                 guw_coefficient_id: @guw_coefficient.id,
                                                                                 guw_coefficient_element_id: nil).last %>
                            <td class="center">
                              <%= ceuw.percent %><br><%= ceuw.comments %>
                            </td>
                          <% else %>
                            <% ceuw = Guw::GuwCoefficientElementUnitOfWork.where(guw_unit_of_work_id: uow.id,
                                                                                 guw_coefficient_id: @guw_coefficient.id).last %>
                            <td class="center">
                              <% begin %>
                                <%= ceuw.guw_coefficient_element.name %>
                              <% rescue %>
                                -
                              <% end %>
                            </td>
                          <% end %>

                        <% elsif Guw::GuwOutput.where(name: i[0], guw_model_id: @guw_model.id).first.class == Guw::GuwOutput %>
                          <% go = Guw::GuwOutput.where(name: i[0], guw_model_id: @guw_model.id).first %>
                          <% got = Guw::GuwOutputType.where(guw_model_id: @guw_model.id,
                                                            guw_output_id: go.id,
                                                            guw_type_id: uow.guw_type.id).first %>
                          <td class="center">
                            <% if got.display_type == "display" || got.display_type == "modif" %>
                              <%= uow.ajusted_size["#{go.id}"].to_f.round(user_number_precision) %>
                            <% else %>
                              <%= uow.size["#{go.id}"].to_f.round(user_number_precision) %> <br>
                              <%= uow.ajusted_size["#{go.id}"].to_f.round(user_number_precision) %>
                            <% end %>
                          </td>
                        <% else %>

                        <% end %>
                      <% end %>
                    <% end %>
                  </tr>

                  <% unless uow.cplx_comments.blank? %>
                    <tr>
                      <td colspan="2"></td>
                      <td colspan="13"><%= uow.cplx_comments %></td>
                    </tr>
                  <% end %>

                  <% uow.guw_unit_of_work_attributes.where(guw_type_id: uow.guw_type.id).includes(:guw_attribute).order('guw_guw_attributes.name asc').each_with_index do |uowa| %>
                    <% gat = Guw::GuwAttributeType.where(guw_type_id: uow.guw_type.id, guw_attribute_id: uowa.guw_attribute_id).first %>
                    <% unless uow.guw_type.nil? %>
                      <% sum_range = uowa.guw_attribute.guw_attribute_complexities.where(guw_type_id: uow.guw_type.id).map{|i| [i.bottom_range, i.top_range]}.flatten.compact %>
                    <% end %>
                    <% unless sum_range.nil? || sum_range.blank? || sum_range == 0 %>
                      <tr>
                        <td colspan="1" style="border: none;"></td>
                        <td colspan="2"><%= uowa.guw_attribute.name %> (<%= gat.nil? ? '-' : gat.default_value.to_f %>) </td>
                        <td colspan="1"><%= uowa.most_likely %></td>
                        <td colspan="12"><%= uowa.comments %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </table>

            <% end %>
          <% end %>

          <hr>

          <% view_widgets = ViewsWidget.where(module_project_id: module_project.id).all %>
          <div class="row-fluid">
            <% view_widgets.each do |view_widget| %>
              <div class="span2" style="padding: 6px; background-color: <%= view_widget.color %>; margin-bottom: 15px; text-align: center;">
                <h4><%= view_widget.name %></h4>
                <% unless view_widget.estimation_value.nil? %>
                  <% if view_widget.estimation_value.string_data_probable.is_a?(Float) %>
                    <p>
                      <%= Guw::GuwModel::display_value(view_widget.estimation_value.string_data_probable.to_f.round(user_number_precision),
                                                       view_widget.estimation_value,
                                                       view_widget,
                                                       current_user) %>
                    </p>
                  <% else %>
                    <p>
                      <%= Guw::GuwModel::display_value(view_widget.estimation_value.string_data_probable[current_component.id].to_f.round(user_number_precision),
                                                       view_widget.estimation_value,
                                                       view_widget,
                                                       current_user) %>
                    </p>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="alwaysbreak"></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</body>
</html>