<div class="page-edition-content pt-6 mt-5">
  <div class="d-flex align-items-center mt-4">
    <%#= 1. Sélectionnez le modèle de votre choix %>
    <h2><%= I18n.t :select_the_model_of_your_choix  %></h2>
    <% if can? :manage_estimation_models, Project %>
      <%= link_to I18n.t('create_new_model'), new_project_path(organization_id: @organization.id, is_model: true), :class => 'ml-5 btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="mb-6">
  <div class="estimation-template-list">
    <div class="estimation-template-list-filter">
      <%# RECHERCHER UN MODELE D’ESTIMATION %>
      <label for="templateSearchBar"><%= I18n.t :search_an_estimate_model %></label>
      <div class="input-group template-search-bar">
        <div class="input-group-prepend template-search-bar-prepend">
        <span class="input-group-text" id="search-icon">
          <i class="material-icons">search</i>
        </span>
        </div>
        <input type="text" id="myInput" onkeyup="myFunction();" class="form-control template-search-bar-input" placeholder="Model name" aria-label="search" aria-describedby="search-icon">
      </div>
    </div>

    <table id="myTable" class="estimation-template-table">
      <thead>
        <tr>
          <th class="text-left"><%= I18n.t(:label_model_name) %></th>
          <th class="text-left">Vers.</th>
          <th class="text-left">Description</th>
          <th class="text-left" style="width: 25%;"><%= I18n.t(:updated_at) %></th>
          <th class="text-left"></th>
        </tr>
      </thead>

      <tbody>
        <% @estimation_models.each do |project| %>
          <% if can_see_estimation?(project) %>
            <tr>
              <td class="estimation-template-table-name-cell">
                <% if can?(:create_project_from_template, Project) %>
                  <%= link_to(project.title, change_new_estimation_data_path(template_id: project.id,
                                                                             organization_id: project.organization_id,
                                                                             demand_id: params[:demand_id],
                                                                             action_name: "create_project_from_template"),
                              title: project.description,
                              remote: true) %>
                <% else %>
                  <% if can_show_estimation?(project) %>
                    <%= link_to(project.title, edit_project_path(project, tabs_name: 'tabs_global_properties', anchor: 'tabs-global-properties'), :title => I18n.t('edit')) %>
                  <% else %>
                    <%= project.title %>
                  <% end %>
                <% end %>
              </td>
              <td><%= project.version_number %></td>
              <td><%= project.description.to_s.truncate(100) %></td>
              <td><%= I18n.l(project.updated_at) %></td>
              <td>
                <div class="tools" style="float: right;">
                  <a href="<%= edit_project_path(project) %>"></a>
                  <% if can? :manage_estimation_models, Project %>
                    <%= link_to(raw("<i class='material-icons'>copy</i>"),
                                main_app.duplicate_path(project, organization_id: @organization, action_name: 'duplication_model'),
                                :title => I18n.t('button_duplicate_project'),
                                :method => :post) %>
                  <% end %>

                  <% if can_show_estimation?(project) %>
                    <%= link_to(raw("<i class='material-icons'>map</i>"), {:controller => 'projects', :action => 'find_use_estimation_model', :project_id => project.id}, :remote => true, 'data-project_id' => project.id, :class => 'icon icon-map-marker pull-left', :id => 'find_use_estimation_model', :title => I18n.t('button_find_use')) %>
                    <%= link_to(raw("<i class='material-icons'>edit</i>"), edit_project_path(project, is_model: true), :title => I18n.t('edit')) %>
                  <% end %>

                  <% if can? :manage_estimation_models, Project %>
                    <%= link_to(raw("<i class='material-icons'>clear</i>"), confirm_deletion_path(project_id: project.id), :title => I18n.t('delete')) %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>