<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
</script>

<div class="<%= (current_module_project.pemodule.alias == "initialization") ? 'col-10' : "#{current_module_project.show_results_view ? 'col-8' : 'col-10'}" %>" data-spy="scroll" data-target="#properties-sidebar" style="margin-top: 20px;">

  <% if current_module_project.pemodule.alias != "initialization" %>
    <div id="dashboard" class="edition-page-group py-4"><span><%= I18n.t(:calculation_modules) %></span></div>
    <%= render(:partial => 'projects/setting_module') %>
  <% else %>

    <div class="row">
      <div id="dashboard" class="col-10 edition-page-group py-4">
        <span><%= I18n.t(:dashboard) %></span>
      </div>

      <% @widgets = {} %>
      <% @project_module_projects = @project.module_projects.where(organization_id: @project.organization_id) %>
      <% @label_widget_ids = [] %>
      <% module_project = @project_module_projects.where(pemodule_id: @initialization_module.id).first unless @initialization_module.nil? %>

      <div class="col-2 tools float-right" style="margin-top: 1rem;">
        <% if can?(:alter_estimation_plan, @project) || can?(:manage_estimation_widgets, @project) %>
            <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: module_project.id, view_id: module_project.view_id) %>" title="<%= I18n.t :add_box %>"><i class="material-icons" >dashboard</i></a>
            <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: module_project.id, view_id: module_project.view_id, is_label_widget: true) %>" title="<%= I18n.t :text_fields %>"><i class="material-icons">text_fields</i></a>
            <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: module_project.id, view_id: module_project.view_id, is_kpi_widget: true) %>" title="<%= I18n.t :dashboard %>"><i class="material-icons">exposure</i></a>  <!-- add_box -->
            <a data-remote="true" href="<%= main_app.new_views_widget_path(module_project_id: module_project.id, view_id: module_project.view_id, is_project_data_widget: true) %>" title="<%= I18n.t :label_add_new_project_data_widget %>"><i class="material-icons">list</i></a>
            <a href="#" onclick="save_position(); return false;"><i class="material-icons">save</i></a>  <!-- add_box -->
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <div class="widgets-list">

        <!--BREAKDOWN_WIDGETS_TYPE = [-->
        <!--["", [  ["Simple text", "text"], ["Histogram", "bar_chart"] ] ],-->
        <!--["Effort per phase", [ ["Table", "table_effort_per_phase"], ["Table without active phase", "table_effort_per_phase_without_zero"], ["Histogram", "histogram_effort_per_phase"], ["Diagramme en camembert", "pie_chart_effort_per_phase"] ] ],-->
        <!--["Cost per phase", [ ["Table", "table_cost_per_phase"], ["Table without active phase", "table_cost_per_phase_without_zero"], ["Histogram", "histogram_cost_per_phase"], ["Diagramme en camembert", "pie_chart_cost_per_phase"] ] ],-->
        <!--["Effort per phases and profiles", [ ["Table", "effort_per_phases_profiles_table"], ["Table without active phase", "effort_per_phases_profiles_table_without_zero"], ["Histogram empilé ", "stacked_bar_chart_effort_per_phases_profiles"], ["Histogram groupé", "stacked_grouped_bar_chart_effort_per_phases_profiles"] ] ],-->
        <!--["Cost per phases and profiles", [ ["Table", "cost_per_phases_profiles_table"], ["Table without active phase", "cost_per_phases_profiles_table_without_zero"], ["Histogram empilé", "stacked_bar_chart_cost_per_phases_profiles"], ["Histogram groupé", "stacked_grouped_bar_chart_cost_per_phases_profiles"]] ],-->

        <!--["Effort & Cost", [ ["Effort & Cost Table / phase", "table_effort_and_cost_per_phase"], ["Effort & Cost Table / without active phase", "table_effort_and_cost_per_phase_without_zero"],-->
        <!--["Effort & Cost Table / phase / profils", "table_effort_and_cost_per_phases_profiles"], ["Effort & Cost Table / phase / profils sans phases à zéro", "table_effort_and_cost_per_phases_profiles_without_zero"]] ]-->
        <!--]-->
        <!-- -->

        <!-- Les Vignettes de type Tableau -->
        <% vw_table_types = ["table_effort_per_phase", "table_cost_per_phase", "table_effort_per_phase_without_zero", "table_cost_per_phase_without_zero",
                             "table_effort_and_cost_per_phase", "effort_per_phases_profiles_table", "cost_per_phases_profiles_table",
                             "effort_per_phases_profiles_table_without_zero", "cost_per_phases_profiles_table_without_zero",
                             "table_effort_and_cost_per_phases_profiles", "table_effort_and_cost_per_phases_profiles_without_zero"] %>

        <!-- Les Vignettes graphiques -->
        <% vw_graph_types = ["line_chart", "bar_chart", "area_chart", "pie_chart", "stacked_bar_chart", "timeline",
                             "histogram_effort_per_phase", "histogram_cost_per_phase", "pie_chart_effort_per_phase",
                             "pie_chart_cost_per_phase", "stacked_bar_chart_effort_per_phases_profiles",
                             "stacked_bar_chart_cost_per_phases_profiles", "stacked_grouped_bar_chart_effort_per_phases_profiles",
                             "stacked_grouped_bar_chart_cost_per_phases_profiles"] %>

        <%# @project_module_projects.each do |module_project| %>
        <%# module_project = ModuleProject.where("pemodule_id = ? AND project_id = ?", @initialization_module.id, @project.id).first unless @initialization_module.nil? %>
        <% module_project_view = module_project.view %>
        <% unless module_project_view.nil? %>
          <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
          <% module_project_view_widgets.each do |view_widget| %>
            <% if view_widget.is_label_widget? %>
              <%# view_widget_data = view_widget.comment #get_label_widget_data(view_widget.id) %>
              <%# @widgets[view_widget.name] = [view_widget, view_widget_data[:string_data_probable]] %>
              <%# @widgets[view_widget.name] = [view_widget, view_widget_data[:value_to_show]] %>
              <% @widgets[view_widget.name] = [view_widget, view_widget.comment] %>
              <% @label_widget_ids << view_widget.id %>
            <% elsif view_widget.is_kpi_widget? %>
              <% view_widget_data = get_kpi_value(view_widget) %>
              <% @widgets[view_widget.name] = [view_widget, view_widget_data] %>
            <% else %>
              <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                <% if view_widget.widget_type == "text" %>
                  <% view_widget_data = get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                  <% value_to_show = view_widget_data[:value_to_show] %>
                  <% @widgets[view_widget.name] = [view_widget, value_to_show] %>
                <%# else %>
                    <%# puts "Vignettes de types tableau et graphe" %>
                    <!-- Vignettes de types tableau et graphe -->
                    <%# view_widget_data = get_view_widget_data(view_widget.module_project_id, view_widget.id)[:value_to_show] %>
                    <%# value_to_show = view_widget_data[:value_to_show] %>
                    <%# @widgets[view_widget.name] = [view_widget, value_to_show] %>
                <% end %>
              <% else %>
                <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                <% @widgets[view_widget.name] = [view_widget, view_widget_data] %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%# end %>


        <div class="widget-list-content">
          <div class="widget-group">
            <div class="grid-stack">

              <!-- TEXT WIDGETS -->
              <% @widgets.keys.each_with_index do |k, index| %>
                <% view_widget = @widgets[k].first %>
                <% if (view_widget.estimation_status_id == @project.estimation_status_id) || view_widget.estimation_status_id.nil? || @project.is_model == true %>
                  <% value = @widgets[k].last %>
                  <% unless value.is_a?(Hash) %>

                    <% if view_widget.is_label_widget? %>

                      <div class="grid-stack-item label_widget" data-view_widget_id="<%= view_widget.id %>" data-gs-x="<%= view_widget.position_x %>" data-gs-y="<%= view_widget.position_y %>" data-gs-width="<%= view_widget.width.to_i %>" data-gs-height="1">
                        <!--<div class="grid-stack-item-content">-->
                          <div class=" row" style="padding-top: 4.5rem;">
                            <div class="col-10 widget-group-label">
                              <span class="label_widget_title"><%= value.nil? ? '-' : value %></span>
                            </div>

                            <div class="col-2 label_widget_icon">
                                <% if can?(:alter_estimation_plan, @project) || can?(:manage_estimation_widgets, @project) %>
                                  <i class='material-icons float-right grip'>drag_indicator</i>
                                  <%= link_to raw("<i class='material-icons'>edit</i>"), main_app.edit_views_widget_path(view_widget, module_project_id: current_module_project.id, view_id: current_module_project.view_id), class: 'material-icons float-right', title: I18n.t(:edit_widget, :value => view_widget.name), remote: true %>
                                  <%= link_to raw("<i class='material-icons'>delete</i>"), main_app.views_widget_path(view_widget), data: {confirm: I18n.t('are_you_sure')}, method: :delete, :class => 'material-icons float-right', :title => I18n.t('delete') %>

                                  <% if view_widget.widget_type == "effort_per_phases_profiles_table" || view_widget.widget_type == "table_effort_per_phase" || view_widget.widget_type == "table_effort_per_phase_without_zero" || view_widget.widget_type == "effort_per_phases_profiles_table_without_zero" %>
                                      <%= link_to raw("<i class='material-icons'>import_export</i>"), main_app.export_vignette_path(view_widget_id: view_widget.id, module_project_id: module_project.id), class: 'material-icons float-right', title: I18n.t(:export_vignette, :value => view_widget.name) %>
                                  <% end %>
                                <% end %>
                            </div>
                          </div>
                        <!--</div>-->
                      </div>

                    <% else %>
                      <div class="grid-stack-item" data-view_widget_id="<%= view_widget.id %>" data-gs-x="<%= view_widget.position_x %>" data-gs-y="<%= view_widget.position_y %>" data-gs-width="<%= view_widget.width.to_i %>" data-gs-height="1">
                        <div class="grid-stack-item-content">

                          <div class="card card-widget card-indicator card-indicator-with-module" style="padding-right: 5px; padding-top: 3px;">
                            <div class="card-body">
                              <% if view_widget.show_module_name == true %>
                                <div class="card-indicator-type" style="margin-top: -1rem;">
                                  <%= view_widget.module_project %><%= current_user.super_admin == true ? " (#{view_widget.position})" : "" %>
                                </div>
                              <% end %>

                              <div class="card-indicator-text">
                                <div class="dragme">
                                  <i class='material-icons grip' style="float: right;  margin-right: -1.5rem">drag_indicator</i>

                                  <% if can?(:alter_estimation_plan, @project) || can?(:manage_estimation_widgets, @project) %>
                                      <%= link_to raw("<i class='material-icons'>edit</i>"), main_app.edit_views_widget_path(view_widget, module_project_id: current_module_project.id, view_id: current_module_project.view_id), class: 'material-icons float-right', title: I18n.t(:edit_widget, :value => view_widget.name), remote: true %>
                                      <%= link_to raw("<i class='material-icons'>delete</i>"), main_app.views_widget_path(view_widget), data: {confirm: I18n.t('are_you_sure')}, method: :delete, :class => 'material-icons float-right', :title => I18n.t('delete') %>
                                  <% end %>
                                  <% if view_widget.widget_type == "effort_per_phases_profiles_table" || view_widget.widget_type == "table_effort_per_phase" || view_widget.widget_type == "table_effort_per_phase_without_zero" || view_widget.widget_type == "effort_per_phases_profiles_table_without_zero" %>
                                      <%= link_to raw("<i class='material-icons'>get_app</i>"), main_app.export_vignette_path(view_widget_id: view_widget.id, module_project_id: current_module_project.id), class: 'material-icons float-right', title: I18n.t(:export_vignette, :value => view_widget.name) %>
                                  <% end %>
                                </div>

                                <%= k %>
                                <% unless view_widget.project_fields.empty? %>
                                  *
                                <% end %>
                              </div>
                              <div class="card-indicator-label">
                                  <span style="margin-top: 0.9rem"><%= value.nil? ? '-' : value %></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>

                  <% end %>
                <% end %>
              <% end %>


              <!-- Les Vignettes de type Tableau -->
              <% project_table_view_widgets = @project.views_widgets.where(widget_type: [vw_table_types, vw_graph_types]) %>
              <!-- Les Vignettes graphiques -->
              <%# project_graph_view_widgets = @project.views_widgets.where(widget_type: vw_graph_types) %>

              <% project_table_view_widgets.each_with_index do |view_widget, index| %>
                  <div class="grid-stack-item table_graph" data-view_widget_id="<%= view_widget.id %>" data-gs-x="<%= view_widget.position_x %>" data-gs-y="<%= view_widget.position_y %>" data-gs-width="<%= view_widget.width.to_i %>" data-gs-height="<%= view_widget.height.to_i %>">
                    <div class="grid-stack-item-content">
                        <div class="card card-widget card-indicator card-indicator-with-module">
                          <div class="card-body">
                              <% if view_widget.show_module_name == true %>
                                <div class="card-indicator-type" style="margin-top: -1rem;">
                                  <%= view_widget.module_project %><%= current_user.super_admin == true ? " (#{view_widget.position})" : "" %>
                                </div>
                              <% end %>

                            <div class="card-indicator-text">
                              <div class="dragme">
                                <i class='material-icons grip' style="float:right; margin-right: -1.5rem">drag_indicator</i>

                                <%= link_to raw("<i class='material-icons'>get_app</i>"), main_app.export_vignette_path(view_widget_id: view_widget.id, module_project_id: current_module_project.id), class: 'material-icons float-right', title: I18n.t(:export_vignette, :value => view_widget.name) %>
                                <a href="<%= main_app.edit_views_widget_path(view_widget, module_project_id: current_module_project.id, view_id: current_module_project.view_id) %>" data-remote="true" title="<%= I18n.t :edit %>"><i class="material-icons float-right">edit</i></a>
                                <%= link_to raw("<i class='material-icons'>delete</i>"), main_app.views_widget_path(view_widget), data: {confirm: I18n.t('are_you_sure')}, method: :delete, :class => 'material-icons float-right', :title => I18n.t('delete') %>
                              </div>

                              <%= view_widget.name %>
                            </div>

                            <div class="effort-table" style="margin-top: 0.9rem">
                              <%#= get_view_widget_data(view_widget.module_project_id, view_widget.id)[:value_to_show] %>
                              <% if view_widget.is_label_widget? %>
                                  <% view_widget_data = get_label_widget_data(view_widget.id) %>
                              <% elsif view_widget.is_kpi_widget? %>
                                  <% view_widget_data = get_kpi_widget_data(view_widget.id) %>
                              <% elsif view_widget.is_project_data_widget? %>
                                  <% view_widget_data = get_project_data_widget_value(view_widget.id, @project.id) %>
                              <% else %>
                                  <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                                      <% view_widget_data = get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                                  <% else %>
                                      <% view_widget_data = get_view_widget_data(module_project.id, view_widget.id) %>
                                  <% end %>
                              <% end %>
                              
                              <%= view_widget_data[:value_to_show] %>
                              
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>





  <!-- Les Vignettes graphiques -->
  <%# project_graph_view_widgets = @project.views_widgets.where(widget_type: vw_graph_types) %>

  <!-- Fin Les graphiques -->

</div>

<link rel="stylesheet" href="/assets/gridstack.css" />

<script>

    //$('.card-body').css('padding', '1.1rem 1.3rem 1.1rem 0 !important');
    var label_widget_ids = <%= @label_widget_ids.to_json.html_safe %>;

    $(function () {
        var options = {
            width: 12,
            cellHeight: 100,
            verticalMargin: 0,
            draggable: {
                handle: '.grip'
            },

            resizable: {
                handles: 'se'
            }
        };

        $('.grid-stack').gridstack(options);

        $('.grid-stack').on('dragstop', function (event, ui) {
            var element = $(event.target);
            var node = element.data('_gridstack_node');

            $.ajax({
                url: "/update_view_widget_positions",
                method: "get",
                data: {
                    x_position: node['x'],
                    y_position: node['y'],
                    item_width: node['width'],
                    item_height: node['height'],
                    view_widget_id: element.data('view_widget_id')
                }
            });
        });


        $('.grid-stack').on('resizestop', function(event, ui) {
            var element = $(event.target);
            var node = element.data('_gridstack_node');
            var node_height = node['height']; //node.height;
            //console.log(node);

            $.ajax({
                url: "/update_view_widget_positions",
                method: "get",
                data: {
                    x_position: node['x'],
                    y_position: node['y'],
                    item_width: node['width'],
                    item_height: node['height'],
                    view_widget_id: element.data('view_widget_id')
                }
            });
        });
    });


    function define_margin(element){
        if(node['y'] == 0 || (jQuery.inArray(element.data('view_widget_id'), label_widget_ids) !== -1)){
            element.css('margin-top', '0');
        }else{
            element.css('margin-top', '-30px');
        }
    }

//    $('.grid-stack').on('change', function (e, items) {
//        console.log(items);
//    });

</script>
