<div>
  <div class="pull-left">
    <table id="profiles_per_activity" class="table">
      <tr>
        <th style="text-align: left"><%= I18n.t(:phases) %></th>
        <th colspan="<%= project_organization_profiles.length %>"><%= I18n.t(:profiles) %></th>
        <th rowspan="2">
          <%= I18n.t(:total_per_phase) %><br>
          <%#= get_attribute_human_name(estimation_value.pe_attribute) %>
          <span>
            <%= get_attribute_human_name(estimation_value.pe_attribute) %> <%= "(#{wbs_unit})" %>
          </span>
        </th>
      </tr>
      <tr>
        <th>
          <%# I18n.t(:effort_per_phase) %>
        </th>
        <% if project_organization_profiles.length > 0 %>
          <% mp_profiles_length = project_organization_profiles.length+1 %>
          <% project_organization_profiles.each do |profile| %>
            <th class="text_center"><%= profile.name %></th>
          <% end %>
        <% else %>
            <% mp_profiles_length = 2 %>
            <th><%= I18n.t(:no_profiles_for_wbs_activity_organization) %></th>
        <% end %>
      </tr>

        <% if estimation_pbs_probable_results.nil? || ratio_reference.nil? %>

          <% project_wbs_activity_elements.each do |wbs_activity_elt| %>
              <% mp_ratio_element = module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_elt.id }.first %>
              <% if mp_ratio_element %>
                  <% unless view_widget_type.to_s=="effort_per_phases_profiles_table_without_zero" && mp_ratio_element.nil? %>
                      <tr>
                        <td>
                          <span style="float: left; margin-left:<%=wbs_activity_elt.depth%>em">
                            <%= mp_ratio_element.name_to_show %>
                          </span>
                        </td>
                        <% mp_profiles_length.times do |i| %>
                            <td>-</td>
                        <% end %>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>

        <% else %>
          <% referenced_wbs_activity_ratio_profiles = ratio_reference.wbs_activity_ratio_profiles %>

          <% array_root = Hash.new { |h,k| h[k]=[] } %>
          <% total_per_phase_to_sum = []   #value of the sum of all total per phase %>
          <% view_widget = ViewsWidget.find(view_widget_id) %>
          <% wbs_activity = module_project.wbs_activity
             if wbs_activity
                 effort_unit_coefficient = wbs_activity.effort_unit_coefficient.nil? ? 1 : wbs_activity.effort_unit_coefficient
             else
                 effort_unit_coefficient = 1
             end
          %>
          <% if view_widget.use_organization_effort_unit == true
               min_effort_value = get_min_effort_value_from_mp_ratio_elements(module_project_ratio_elements, "#{pe_attribute_alias}_probable")
               organization_effort_limit_coeff, organization_effort_unit = get_organization_effort_limit_and_unit(min_effort_value, @project.organization)
          end %>

          <% project_wbs_activity_elements.each do |wbs_activity_elt| %>
            <% mp_ratio_element = module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_elt.id }.first %>
            <% if mp_ratio_element %>
              <% unless view_widget_type.to_s=="effort_per_phases_profiles_table_without_zero" && mp_ratio_element.nil? %>

                <% effort_per_phase = nil %>
                <% unless wbs_activity_elt.is_root? %>
                  <% wbs_activity_elt_id = wbs_activity_elt.id %>
                    <% profile_ratio_percentage = "" %>
                    <% wbs_probable_value = estimation_pbs_probable_results[wbs_activity_elt.id] %>
                    <% unless wbs_probable_value.nil? %>
                      <!-- Get the profile ratio percentage -->
                      <% unless wbs_activity_elt_id.nil?
                           wbs_activity_ratio_elt = WbsActivityRatioElement.where('wbs_activity_ratio_id = ? and wbs_activity_element_id = ?', ratio_reference.id, wbs_activity_elt_id).first
                      end %>
                      <% wbs_estimation_profiles_values = wbs_probable_value["profiles"] %>
                      <tr>
                        <td>
                          <span style="float: left; margin-left:<%=wbs_activity_elt.depth%>em">
                            <% if mp_ratio_element.nil? %>
                              -
                            <% else %>
                              <%= mp_ratio_element.name_to_show %> <%#= wbs_activity_elt.name %>
                            <% end %>
                          </span>
                        </td>

                        <% if project_organization_profiles.length > 0 %>
                          <% array_profile_sum = Array.new %>
                          <% project_organization_profiles.each do |profile| %>
                            <% if (mp_ratio_element && mp_ratio_element.selected) #|| mp_ratio_element.nil? %>
                                <!-- Get the percentage of profile -->
                                <% if !wbs_activity_ratio_elt.nil?
                                     # get the wbs_activity_ratio_profile
                                     corresponding_ratio_profile = referenced_wbs_activity_ratio_profiles.where('wbs_activity_ratio_element_id = ? AND organization_profile_id = ?', wbs_activity_ratio_elt.id, profile.id).first
                                     # Get current profile ratio value for the referenced ratio
                                     profile_ratio_percentage = corresponding_ratio_profile.nil? ? nil : "#{corresponding_ratio_profile.ratio_value}%"
                                end %>

                                <% wbs_profiles_value = nil %>
                                <% unless wbs_estimation_profiles_values.nil? || wbs_estimation_profiles_values.empty? || wbs_estimation_profiles_values["profile_id_#{profile.id}"].nil? %>
                                  <% if !wbs_estimation_profiles_values["profile_id_#{profile.id}"]["ratio_id_#{ratio_reference.id}"].nil? %>
                                    <% wbs_profiles_value = wbs_estimation_profiles_values["profile_id_#{profile.id}"]["ratio_id_#{ratio_reference.id}"][:value] %>
                                    <% array_profile_sum << wbs_profiles_value %> <%# array_profile_sum << wbs_profiles_value.to_i / 8 %>
                                  <% end %>
                                <% end %>
                                  <% if wbs_activity_elt.is_root? %>
                                    <td class="text_center">
                                      -
                                    </td>
                                  <% elsif  wbs_profiles_value.nil? %>
                                    <td class="text_center">
                                      -
                                    </td>
                                  <% else %>
                                    <td class="text_center">
                                      <% effort_per_phase = effort_per_phase.nil? ? effort_per_phase.to_f : effort_per_phase %>
                                      <% if wbs_profiles_value.class == Hash %>
                                        <% wbs_profiles_value = wbs_profiles_value[wbs_activity_elt.id][profile.id].to_f %>
                                      <% end %>

                                      <!-- on ajoute que les descendants directs -->
                                      <% if wbs_activity_elt.parent_id == wbs_activity_element_root.id %>
                                        <% array_root[profile.id] << wbs_profiles_value %>
                                      <% end %>
                                      <% unless wbs_profiles_value.nil? %>
                                        <% effort_per_phase +=  wbs_profiles_value %>
                                      <% end %>
                                      <% if current_user.locale == "en" %>
                                          <% if view_widget.use_organization_effort_unit == true %>
                                              <%= " #{organization_effort_unit} #{convert_with_precision(convert_effort_with_organization_unit(wbs_profiles_value, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)}" %>
                                          <% else %>
                                              <%= "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(wbs_profiles_value, effort_unit_coefficient), user_number_precision, true)}" %>
                                          <% end %>
                                      <% else %>
                                          <% if view_widget.use_organization_effort_unit == true %>
                                              <%= "#{convert_with_precision(convert_effort_with_organization_unit(wbs_profiles_value, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)} #{organization_effort_unit}" %>
                                          <% else %>
                                              <%= "#{convert_with_precision(convert_wbs_activity_value(wbs_profiles_value, effort_unit_coefficient), user_number_precision, true)} #{wbs_unit} " %>
                                          <% end %>
                                      <% end %>

                                    </td>
                                  <% end %>
                             <% else %>
                                <td class="text_center"> - </td>
                             <% end %>
                          <% end %>

                        <% else %>
                            <td></td>
                        <% end %>

                        <!-- on ajoute que les descendants directs -->
                        <% if wbs_activity_elt.parent_id == wbs_activity_element_root.id %>
                            <% total_per_phase_to_sum <<  effort_per_phase %>
                        <% end %>
                        <td class="text_center">
                          <% if view_widget.use_organization_effort_unit == true %>
                              <% if current_user.locale == "en" %>
                                <%= effort_per_phase.nil? ? "-" : "#{organization_effort_unit} #{convert_with_precision(convert_effort_with_organization_unit(effort_per_phase, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)}" %>
                              <% else %>
                                  <%= effort_per_phase.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(effort_per_phase, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)} #{organization_effort_unit}" %>
                              <% end %>

                          <% else %>
                              <% if current_user.locale == "en" %>
                                <%= effort_per_phase.nil? ? "-" : "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(effort_per_phase, effort_unit_coefficient), user_number_precision, true)}" %>
                              <% else %>
                                  <%= effort_per_phase.nil? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(effort_per_phase, effort_unit_coefficient), user_number_precision, true)} #{wbs_unit}" %>
                              <% end %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <tr>
            <% project_wbs_activity_elements.each do |wbs_activity_elt| %>
              <% if wbs_activity_elt.is_root? %>
                <% mp_ratio_element_root = module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_elt.id }.first %>
                <% root_effort_per_phase = nil %>
                <td style="text-align: left">
                  <br />
                  <strong><%= wbs_activity_elt.name %>  <%#= mp_ratio_element_root.name_to_show rescue nil %></strong>
                </td>
                <% if project_organization_profiles.length > 0 %>
                    <% project_organization_profiles.each do |profile| %>
                      <td class="text_center">
                        <% unless  array_root[profile.id].empty? %>
                            <% root_effort_per_profile = array_root[profile.id].map(&:to_f).sum %>
                            <% root_effort_per_phase = root_effort_per_phase.nil? ? root_effort_per_phase.to_f : root_effort_per_phase %>
                            <% root_effort_per_phase +=  root_effort_per_profile %>
                        <% end %>
                        <br />
                        <% if current_user.locale == "en" %>
                            <% if view_widget.use_organization_effort_unit == true %>
                                <%= root_effort_per_profile.nil? ? "-" : "#{organization_effort_unit} #{convert_with_precision(convert_effort_with_organization_unit(root_effort_per_profile, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)}" %>
                            <% else %>
                                <%= root_effort_per_profile.nil? ? "-" : "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(root_effort_per_profile, effort_unit_coefficient), user_number_precision, true)} " %>
                            <% end %>
                        <% else %>
                            <% if view_widget.use_organization_effort_unit == true %>
                                <%= root_effort_per_profile.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(root_effort_per_profile, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)} #{organization_effort_unit}" %>
                            <% else %>
                                <%= root_effort_per_profile.nil? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(root_effort_per_profile, effort_unit_coefficient), user_number_precision, true)} #{wbs_unit}" %>
                            <% end %>
                        <% end %>
                      </td>
                    <% end %>
                <% else %>
                    <td></td>
                <% end %>
                <td>
                  <div class="text_center">
                    <strong>
                      <% if current_user.locale == "en" %>
                          <% if view_widget.use_organization_effort_unit == true %>
                            <%= total_per_phase_to_sum.compact.empty? ? "-" : " #{organization_effort_unit} #{convert_with_precision(convert_effort_with_organization_unit(total_per_phase_to_sum.map(&:to_f).sum.to_f, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)}" %>
                          <% else %>
                              <%= total_per_phase_to_sum.compact.empty? ? "-" : "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(total_per_phase_to_sum.map(&:to_f).sum.to_f, effort_unit_coefficient), user_number_precision, true)}" %>
                          <% end %>
                      <% else %>
                          <% if view_widget.use_organization_effort_unit == true %>
                              <%= total_per_phase_to_sum.compact.empty? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(total_per_phase_to_sum.map(&:to_f).sum.to_f, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)} #{organization_effort_unit}" %>
                          <% else %>
                              <%= total_per_phase_to_sum.compact.empty? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(total_per_phase_to_sum.map(&:to_f).sum.to_f, effort_unit_coefficient), user_number_precision, true)} #{wbs_unit} " %>
                          <% end %>
                      <% end %>
                    </strong>
                  </div>
                  <br />
                  <div class="pull-left">
                    <strong>
                      <%#= root_effort_per_phase.nil? ? "-" : "#{convert_with_precision(convert(root_effort_per_phase, @current_organization), user_number_precision, true)} #{wbs_unit}" %>
                      <% if current_user.locale == "en" %>
                          <% if view_widget.use_organization_effort_unit == true  %>
                              <%= root_effort_per_phase.nil? ? "-" : "#{organization_effort_unit} #{convert_with_precision(convert_effort_with_organization_unit(root_effort_per_phase, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)}" %>
                          <% else %>
                              <%= root_effort_per_phase.nil? ? "-" : "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(root_effort_per_phase, effort_unit_coefficient), user_number_precision, true)}" %>
                          <% end %>

                      <% else %>
                          <% if view_widget.use_organization_effort_unit == true  %>
                              <%= root_effort_per_phase.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(root_effort_per_phase, organization_effort_limit_coeff, organization_effort_unit), user_number_precision, true)} #{organization_effort_unit}" %>
                          <% else %>
                              <%= root_effort_per_phase.nil? ? "-" : "#{wbs_unit} #{convert_with_precision(convert_wbs_activity_value(root_effort_per_phase, effort_unit_coefficient), user_number_precision, true)}" %>
                          <% end %>
                      <% end %>
                    </strong>
                  </div>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>

    </table>
  </div>
</div>