<%
   levels = ['probable']
   colspan = 1
   rowspan = 1

   view_widget = ViewsWidget.find(view_widget_id)
   pbs_project_element = current_component
   pemodule = module_project.pemodule
   project = module_project.project
   precision = estimation_value.pe_attribute.precision.nil? ? user_number_precision : estimation_value.pe_attribute.precision

   wbs_activity = module_project.wbs_activity
   if wbs_activity
    effort_unit_coefficient = wbs_activity.effort_unit_coefficient.nil? ? 1 : wbs_activity.effort_unit_coefficient
   else
     effort_unit_coefficient = 1
   end

   pe_attribute_alias = estimation_value.pe_attribute.alias
   if pe_attribute_alias.in?("cost", "effort")
     effort_attribute_alias = "retained_effort"
     cost_attribute_alias = "retained_cost"
   else
     effort_attribute_alias = "theoretical_effort"
     cost_attribute_alias = "theoretical_cost"
   end

   unless estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost")
     if view_widget.use_organization_effort_unit == true
        min_effort_value = get_min_effort_value_from_mp_ratio_elements(module_project_ratio_elements, "#{effort_attribute_alias}_probable")
        organization_effort_limit_coeff, organization_effort_unit = get_organization_effort_limit_and_unit(min_effort_value, project.organization)
     end
   end

   effort_unit = wbs_activity.effort_unit
   cost_unit = project.organization.currency.nil? ? nil.to_s : "#{project.organization.currency.sign}"

   # Get min value and organization effort unit coeff
   if view_widget.use_organization_effort_unit == true
     min_value = get_min_effort_value_from_mp_ratio_elements(module_project_ratio_elements, estimation_value.pe_attribute.alias)
     organization_effort_limit_coeff, organization_effort_unit = get_organization_effort_limit_and_unit(min_value, project.organization)
     effort_unit = organization_effort_unit
   end

   #Libelle du TJM / taux moyen
   tjm_taux_moyen = wbs_activity.average_rate_wording.blank? ? "Taux moyen" : wbs_activity.average_rate_wording
   tjm_global = nil

%>

<table class='table table-condensed table-bordered  table_effort_per_phase' style="margin-left:20px;">
  <tr>
    <th rowspan=""<%= rowspan %>">Phases</th>
    <% if view_widget.show_tjm %>
        <th><%= tjm_taux_moyen %></th>
    <% end %>

    <th colspan=<%= colspan %>>
      <span>
        <%= I18n.t("#{effort_attribute_alias}") %> <%= "(#{effort_unit})" %>
      </span>
    </th>
    <th>
      <span>
        <%= I18n.t("#{cost_attribute_alias}") %> <%= "(#{cost_unit})" %>
      </span>
    </th>
  </tr>

  <% number_precision = user_number_precision %>
  <% project_wbs_activity_elements.each_with_index do |wbs_activity_elt, i| %>
    <% mp_ratio_element = module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_elt.id }.first %>
    <% if mp_ratio_element %>
      <% title = "" %>
      <tr>
        <td>
        <span class='tree_element_in_out' title='<%= title %>' style='margin-left:<%= mp_ratio_element.wbs_activity_element.nil? ? 1 : mp_ratio_element.wbs_activity_element.depth %>em;'>
          <% if i == 0 %>
            <b>
              <%= mp_ratio_element.name_to_show %> <%#= wbs_activity_elt.name %>
            </b>
          <% else %>
            <%= mp_ratio_element.name_to_show %> <%#= wbs_activity_elt.name %>
          <% end %>
        </span>
        </td>

        <!--  AFFICHAGE DU TJM -->
        <% if view_widget.show_tjm %>
            <% element_tjm = mp_ratio_element.tjm %>
            <% if mp_ratio_element.is_root? %>
                <td>
                  <strong style="vertical-align: middle">
                    <p id='<%= "tjm_global_#{view_widget.id}" %>'></p>
                  </strong>
                </td>
            <% else %>
                <td><%= element_tjm.blank? ? "-" : convert_with_precision(element_tjm, 3, true) %></td>
            <% end %>
        <% end %>

        <% levels.each do |level| %>
            <% effort_level_value = mp_ratio_element.send("#{effort_attribute_alias}_#{level}") %>
            <% cost_level_value = mp_ratio_element.send("#{cost_attribute_alias}_#{level}") %>

            <% if mp_ratio_element.is_root? %>
              <% tjm_global = effort_level_value.nil? ? "-" : convert_with_precision(cost_level_value.to_f / effort_level_value.to_f, 3, true) %>
            <% end %>

            <% if mp_ratio_element.selected %>
                <!--  # for Effort attribute -->
                <td class=''>
                  <% if i == 0 %>
                    <b>
                      <span class='pull-right'>
                        <%=
                          if view_widget.use_organization_effort_unit == true
                            # use organization effort unit
                            effort_level_value.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(effort_level_value, organization_effort_limit_coeff, organization_effort_unit), number_precision, true)} #{organization_effort_unit}"
                          else
                            # use module instance effort unit
                            effort_level_value.nil? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(effort_level_value, effort_unit_coefficient), number_precision, true)} #{effort_unit}"
                          end
                        %>
                      </span>
                    </b>
                  <% else %>
                    <span class='pull-right'>
                      <%=
                        if view_widget.use_organization_effort_unit == true
                          # use organization effort unit
                          effort_level_value.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(effort_level_value, organization_effort_limit_coeff, organization_effort_unit), number_precision, true)} #{organization_effort_unit}"
                        else
                          # use module instance effort unit
                          effort_level_value.nil? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(effort_level_value, effort_unit_coefficient), number_precision, true)} #{effort_unit}"
                        end
                      %>
                    </span>
                  <% end %>
                </td>

                <!--  # for Cost attribute -->
                <td class=''>
                  <span class='pull-right'>
                    <%= cost_level_value.nil? ? "-" : "#{convert_with_precision(cost_level_value, number_precision, true)} #{cost_unit}" %>
                  </span>
                </td>

            <% else %>
                <td class=''><span class='pull-right'> - </span></td>
                <td class=''><span class='pull-right'> - </span></td>
            <% end %>
        <% end %>
        <tr>
    <% end %>
  <% end %>
</table>

<script>
    $("p#tjm_global_"+'<%= view_widget.id %>').text('<%= tjm_global %>');
</script>