<%
   pbs_project_element = current_component
   pemodule = module_project.pemodule
   precision = estimation_value.pe_attribute.precision.nil? ? user_number_precision : estimation_value.pe_attribute.precision

   # Only the Modules with activities
   #with_activities = pemodule.yes_for_output_with_ratio? || pemodule.yes_for_output_without_ratio? || pemodule.yes_for_input_output_with_ratio? || pemodule.yes_for_input_output_without_ratio?
   #return String.new unless with_activities

   wbs_activity = module_project.wbs_activity

   if estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost")
     @wbs_unit = get_attribute_unit(estimation_value.pe_attribute)
   else
     @wbs_unit = wbs_activity.effort_unit
   end


   levels = ['probable']
   colspan = 1
   rowspan = 1

%>

<table class='table table-condensed table-bordered  table_effort_per_phase' style="margin-left:20px;">
  <tr>
    <th rowspan=""<%= rowspan %>">Phases</th>
    <th colspan=<%= colspan %>>
      <span class='attribute_tooltip' title='#{estimation_value.pe_attribute.description} #{display_rule(estimation_value)}'>
        <%= estimation_value.pe_attribute.name %> <%= estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost") ? "(#{@project.organization.currency})" : '' %>
      </span>
    </th>
  </tr>

  <% module_project_ratio_elements.each do |mp_ratio_element| %>
      <% completion_consistency = "" %>
      <% title = "" %>
      <% level_value_probable = mp_ratio_element.send("#{pe_attribute_alias}_probable") %>
      <% unless level_value_probable.nil? || level_value_probable == 0 %>
          <tr>
            <td>
            <span class='tree_element_in_out' title='<%= title %>' style='margin-left:<%= mp_ratio_element.wbs_activity_element.nil? ? 1 : mp_ratio_element.wbs_activity_element.depth %>em;'>
              <%= mp_ratio_element.name %>
            </span>
            </td>
            <% levels.each do |level| %>
                <% level_value = mp_ratio_element.send("#{pe_attribute_alias}_#{level}") %>
                <td class=''>
                  <span class='pull-right'>
                    <%=
                        if mp_ratio_element.selected
                            if estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost")  # if estimation_value.pe_attribute.alias == "cost"
                              if level_value.nil?
                                "-"
                              else
                                "#{convert_with_precision(level_value, user_number_precision, true)} #{@wbs_unit}"
                              end
                            else
                              "#{convert_with_precision(convert(level_value, @project.organization), user_number_precision, true)} #{@wbs_unit}"
                            end
                        else
                            "-"
                        end
                    %>
                  </span>
                </td>
            <% end %>
          <tr>
      <% end %>
  <% end %>
</table>