<%
   levels = ['probable']
   colspan = 1
   rowspan = 1

   view_widget = ViewsWidget.find(view_widget_id)
   pbs_project_element = current_component
   pemodule = module_project.pemodule
   precision = estimation_value.pe_attribute.precision.nil? ? user_number_precision : estimation_value.pe_attribute.precision

   wbs_activity = module_project.wbs_activity
   if wbs_activity
    effort_unit_coefficient = wbs_activity.effort_unit_coefficient.nil? ? 1 : wbs_activity.effort_unit_coefficient
   else
     effort_unit_coefficient = 1
   end

   #module_project_ratio_elementss = ModuleProjectRatioElement.sort_by_ancestry(module_project_ratio_elements.arrange(:order => :position))

   unless estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost")
     if view_widget.use_organization_effort_unit == true
        min_effort_value = get_min_effort_value_from_mp_ratio_elements(module_project_ratio_elements, "#{pe_attribute_alias}_probable")
        organization_effort_limit_coeff, organization_effort_unit = get_organization_effort_limit_and_unit(min_effort_value, @project.organization)
     end
   end


%>

<table class='table table-condensed table-bordered  table_effort_per_phase' style="margin-left:20px;">
  <tr>
    <th rowspan=""<%= rowspan %>">Phases</th>
    <th colspan=<%= colspan %>>
      <span class='attribute_tooltip' title='<%= "#{I18n.t(estimation_value.pe_attribute.alias)} #{display_rule(estimation_value)}" %>'>
        <%= get_attribute_human_name(estimation_value.pe_attribute) %> <%= "(#{wbs_unit})" %>
      </span>
    </th>
  </tr>

  <% number_precision = user_number_precision %>
  <% project_wbs_activity_elements.each do |wbs_activity_elt| %>
    <% mp_ratio_element = module_project_ratio_elements.select { |mp_ratio_elt| mp_ratio_elt.wbs_activity_element_id == wbs_activity_elt.id }.first %>
    <% if mp_ratio_element %>
      <%# module_project_ratio_elements.each do |mp_ratio_element| %>
      <% completion_consistency = "" %>
      <% title = "" %>
      <tr>
        <td>
        <span class='tree_element_in_out' title='<%= title %>' style='margin-left:<%= mp_ratio_element.wbs_activity_element.nil? ? 1 : mp_ratio_element.wbs_activity_element.depth %>em;'>
           <%= mp_ratio_element.name_to_show %> <%#= wbs_activity_elt.name %>
        </span>
        </td>
        <% levels.each do |level| %>
            <td class=''>
          <span class='pull-right'>

            <% level_value = mp_ratio_element.send("#{pe_attribute_alias}_#{level}") %>
            <%=
                if mp_ratio_element.selected
                    if estimation_value.pe_attribute.alias.in?("cost", "theoretical_cost")  # if estimation_value.pe_attribute.alias == "cost"
                        level_value.nil? ? "-" : "#{convert_with_precision(level_value, number_precision, true)} #{wbs_unit}"
                    else
                      # for Effort attribute
                      if view_widget.use_organization_effort_unit == true
                        # use organization effort unit
                        # "#{convert_with_precision(convert(level_value, @project.organization), number_precision, true)} #{@wbs_unit}"
                        level_value.nil? ? "-" : "#{convert_with_precision(convert_effort_with_organization_unit(level_value, organization_effort_limit_coeff, organization_effort_unit), number_precision, true)} #{organization_effort_unit}"
                      else
                        # use module instance effort unit
                        level_value.nil? ? "-" : "#{convert_with_precision(convert_wbs_activity_value(level_value, effort_unit_coefficient), number_precision, true)} #{wbs_unit}"
                      end
                    end
                else
                    "-"
                end
            %>

          </span>
            </td>
        <% end %>
        <tr>
    <% end %>
  <% end %>
</table>