<section class="card card-content-bloc estimancy-form">

    <%= simple_form_for(@views_widget, :remote => true) do |f| %>
      <%= f.error_notification %>

      <div class="card-body">
          <div class="edition-bloc-content">
            <div class="edition-bloc-form">

              <%= f.input :view_id, as: :hidden, :input_html => { value: @view_id } %>
              <%= f.input :position_x, as: :hidden, :input_html => { value: @position_x } %>
              <%= f.input :position_y, as: :hidden, :input_html => { value: @position_y } %>
              <%= hidden_field_tag 'current_module_project_id', @module_project.id %>

              <div class="form-row">
                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :name, label: false, :input_html => { :class => 'mdl-textfield__input form-control' } %>
                    <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                  </div>
                </div>

                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :position, label: false, :input_html => { :class => 'mdl-textfield__input form-control' } %>
                    <label class="mdl-textfield__label" for="position"><%= I18n.t(:position) %></label>
                  </div>
                </div>
              </div>


              <div class="form-row">
                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <% if @module_project_box.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                          <%= f.association :module_project, label: false, collection: @project.module_projects.reject{|i| i.to_s == @project.title }.map{|i| [i, i.id]}, selected: @module_project.id, prompt: "Choisir un module d'estimation", input_html:{class: "inline_attr mdl-textfield__input form-control"} %>
                      <% else %>
                          <%= f.association :module_project, label: false, collection: [@module_project].map{|i| [i, i.id]}, selected: @module_project.id, include_blank: false, input_html:{class: "inline_attr mdl-textfield__input form-control"} %>
                      <% end %>
                      <label class="mdl-textfield__label" for="module_project"><%= I18n.t(:label_modules) %></label>
                  </div>
                </div>

                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :estimation_value_id, collection: @module_project_attributes, as: :grouped_select, group_method: :last, group_label_method: :first, label: false, input_html: {class: "inline_attr mdl-textfield__input form-control"}, include_blank: false %>
                    <label class="mdl-textfield__label" for="estimation_value_id"><%= I18n.t(:associated_attribute) %></label>
                  </div>
                </div>
              </div>

              <br>
              <!--<hr>-->

              <div class="form-row">
                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :widget_type, collection: @views_widget_types, as: :grouped_select, group_method: :last, :group_label_method => :first, :label => false, include_blank: false, input_html:{class: "inline_attr mdl-textfield__input form-control"} %></td>
                    <label class="mdl-textfield__label" for="widget_type"><%= I18n.t(:widget_type) %></label>
                  </div>
                </div>

                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!--<label><%#= I18n.t :fields %></label>-->
                    <% selected = @views_widget.project_fields.first %>
                    <%= select_tag "field", options_for_select(@project.organization.fields.map{|i| [i.name, i.id] }, selected: selected.nil? ? '' : selected.field.id), prompt: "None", disabled: (!(@views_widget.widget_type == "text")  || @views_widget.is_label_widget?), input_html:{class: "mdl-textfield__input form-control"} %>
                    <label class="mdl-textfield__label" for="field"><%= I18n.t(:fields) %></label>
                  </div>
                </div>
              </div>


              <div class="form-row">
                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :validation_text, as: :string, label: false, :input_html => { value: @views_widget.validation_text }, input_html:{class: "mdl-textfield__input form-control"}  %>
                    <label class="mdl-textfield__label" for="validation_text"><%= I18n.t(:validation_text) %></label>
                  </div>
                </div>

                <div class="col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :estimation_status_id, as: :select, collection: @current_organization.estimation_statuses, label: false, input_html:{class: "mdl-textfield__input form-control"}  %>
                    <label class="mdl-textfield__label" for="estimation_status_id"><%= I18n.t(:associated_status) %></label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-6">
                  <%= f.input :show_tjm, as: :boolean, label: false, input_html: {class: 'mdl-checkbox__input' } %>
                  <label class="mdl-textfield__label" for="show_tjm" style="padding-left: 4rem; margin-top: -0.5em"><%= I18n.t(:show_tjm) %></label>
                </div>
              </div>

              <div class="form-row">
                <div class="col-6">
                  <%= f.input :show_wbs_activity_ratio, as: :boolean, label: false, disabled: !@module_project.wbs_activity, input_html: {class: 'mdl-checkbox__input' } %>
                  <label class="mdl-textfield__label" for="show_wbs_activity_ratio" style="padding-left: 4rem; margin-top: -0.5em"><%= I18n.t(:show_wbs_activity_ratio) %></label>
                </div>
              </div>

              <div class="form-row">
                <div class="col-12">
                  <%= f.input :use_organization_effort_unit, label: false, input_html: {class: 'mdl-checkbox__input' } %>
                  <label class="mdl-textfield__label" for="organization_effort_unit" style="padding-left: 4rem; margin-top: -0.5em"><%= I18n.t(:organization_effort_unit, value: @current_organization) %></label>
                </div>
              </div>
            </div>

            <br>

            <div class="actions-tabs">
              <% if can?(:alter_estimation_plan, @project) || ( can?(:manage_estimation_widgets, @project) && @views_widget.project_fields.empty? && (@views_widget.min_value < @views_widget.max_value)) %>
                <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <% end %>
              <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:close) %></button>
            </div>
          </div>
      </div>
    <% end %>
</section>
<script>

    // Update the view_widget show_min_max attribute according to the selected widget_type
    var delete_min_max_on_widget_type = [ "line_chart", "bar_chart", "area_chart", "pie_chart", "timeline", "stacked_bar_chart", "histogram_effort_per_phase", "pie_chart_effort_per_phase", "histogram_cost_per_phase",
        "pie_chart_cost_per_phase", "stacked_bar_chart_effort_per_phases_profiles",  "stacked_bar_chart_cost_per_phases_profiles"]

    var widget_type = $("#views_widget_widget_type").val();

    // Affichage du MIN/MAX
    if (widget_type == "text" || widget_type == "bar_chart"){
        $('#views_widget_show_min_max').removeAttr('disabled');
    }
    else {
        $('#views_widget_show_min_max').attr('checked', false);
        $('#views_widget_show_min_max').attr('disabled','disabled');
        $("#views_widget_widget_type").value = 0;
    }

    // Affichage ou non du TJM
    if ((widget_type == "table_cost_per_phase") || (widget_type == "table_cost_per_phase_without_zero") ||
        (widget_type == "cost_per_phases_profiles_table") || (widget_type == "cost_per_phases_profiles_table_without_zero") ||
        (widget_type == "table_effort_and_cost_per_phase") || (widget_type == "table_effort_and_cost_per_phase_without_zero") ||
        (widget_type == "table_effort_and_cost_per_phases_profiles") || (widget_type == "table_effort_and_cost_per_phases_profiles_without_zero"))
    {
        $('#views_widget_show_tjm').removeAttr('disabled');
    }
    else {
        $('#views_widget_show_tjm').attr('checked', false);
        $('#views_widget_show_tjm').attr('disabled','disabled');
    }

//    if (widget_type !== ""){
//        if (jQuery.inArray( widget_type, delete_min_max_on_widget_type) !== -1){
//            $('#views_widget_show_min_max').attr('disabled','disabled');
//            $("#views_widget_widget_type").value = 0;
//        }
//        else{
//            $('#views_widget_show_min_max').removeAttr('disabled');
//        }
//    }



    // Update the view_widget attribute according to the selected module
    $("#views_widget_module_project_id").change(function() {
        if ($(this).val() !== ""){
            return $.ajax({
                url: "/update_widget_module_project_data",
                method: "GET",
                data: "module_project_id=" + $(this).val()
            });
        }
    });

    // Update the view_widget attribute according to the selected module
    $("#views_widget_estimation_value_id").change(function() {
        var attibute_alias = $(this).val();
        //if (attibute_alias !== ""){
            return $.ajax({
                url: "/show_widget_effort_display_unit",
                method: "GET",
                data: {
                    estimation_value_id: $(this).val(),
                    view_widget_id: "<%= @views_widget.id %>",
                    module_project_id: $("#views_widget_module_project_id").val()
                }
            });
        //}
    });


    $("#views_widget_widget_type").change(function() {
        var widget_type = $(this).val();
        if (widget_type == "text" || widget_type == "bar_chart"){
            $('#views_widget_show_min_max').removeAttr('disabled');
        }
        else {
            $('#views_widget_show_min_max').attr('checked', false);
            $('#views_widget_show_min_max').attr('disabled','disabled');
            $("#views_widget_widget_type").value = 0;
        }

        // Affichage on non du TJM
        if ((widget_type == "table_cost_per_phase") || (widget_type == "table_cost_per_phase_without_zero") ||
            (widget_type == "cost_per_phases_profiles_table") || (widget_type == "cost_per_phases_profiles_table_without_zero") ||
            (widget_type == "table_effort_and_cost_per_phase") || (widget_type == "table_effort_and_cost_per_phase_without_zero") ||
            (widget_type == "table_effort_and_cost_per_phases_profiles") || (widget_type == "table_effort_and_cost_per_phases_profiles_without_zero"))
        {
            $('#views_widget_show_tjm').removeAttr('disabled');
        }
        else {
            $('#views_widget_show_tjm').attr('checked', false);
            $('#views_widget_show_tjm').attr('disabled','disabled');
        }


//        if (widget_type !== ""){
//            if (jQuery.inArray( widget_type, delete_min_max_on_widget_type) !== -1){
//                $('#views_widget_show_min_max').attr('disabled','disabled');
//                $("#views_widget_widget_type").value = 0;
//            } else{
//                $('#views_widget_show_min_max').removeAttr('disabled');
//            }
//        }
    });


    //manage the label widget
    $("#views_widget_is_label_widget").change(function(){
        if($(this).is(':checked')){
            //alert(1);
            //$("#new_views_widget").closest("tr").find(":input.inline_attr").attr("disabled", 'disabled');
            $("form#new_views_widget select.inline_attr, input:checkbox.inline_attr ").attr("disabled", 'disabled');
        } else{
            //alert(0);
            $("form#new_views_widget select.inline_attr, input:checkbox.inline_attr ").removeAttr('disabled');
        }
    });

</script>