<script type="text/javascript">

    google.charts.setOnLoadCallback(drawStackedBarChart);

    function drawStackedBarChart() {

        var r_data = <%= data.to_json.html_safe %>;
        //fin test

        var data1 = google.visualization.arrayToDataTable([
            ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
                'Western', 'Literature', { role: 'annotation' } ],
            ['2010', 10, 24, 20, 32, 18, 5, ''],
            ['2020', 16, 22, 23, 30, 16, 9, ''],
            ['2030', 28, 19, 29, 30, 12, 13, '']
        ]);

        var data = google.visualization.arrayToDataTable(r_data);
        var chart_colors = <%= ViewsWidget::WIDGETS_COLORS.to_json.html_safe %>;

        var options = {
            //width: 600,
            //height: 400,
            title: '<%= chart_title %>',
            subtitle: '<%= widget_name %>',
            legend: { position: 'top', maxLines: 3 },
            hAxis: {
                title: 'Phases',
            },
            vAxis: {
                title: '<%= chart_vAxis_title %>'
            },

            colors: chart_colors,
            bar: { groupWidth: '75%' },
            isStacked: true,
        };

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.ColumnChart(document.getElementById('<%= "stacked_bar_chart_div_#{widget_id}" %>'));
        chart.draw(view, options);

    }
</script>

<!--<div id='<%#= "stacked_bar_chart_div_#{widget_id}" %>' style="width: 900px; height: 300px;"></div>-->
<div id='<%= "stacked_bar_chart_div_#{widget_id}" %>' style="min-width: 600px; min-height: 400px; max-width: 100%; max-height: 100%;"></