
<script type="text/javascript">

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawPieChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawPieChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');

//          data.addRows([
//              ['Mushrooms', 3],
//              ['Onions', 1],
//              ['Olives', 1],
//              ['Zucchini', 1],
//              ['Pepperoni', 2]
//          ]);

      var r_data = <%= level_values.to_json.html_safe %>;
      data.addRows(r_data);

      // Set chart options
      var chart_colors = <%= ViewsWidget::WIDGETS_COLORS.to_json.html_safe %>;
      var pie_chart_options = { 'title':'<%= chart_title %>',
                                //'min-width':500, 'min-height':300, 'max-width':1000, 'max-height':800,
                                chartArea: { left:-100, right: 30, width: '90%' },
                                legend: { alignment: 'start'},
                                colors: chart_colors, //['D59931', 'teal', '#e5e4e2', '#C5A5CF', 'silver', '#b87333', 'gold', '#76A7FA', '#703593', '#871B47', '#C5A5CF', '#BC5679', '#00B3FF', '#3399FF'] <%#= Projestimate::Application::CHART_COLORS.to_json.html_safe %>,
                                is3D: true
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('<%= "pie_chart_div_#{widget_id}" %>'));
      chart.draw(data, pie_chart_options);
  }
</script>


<!--Div that will hold the pie chart-->
<div id='<%= "pie_chart_div_#{widget_id}" %>' style="min-width: 600px; min-height: 400px; max-width: 100%; max-height: 100%;"></div>

