<div class="login-page vh-70 d-flex flex-column justify-content-between align-items-center">
  <section class="login-form text-left">
    <%#= simple_form_for(resource, as: resource_name, url: verify_connect_with_saml_path(resource_name), :method => :post, :class => 'simple_form') do |f| %>
    <%#= form_tag connect_with_saml_path, :method => 'POST', :class => 'simple_form' do %>
    <%= form_tag verify_connect_with_saml_path, :method => 'POST', :class => 'simple_form' do %>
      <h1><%= I18n.t('connect') %> SAML</h1>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
        <%= hidden_field_tag "resource_name", resource_name %>
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="material-icons-outlined">account_circle</i></div>
        </div>
        <input placeholder="<%= I18n.t('login_name') %>" class="mdl-textfield__input" type="text" id="login_name" name="login_name" style="width: 360px;">
      </div>

      <button type="submit" class="btn btn-primary btn-login mt-5 mb-4"><img class="brand-icon" src="/assets/logo_arrows_white_small.svg">
        <%= I18n.t('connect_me') %>
      </button>
    <% end %>
  </section>
</div>