<div class="row">
  <div class="span8">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'simple_form') do |f| %>
      <div class="login_input">

        <b>
          Login
        </b>
        <br>
        <%= f.text_field :id_connexion, required: false, autofocus: true, :label => I18n.t('login_name'), :class => 'login_username', :placeholder => I18n.t('login_name_or_email') %>

        <br>
        <br>

        <b>
          Mot de passe
        </b>
        <br>
        <%= f.password_field :password, required: false, :label => I18n.t('password'), :class => 'login_pw', :placeholder => I18n.t('password'), style: "width: 200px;" %>

        <br>
        <br>
        <label class="checkbox">
          <%= f.check_box :remember_me, :label => I18n.t(:remember_me), as: :boolean if devise_mapping.rememberable? %>
          <%= I18n.t(:remember_me ) %>
        </label>
        <%= f.button :submit, I18n.t('connect'), :class => "btn btn-primary pull-left" %>

      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="span12">
    <%= render "devise/shared/links" %>
  </div>
</div>