<section class="card card-content-bloc estimancy-form">
  <div class="card-body">
    <div class="edition-bloc-left">
      <div class="edition-bloc-title">
        <h1>
          <%= I18n.t(:acquisition_category) %>
        </h1>
      </div>
    </div>

    <%= simple_form_for([@organization, @acquisition_category]) do |f| %>
      <%= f.error_notification %>

      <div class="edition-bloc-content">
        <div class="edition-bloc-form">
          <div class="form-row">
            <div class="col-5">

            <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new')} %>
                <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.input :description, :label => false, :input_html => {:class => 'mdl-textfield__input', :rows => 5} %>
                <label class="mdl-textfield__label" for="description"><%= I18n.t(:description) %></label>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="actions-tabs">
        <% if can? :manage, AcquisitionCategory %>
          <% if action_name.in?(%w(new create)) %>
            <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
            <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
          <% elsif action_name == 'edit' || action_name=='update' %>
            <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
            <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
          <% end %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_path(@organization, :anchor => 'tabs-acquisition-categories'), :class => 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</section>