<section class="card card-content-bloc estimancy-form">
  <div class="card-body">
    <div class="edition-bloc-left">
      <div class="edition-bloc-title">
        <h1>
      <%= I18n.t(:profiles) %>
        </h1>
      </div>
    </div>
    
    <%= simple_form_for(@organization_profile) do |f| %>
        <%= f.error_notification %>

        <div class="edition-bloc-content">
          <div class="edition-bloc-form">
            <div class="form-row">
              <div class="col-5">

                <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

                <div class="well input-xxlarge">
                   <span><%= I18n.t(:select_profile_or_fill_text_fields) %></span><br>
                   <%= select_tag 'profile_id_for_organization', options_for_select(Profile.all.map { |i| [i.name, i.id] }, :selected => nil), prompt: "#{I18n.t("helpers.select.prompt")} #{I18n.t(:profile)}", :class => 'input-xlarge btn btn-info' %>
                </div>

                <%#= f.input :profile_id, label: I18n.t(:profiles), as: :select, collection: Profile.all, selected: @organization_profile.profile_id||nil, prompt: I18n.t("helpers.select.prompt"), input_html: { class: 'input-xxlarge'} %>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :name, :label => false, :input_html => {:class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new')} %>
                  <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                </div>

                <div class="row-fluid">
                  <div class="span2"><%= f.input :is_real_profile, as: :boolean, :label => I18n.t(:is_real_profile) %></div>
                  <div class="span2"><%= f.input :use_dynamic_coefficient, as: :boolean, :label => I18n.t(:use_dynamic_coefficient) %></div>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :associated_services, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                  <label class="mdl-textfield__label" for="associated_services"><%= I18n.t(:associated_services) %></label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :description, :label => false, :input_html => {:class => 'mdl-textfield__input', :rows => 8 }  %>
                  <label class="mdl-textfield__label" for="description"><%= I18n.t(:description) %></label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :initial_cost_per_hour, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                  <label class="mdl-textfield__label" for="initial_cost_per_hour"><%= "#{I18n.t(:initial_cost_per_hour)} (#{@organization.currency})" %></label>
                </div>

              <div class="row-fluid">
                <div class="span2">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :r_value, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                    <label class="mdl-textfield__label" for="r_value"><%= "R" %></label>
                  </div>
                </div>
                <div class="span2">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <%= f.input :tm_value, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                    <label class="mdl-textfield__label" for="tm_value"><%= "TM" %></label>
                  </div>
                </div>
              </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :formula, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                  <label class="mdl-textfield__label" for="formula"><%= I18n.t(:formula) %></label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= f.input :cost_per_hour, label: false, :input_html => {:class => 'mdl-textfield__input'}  %>
                  <label class="mdl-textfield__label" for="cost_per_hour"><%= "#{I18n.t(:used_cost)} (#{@organization.currency})"  %></label>
                </div>
                  <%#= f.input :profile_id, label: I18n.t(:profiles), as: :select, collection: Profile.all, selected: @organization_profile.profile_id||nil, prompt: I18n.t("helpers.select.prompt"), input_html: { class: 'input-xxlarge'} %>
              </div>
            </div>
          </div>
        </div>

        <div class="actions-tabs">
          <% if can? :manage, OrganizationProfile %>
              <% if action_name == 'new' || action_name=="create" %>
                  <%= submit_tag I18n.t('save_and_create'), :class => 'btn btn-primary' %>
                  <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
              <% elsif action_name == 'edit' || action_name=="update" %>
                  <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                  <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
              <% end %>
          <% end %>
          <%= link_to I18n.t('back'), organization_setting_path(@organization, :anchor => 'tabs-profile', partial_name: 'tabs_fields'), :class => 'btn btn-secondary' %>
        </div>
    <% end %>
  </div>
</section>
