<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @autorization_log_event.organization_id %>
</p>

<p>
  <b>Author:</b>
  <%= @autorization_log_event.author_id %>
</p>

<p>
  <b>Item type:</b>
  <%= @autorization_log_event.item_type %>
</p>

<p>
  <b>Item:</b>
  <%= @autorization_log_event.item_id %>
</p>

<p>
  <b>Event:</b>
  <%= @autorization_log_event.event %>
</p>

<p>
  <b>Object:</b>
  <%= @autorization_log_event.object %>
</p>

<p>
  <b>Created at:</b>
  <%= @autorization_log_event.created_at %>
</p>

<p>
  <b>Transaction:</b>
  <%= @autorization_log_event.transaction_id %>
</p>

<p>
  <b>Object changes:</b>
  <%= @autorization_log_event.object_changes %>
</p>

<p>
  <b>Is project security:</b>
  <%= @autorization_log_event.is_project_security %>
</p>

<p>
  <b>Is model security:</b>
  <%= @autorization_log_event.is_model_security %>
</p>

<p>
  <b>Is group security:</b>
  <%= @autorization_log_event.is_group_security %>
</p>

<p>
  <b>Is security on created from model:</b>
  <%= @autorization_log_event.is_security_on_created_from_model %>
</p>

<p>
  <b>Project:</b>
  <%= @autorization_log_event.project_id %>
</p>

<p>
  <b>Group:</b>
  <%= @autorization_log_event.group_id %>
</p>

<p>
  <b>User:</b>
  <%= @autorization_log_event.user_id %>
</p>

<p>
  <b>Estimation status:</b>
  <%= @autorization_log_event.estimation_status_id %>
</p>

<p>
  <b>Permission:</b>
  <%= @autorization_log_event.permission_id %>
</p>

<p>
  <b>Project security:</b>
  <%= @autorization_log_event.project_security_id %>
</p>

<p>
  <b>Project security level:</b>
  <%= @autorization_log_event.project_security_level_id %>
</p>

<p>
  <b>Permissions project security level:</b>
  <%= @autorization_log_event.permissions_project_security_level_id %>
</p>

<p>
  <b>Estimation status group role:</b>
  <%= @autorization_log_event.estimation_status_group_role_id %>
</p>


<%= link_to 'Edit', edit_autorization_log_event_path(@autorization_log_event) %> |
<%= link_to 'Back', autorization_log_events_path %>
