<table  class="table table-list">
  <thead>
  <tr>
    <!--<th>Organisation de référence</th>-->
    <th>Champ concerné</th>
    <th>Valeur de référence</th>
    <th>Organisation</th>
    <th>Module de Taille</th>
    <th>Nature différences</th>
    <th>Différences</th>
  </tr>
  </thead>

  <% @guw_types_differences.each do |difference| %>
      <% column_name = difference[:column_name] %>
      <tr>
        <!--<td><%#= @reference_organization.name %></td>-->
        <td><%= column_name %></td>
        <td>
          <% coefficient = Guw::GuwCoefficient.where(id: difference[:reference_id]).first %>
          <% if  coefficient %>
              <%= "Nom : #{coefficient.name}" %> <br>
              <%= "Description : #{coefficient.description}" %> <br>
              <%= "Type de coefficient : #{coefficient.coefficient_type}" %><br>
              <%= "Autoriser les commentaires : #{coefficient.allow_comments}" %><br>
              <%= "Autoriser la modification : #{coefficient.allow_intermediate_value}" %><br>
              <%= "Coefficient déporté : #{coefficient.deported}" %>
          <% else %>
              -
          <% end %>
        </td>
        <td><%= Organization.where(id: difference[:organization_id]).first %></td>
        <td>
          <% guw_model = Guw::GuwModel.where(id: difference[:guw_model_id]).first %>
          <%#= link_to guw_model.name, guw.guw_model_path(guw_model, organization_id: difference[:organization_id]), confirm: I18n.t(:warning_edit_instance_module) %>
          <%= link_to guw_model.name, guw.edit_guw_model_path(guw_model, organization_id: difference[:organization_id], anchor: "tabs-attributs"), confirm: I18n.t(:warning_edit_instance_module) %>
        </td>

        <td><%= difference[:nature] %></td>
        <td>
          <% coefficient =  Guw::GuwCoefficient.where(id: difference[:element_id]).first %>
          <%#= column_name %>
          <% if  coefficient %>
              <%= "Nom : #{coefficient.name}" %> <br>
              <%= "Description : #{coefficient.description}" %> <br>
              <%= "Type de coefficient : #{coefficient.coefficient_type}" %><br>
              <%= "Autoriser les commentaires : #{coefficient.allow_comments}" %><br>
              <%= "Autoriser la modification : #{coefficient.allow_intermediate_value}" %><br>
              <%= "Coefficient déporté : #{coefficient.deported}" %><br>
          <% else %>
              -
          <% end %>
        </td>
      </tr>
  <% end %>

</table>