<table class="table table-striped table-bordered table-condensed">
  <thead>
      <tr>
        <!--<th>Organisation de référence</th>-->
        <th>Champ concerné</th>
        <th>Valeur de référence</th>
        <th>Organisation</th>
        <th>Module de Taille</th>
        <th>Nature différences</th>
        <th>Différences</th>
      </tr>
  </thead>

  <% @outputs_differences.each do |difference| %>
      <% column_name = difference[:column_name] %>
      <tr>
        <!--<td><%#= @reference_organization.name %></td>-->
        <td><%= column_name %></td>
        <td>
          <% output = Guw::GuwOutput.where(id: difference[:reference_id]).first %>
          <% if  output %>
              <%= "Nom : #{output.name}" %> <br>
              <%= "Type de sortie : #{output.output_type}" %><br>
              <%= "Unité de sortie : #{output.unit}" %><br>
              <%= "Sous-total : #{output.allow_subtotal}" %><br>
              <%= "Couleur : #{output.color_code}" %><br>
              <%= "Priorité de la couleur : #{output.color_priority}" %><br>
              <%= "Coefficient Standard : #{output.standard_coefficient}" %><br>
              <%= "Ordre de calcul : #{output.display_order}" %><br>
          <% else %>
              -
          <% end %>
        </td>
        <td><%= Organization.where(id: difference[:organization_id]).first %></td>
        <td>
          <% guw_model = Guw::GuwModel.where(id: difference[:guw_model_id]).first %>
          <%#= link_to guw_model.name, guw.guw_model_path(guw_model, organization_id: difference[:organization_id]), confirm: I18n.t(:warning_edit_instance_module) %>
          <%= link_to guw_model.name, guw.edit_guw_model_path(guw_model, organization_id: difference[:organization_id], anchor: "tabs-attributs"), confirm: I18n.t(:warning_edit_instance_module) %>
        </td>

        <td><%= difference[:nature] %></td>
        <td>
          <% output =  Guw::GuwOutput.where(id: difference[:element_id]).first %>
          <%#= column_name %>
          <% if  output %>
              <%= "Nom : #{output.name}" %> <br>
              <%= "Type de sortie : #{output.output_type}" %><br>
              <%= "Unité de sortie : #{output.unit}" %><br>
              <%= "Sous-total : #{output.allow_subtotal}" %><br>
              <%= "Couleur : #{output.color_code}" %><br>
              <!--<span class="align-center" style='width: 10%; background-color: <%= "##{output.color_code}" %>'></span>-->
              <%= "Priorité de la couleur : #{output.color_priority}" %><br>
              <%= "Coefficient Standard : #{output.standard_coefficient}" %><br>
              <%= "Ordre de calcul : #{output.display_order}" %><br>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
  <% end %>

</table>