<table  class="table table-list">
  <thead>
  <tr>
    <!--<th>Organisation de référence</th>-->
    <th>Champ concerné</th>
    <th>Valeur de référence</th>
    <th>Organisation</th>
    <th>Module de Taille</th>
    <th>Nature différences</th>
    <th>Différences</th>
  </tr>
  </thead>

  <% @guw_types_complexities_coefficients_outputs_matrix_differences.each do |difference| %>
      <% guw_model = Guw::GuwModel.where(id: difference[:guw_model_id]).first %>
      <% guw_type = Guw::GuwType.where(id: difference[:guw_type_id]).first %>

      <% column_name = difference[:column_name] %>
      <% class_name = difference[:class_name] %>
      <% case class_name  %>
        <% when "Guw::GuwOutputComplexityInitialization" %>
          <% element = Guw::GuwOutputComplexityInitialization.where(id: difference[:reference_id]).first %>
        <% when "Guw::GuwOutputComplexity" %>
          <% element = Guw::GuwOutputComplexity.where(id: difference[:reference_id]).first %>
        <% when "Guw::GuwOutputAssociation" %>
          <% element = Guw::GuwOutputAssociation.where(id: difference[:reference_id]).first %>
      <% end %>

      <% guw_output = Guw::GuwOutput.where(id: difference[:guw_output_id]).first %>
      <% guw_complexity = Guw::GuwComplexity.where(id: difference[:guw_complexity_id]).first %>
      <tr>
        <!--<td><%#= @reference_organization.name %></td>-->
        <td><%= column_name %></td>
        <td>
          <% if  element %>
              <%= "Coefficient: #{difference[:coefficient_name]}" %> <br>
              <%= "Nom: #{element.name}" %> <br>
              <%= "Nom Sortie ou Coeff: #{difference[:column_name]}" %> <br>
              <%#= "Mode affichage: #{difference[:column_name]}" %>
              <%= "Sortie: #{guw_output}" %> <br>
              <%= "Coefficient de complexité: #{guw_complexity}" %> <br>
              <%= "Valeur: #{difference[:column_value]}" %>

          <% else %>
              -
          <% end %>

        </td>
        <td><%= Organization.where(id: difference[:organization_id]).first %></td>
        <td>
          <%#= link_to guw_model.name, guw.guw_model_path(guw_model, organization_id: difference[:organization_id]), confirm: I18n.t(:warning_edit_instance_module) %>
          <%= link_to guw_model.name, guw.edit_guw_model_path(guw_model, organization_id: difference[:organization_id], anchor: "tabs-attributs"), confirm: I18n.t(:warning_edit_instance_module) %>
        </td>

        <td><%= difference[:nature] %></td>
        <td>
          <% if element %>
              <%= "Coefficient: #{difference[:coefficient_name]}" %> <br>
              <%= "Nom: #{element.name}" %> <br>
              <%= "Nom Sortie ou Coeff: #{difference[:column_name]}" %> <br>
              <%#= "Mode affichage: #{difference[:column_name]}" %>
              <%= "Sortie: #{guw_output}" %> <br>
              <%= "Coefficient de complexité: #{guw_complexity}" %> <br>
              <%= "Valeur: #{difference[:column_value]}" %>
          <% else %>
              -
          <% end %>
        </td>
      </tr>
  <% end %>

</table>