<!--Load the Google charts API  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
</script>


<section class="card card-content-bloc estimancy-form">

<div class="mb-5">
  <div class="effort-bloc">
    <ul class="nav nav-pills tabs" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link show active"  data-toggle="pill" id="pills-global_properties-tab" href="#pills-global_properties" role="tab" aria-selected="true"><%= I18n.t(:global_properties) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  data-toggle="pill" id="pills-printing_extraction-tab" href="#pills-printing_extraction" role="tab" aria-selected="false"><%= I18n.t(:dashboard) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  data-toggle="pill" id="pills-technical_informations-tab" href="#pills-technical_informations" role="tab" aria-selected="false"><%= I18n.t(:technical_informations) %></a>
      </li>
    </ul>

    <%= simple_form_for(@organization) do |f| %>

        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-global_properties" role="tabpanel" aria-labelledby="pills-global_properties-tab">
            <div class="card-body">
              <div class="edition-bloc-left">
                <div class="edition-bloc-title">
                  <h1>
                    <%= I18n.t(:label_definition) %>
                  </h1>
                </div>
              </div>

              <%= f.error_notification %>

              <div class="edition-bloc-content">
                <div class="edition-bloc-form">
                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :name, label: false, :input_html => { :class => 'mdl-textfield__input', :autofocus => (controller.action_name == 'new')} %>
                        <label class="mdl-textfield__label" for="name"><%= I18n.t(:name) %></label>
                      </div>
                    </div>

                    <div class="col-3">
                      <%= f.input :is_image_organization, as: :boolean, label: false, disabled: !current_user.super_admin?, :input_html => { :class => 'mdl-checkbox__input'} %>
                      <label class="mdl-textfield__label" for="is_image_organization"><%= I18n.t(:is_image_organization) %></label>
                    </div>

                    <div class="col-3">
                      <%= f.input :allow_demand, :label => false, as: :boolean, disabled: !current_user.super_admin?, :input_html => { :class => 'mdl-checkbox__inputs'} %>
                      <label class="mdl-textfield__label" for="allow_demand"><%= I18n.t(:demands_list) %></label>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :headband_title, label: false, :input_html => { :class => 'mdl-textfield__input' } %>
                        <label class="mdl-textfield__label" for="headband_title"><%= I18n.t(:headband_title) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :description, label: false, :input_html => { :class => 'mdl-textfield__input', :rows => 7 } %>
                        <label class="mdl-textfield__label" for="need"><%= I18n.t(:description) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      <% if (action_name.in?(%w(edit update)) && can?(:edit_organizations, Organization)) || can?(:create_organizations, Organization) %>
                          <% if action_name == 'edit' %>
                              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                          <% end %>
                          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
                      <% end %>
                      <%= link_to I18n.t('back'), all_organizations_path, :class => 'btn btn-secondary' %>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Informations techniques-->
          <div class="tab-pane fade" id="pills-technical_informations" role="tabpanel" aria-labelledby="pills-technical_informations-tab">
            <div class="card-body">
              <div class="edition-bloc-left">
                <div class="edition-bloc-title">
                  <h1>
                    <%= I18n.t(:estimations_counter) %>
                  </h1>
                </div>
              </div>

              <div class="edition-bloc-content">
                <div class="edition-bloc-form">
                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :automatic_quotation_number, :label => false, :input_html => {:class => 'mdl-textfield__input'} %>
                        <label class="mdl-textfield__label" for="automatic_quotation_number"><%= I18n.t(:automatic_quotation_number) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :estimations_counter, :label => false, :input_html => {:class => 'mdl-textfield__input'}, readonly: !current_user.super_admin %>
                        <label class="mdl-textfield__label" for="estimations_counter"><%= I18n.t(:estimations_counter) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :estimations_counter_history, :label => false, :input_html => {:class => 'mdl-textfield__input', :rows => 5}, readonly: !current_user.super_admin %>
                        <label class="mdl-textfield__label" for="need"><%= I18n.t(:actions_history) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :number_hours_per_month, :label => false, :required => true, :input_html => {:class => 'mdl-textfield__input'} %>
                        <label class="mdl-textfield__label" for="number_hours_per_month"><%= I18n.t(:number_hours_per_month) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :currency_id, :as => :select, collection: Currency.all.map{|i| ["#{i.name} (#{i.sign})", i.id]}, :label => false, :required => true, :input_html => {:class => 'mdl-textfield__input'} %>
                        <label class="mdl-textfield__label" for="currency_id"><%= I18n.t(:currency) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-5">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.input :cost_per_hour, :label => false, :required => true, :input_html => {:class => 'mdl-textfield__input'} %>
                        <label class="mdl-textfield__label" for="cost_per_hour"><%= I18n.t(:cost_per_hour) %></label>
                      </div>
                    </div>
                  </div>

                  <div class="edition-bloc-left">
                    <div class="edition-bloc-title">
                      <h1>
                        <%= I18n.t(:select_size_module) %>
                      </h1>
                    </div>
                  </div>

                  <div style="display: flex;">
                    <table class="table table-list">
                      <thead>
                          <tr>
                            <th><%= I18n.t(:threshold_min_value)%></th>
                            <th><%= I18n.t(:threshold_max_value)%></th>
                            <th><%= I18n.t(:convertion_coef_stand)%></th>
                            <th><%= I18n.t(:effort_unit)%></th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr>
                            <td class="center"><%= text_field_tag "", 0, disabled: true %></td>
                            <td class="center"><%= text_field_tag "organization[limit1]", @organization.limit1.nil? ? 100000 : @organization.limit1 %></td>
                            <td class="center"><%= text_field_tag "organization[limit1_coef]", @organization.limit1_coef %></td>
                            <td class="center"><%= text_field_tag "organization[limit1_unit]", @organization.limit1_unit %></td>
                          </tr>

                          <tr>
                            <td class="center"><%= text_field_tag "", @organization.limit1.nil? ? 100000 : @organization.limit1, disabled: true %></td>
                            <td class="center"><%= text_field_tag "organization[limit2]", @organization.limit2 %></td>
                            <td class="center"><%= text_field_tag "organization[limit2_coef]", @organization.limit2_coef %></td>
                            <td class="center"><%= text_field_tag "organization[limit2_unit]", @organization.limit2_unit %></td>
                          </tr>
                          <tr>
                            <td class="center"><%= text_field_tag "", @organization.limit2.nil? ? 100000 : @organization.limit2, disabled: true %></td>
                            <td class="center"><%= text_field_tag "organization[limit3]", @organization.limit3 %></td>
                            <td class="center"><%= text_field_tag "organization[limit3_coef]", @organization.limit3_coef %></td>
                            <td class="center"><%= text_field_tag "organization[limit3_unit]", @organization.limit3_unit %></td>
                          </tr>
                          <tr>
                            <td class="center"><%= text_field_tag "", @organization.limit3.nil? ? 100000 : @organization.limit3, disabled: true %></td>
                            <td class="center"><%= text_field_tag "organization[limit4]", @organization.limit4 %></td>
                            <td class="center"><%= text_field_tag "organization[limit4_coef]", @organization.limit4_coef %></td>
                            <td class="center"><%= text_field_tag "organization[limit4_unit]", @organization.limit4_unit %></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      <% if (action_name.in?(%w(edit update)) && can?(:edit_organizations, Organization)) || can?(:create_organizations, Organization) %>
                          <% if action_name == 'edit' %>
                              <%= submit_tag I18n.t('save'), :class => 'btn btn-primary' %>
                          <% end %>
                          <%= submit_tag I18n.t('apply'), :class => 'btn btn-primary' %>
                      <% end %>
                      <%= link_to I18n.t('back'), all_organizations_path, :class => 'btn btn-secondary' %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Sélectionnez le module de taille -->
          <div class="tab-pane fade" id="pills-printing_extraction" role="tabpanel" aria-labelledby="pills-printing_extraction-tab">
            <div class="card-body">
              <div class="edition-bloc-left">
                <div class="edition-bloc-title">
                  <h1>
                    <%#= I18n.t(:printing_extraction) %>
                  </h1>
                </div>
              </div>

              <div class="edition-bloc-content">
                <div class="edition-bloc-form">

                  <div class="form-row">
                    <div class="col-6">
                        <div class="card card-widget card-indicator card-indicator-with-module">
                            <div class="card-body">
                                <div class="mb-5">
                                    <div class="widgets-list">
                                      <%= link_to show_original_image_path(image_name: "temps_realisation_devis_SLA_en.png"), class: :popup_link, remote: true do %>
                                          <%= image_tag "temps_realisation_devis_SLA_en.png", id: "temps_realisation_devis_SLA", alt: "Quote creation duration", style: 'height:20em; width:100%;' %>
                                      <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="card card-widget card-indicator card-indicator-with-module">
                            <div class="card-body">
                                <div class="mb-5">
                                    <div class="widgets-list">
                                      <%= link_to show_original_image_path(image_name: "nb_PF_livre_en.png"), class: :popup_link, remote: true do %>
                                        <%= image_tag "nb_PF_livre_en.png", id: "nb_PF_livre", alt: "No. of PFs delivered in 2019", style: 'height:20em; width:100%;' %>
                                      <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <br>
                  <!-- budget global -->
                  <div class="form-row">
                    <div class="col-6">
                      <div class="card card-widget card-indicator card-indicator-with-module">
                        <div class="card-body">
                          <div class="span4">
                            <!--<div class="widgets-list">-->
                              <%#= render :partial => 'budgets/g_budget_report_stacked_bar_chart', :locals => { :data => @data_for_global_budget, div_id: "stacked_bar_chart_div_budget_global", chart_colors: @bt_colors, budget_name: "", hAxis_title: "Budget", vAxis_title: "" } %>
                              <%= render :partial => 'budgets/g_budget_report_multiple_stacked_bar_chart', :locals => { :data => @data_for_global_budget, div_id: "stacked_bar_chart_div_budget_global", chart_colors: @bt_colors, budget_name: "", chart_title: I18n.t(:global_budget), hAxis_title: "Budgets", vAxis_title: "" } %>
                            <!--</div>-->
                          </div>
                        </div>

                        <span style="float: right; margin-left: auto">
                          <%= link_to "DETAILS", organization_budget_details_path(@organization), :class => 'btn btn-secondary', target: "_blank" %>
                        </span>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="card card-widget card-indicator card-indicator-with-module">
                        <div class="card-body">
                          <span style="margin-bottom: 10px;"><%= I18n.t(:nb_estimations) %></span>

                          <div class="widgets-list">
                              <div class="widget-list-content">
                                <div class="widget-group">
                                  <ul class="widget-group-list" style="height: 100px; display: flex; flex-direction: column; flex-wrap: wrap;">
                                    <% @projects_per_year.each do |year, array| %>
                                        <% value = array.size %>
                                        <% unless value.is_a?(Hash) %>
                                            <li>
                                              <div class="card card-widget card-indicator card-indicator-with-module">
                                                <div class="card-body">
                                                  <div class="card-indicator-type"></div>
                                                  <div class="card-indicator-text"><%= year %> </div>
                                                  <!--<div class="<%#= (value.to_s.size >= 15) ? 'card-indicator-label' : 'card-indicator-quantity' %>">-->
                                                  <div class="card-indicator-quantity">
                                                    <span><%= value.nil? ? '-' : value %></span>
                                                  </div>
                                                </div>
                                              </div>
                                            </li>
                                        <% end %>
                                    <% end %>
                                  </ul>
                                </div>
                              </div>
                          </div>
                        </div>

                        <span style="float: right; margin-left: auto">
                          <%= link_to "DETAILS", '/projects_quantity', :class => 'btn btn-secondary' %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    <% end %>

  </div>
</div>
</section>