<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var imported_data = <%= r_data.to_json.html_safe %>;
        //alert(imported_data);
        var data_array = google.visualization.arrayToDataTable(imported_data);
        var view = new google.visualization.DataView(data_array);

        var options = {
            title: '<%#= "#{I18n.t(:productivity)}" %>',
            curveType: 'function',
            legend: { position: 'bottom' },

            hAxis: {
                title: '<%= "Date de création" %>'
            },
            vAxis: {
                title: '<%= kpi_config.field.name %>'
            },

            pointsVisible: true,

            width: 600,
            chartArea: { width: 500, left: 100 }
        };
        var chart = new google.visualization.LineChart(document.getElementById('<%= "curve_chart_#{kpi_config.id}" %>'));
        chart.draw(view, options);
    }
</script>
<div id='<%= "curve_chart_#{kpi_config.id}" %>' style="width: 700px; height: 400px;"></div>