<%= hidden_field_tag "organization_id", params[:id] %>

<table id="table_list_11" class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= I18n.t(:name) %></th>
      <th><%= I18n.t(:is_protected_group) %></th>
      <th><%= I18n.t(:description) %></th>
      <th class="action"><%= I18n.t(:actions) %></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, edit_organization_group_path(@organization, group), :title => I18n.t('edit')  %></td>
        <td class="center"><%= group.is_protected_group == true ? I18n.t(:yes) : I18n.t(:no) %></td>
        <td><%= group.description %></td>
        <td class="center">
          <%= link_to '', edit_organization_group_path(@organization, group), :class => 'icon-pencil', :title => I18n.t('edit') %>
          <% if can? :manage, Group %>
            <%= link_to '', group, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :style => 'color:red', :title => I18n.t('delete') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>










