<div class="row">
  <div class="col-10">
    <% if @item_title.blank? %>
      <div id="tabs_size" class="edition-page-group py-4"><span id="item_title"><%= I18n.t('size') %></span></div>
    <% else %>
      <div id='<%= "#{@item_title}" %>' class="edition-page-group py-4"><span id="item_title"><%= @item_title %></span></div>
    <% end %>

    <section class="card card-content-bloc estimancy-form">
      <div class="mb-5">
        <div class="effort-bloc">
          <div id="settings_content" class="card-body">
            <% if @partial_name.blank? %>
              <%= render :partial => "organizations/tabs_module_size" %>
            <% else %>
              <%= render :partial => "organizations/#{@partial_name}" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="col-2">
    <div id="edition-sidebar">
      <h4 class="mb-0">Navigation</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link group" href="<%= organization_module_estimation_path(@organization, partial_name: 'tabs_module_size', item_title: I18n.t('size'), anchor: 'size') %>"><span><%= I18n.t("size") %></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link group" href="<%= organization_module_estimation_path(@organization, partial_name: 'tabs_module_effort', item_title: I18n.t('effort'), anchor: 'effort') %>"><span><%= I18n.t("effort") %></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link group" href="<%= organization_module_estimation_path(@organization, partial_name: 'tabs_module_activity', item_title: I18n.t('activity'), anchor: 'activity') %>"><span><%= I18n.t("activity") %></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link group" href="<%= organization_module_estimation_path(@organization, partial_name: 'tabs_module_team', item_title: I18n.t('team'), anchor: 'team') %>"><span><%= I18n.t("team") %></span></a>
        </li>
      </ul>
    </div>
  </div>

</div>
