
<%= hidden_field_tag "organization_id", params[:id] %>

<% if can? :manage, OrganizationProfile %>
  <%= link_to I18n.t('create_button'), new_organization_organization_profile_path(@organization), :class => 'btn btn-primary' %>
  <%= link_to I18n.t('export'), organization_polyval_export_path(@organization, :MYonglet => "OrganizationProfile"), :method => 'get', :class => 'btn btn-primary' %>

  <div class="float-right">
    <%= form_tag organization_import_project_profile_path(@organization), :multipart => true, :class => 'simple_form' do %>
      <%= file_field_tag :file %>
      <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
    <% end %>
  </div>

  <hr>


<% end %>


<table id="table_list_30" class="table table-list">
  <thead>
    <tr>
      <th><%= I18n.t(:name) %></th>
      <th><%= I18n.t(:is_real_profile) %></th>
      <th><%= I18n.t(:use_dynamic_coefficient) %></th>
      <th><%= I18n.t(:associated_services) %></th>
      <th><%= I18n.t(:description) %></th>
      <th><%= I18n.t(:initial_cost_per_hour) %></th>
      <th><%= "R" %></th>
      <th><%= "TM" %></th>
      <th><%= I18n.t(:formula) %></th>
      <th><%= I18n.t(:used_cost) %></th>
      <th class="actions" colspan="2"><%= I18n.t(:actions) %></th>
    </tr>
  </thead>

  <tbody>

  <% @organization_profiles.each do |profile| %>
    <tr>
      <td class="td_min_width"><%= profile.name %></td>
      <td><%= profile.is_real_profile ? "1" : "0" %></td>
      <td><%= profile.use_dynamic_coefficient ? "1" : "0" %></td>
      <td><%= profile.associated_services %></td>
      <td><%= profile.description %></td>
      <td><%= profile.initial_cost_per_hour %></td>
      <td><%= profile.r_value %></td>
      <td><%= profile.tm_value %></td>
      <td><%= profile.formula %></td>
      <td><%= profile.cost_per_hour %></td>

      <td class="align-center">
          <%= link_to raw("<i class='material-icons'>edit</i>"), edit_organization_profile_path(profile), :class => 'material-icons', :title => I18n.t('edit') %>
        <% if can? :manage, OrganizationProfile %>
          <%= link_to raw("<i class='material-icons'>delete</i>"), profile, data: {confirm: I18n.t('are_you_sure')}, method: :delete, :class => 'material-icons', :title => I18n.t('delete') %>
        <% end %>
      </td>



    </tr>
  <% end %>
  </tbody>
</table>













