
<%= hidden_field_tag "organization_id", params[:id] %>

<% if can? :manage, OrganizationProfile %>
  <div class="group_button">
      <%= link_to I18n.t('create_button'), new_organization_organization_profile_path(@organization), :class => 'btn' %>
      <%= link_to I18n.t('export'), organization_polyval_export_path(@organization, :MYonglet => "OrganizationProfile"), :class => 'btn'%>
      <a href="#ImportProjectProfile" role="button" class="btn" title="Import project areas from excel" data-toggle="modal">
      <%= I18n.t(:import) %>
    </a>
  </div>

    <div id="ImportProjectProfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <%= form_tag organization_import_project_profile_path(@organization), :multipart => true, :class => 'simple_form' do %>
          <div class="modal-header modal-drag">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%= I18n.t(:import_data_from) %></h3>
          </div>
          <div class="modal-body">
            <%= file_field_tag :file %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
          </div>
          <div class="loading span11 hide">
            <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
          </div>
      <%end%>
    </div>

<%end%>


<table id="table_list_30" class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th><%= I18n.t(:name) %></th>
    <th><%= I18n.t(:description) %></th>
    <th><%= I18n.t(:cost_per_hour) %></th>
    <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
  </tr>
  </thead>

  <tbody>

  <% @organization_profiles.each do |profile| %>
    <tr>
      <td class="td_min_width"><%= profile.name %></td>
      <td><%= profile.description %></td>
      <td><%= profile.cost_per_hour %></td>

      <td class="align-center">
        <%= link_to 'Editer', edit_organization_profile_path(profile), :title => I18n.t('edit') %> |
        <% if can? :manage, OrganizationProfile %>
          <%= link_to 'Supprimer', profile, confirm: I18n.t('are_you_sure'), method: :delete, :title => I18n.t('delete') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>













