
<table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Type</th>
    <th>Objet</th>
    <!--<th>Associations / Relations</th>-->
    <th>Action effectuée</th>
    <th>Avant modification</th>
    <th>Après modification</th>
    <th>Auteur</th>
    <th>Date modification</th>
  </tr>
  </thead>
  <tbody>
  <% table_versions.each do |version| %>
      <tr>
        <td class="span2">
            <%= I18n.t("audit_#{version.item_type}") %>
        </td>

        <td class="span2 align-center">
          <%= show_trigger_object_changes(version.object_class_name, version.item_id).join(",") rescue "-"  %>
        </td>

        <!--<td class="span2 align-center"> <%#= version.association_class_name %> </td>-->

        <td class="span2">
          <p class="align-center"><%= I18n.t("audit_#{version.event}") %></p> <br>

          <% unless version.object_changes.nil? %>
              <% version.object_changes.each do |k,v| %>
                  <%= I18n.t(k) %> : <br>
                  <% show_trigger_object_changes(version.association_class_name, v).each do |val| %>
                      <%= " - #{val}" %>
                      <br>
                  <% end %>
                  <br>
              <% end %>
          <% end %>
        </td>

        <td class="span3">
          <% if version.associations_before_changes.nil? %>
              -
          <% else %>
              <%= version.association_class_name %> : <br>
              <% show_trigger_object_changes(version.association_class_name, version.associations_before_changes).each do |val| %>
                  <%= " - #{val}" %>
                  <br>
              <% end %>
              <br>
          <% end %>

        </td>

        <td class="span3">
          <% if version.associations_after_changes.empty? %>
              -
          <% else %>
              <%= version.association_class_name %> : <br>
              <% show_trigger_object_changes(version.association_class_name, version.associations_after_changes).each do |val| %>
                  <%= " - #{val}" %>
                  <br>
              <% end %>
          <% end %>
        </td>

        <td class="span2 align-center">
          <% u = User.find_by_id(version.author_id) %>
          <% unless u.nil? %>
              <%= u.name %>
          <% else %>
              N/A
          <% end %>
        </td>

        <td class="span2 align-center"><%= I18n.l(version.created_at) rescue nil %></td>

      </tr>
  <% end %>
  <%#= render :partial => 'layouts/footer_table' %>
  </tbody>
</table>


