
<table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Type</th>
    <th>Utilisateur</th>
    <!--<th>Associations / Relations</th>-->
    <th>Action effectuée</th>
    <th>Avant modification</th>
    <th>Après modification</th>
    <th>Auteur</th>
    <th>Date modification</th>
  </tr>
  </thead>

  <tbody>
  <% table_versions.group_by(&:transaction_id).each do |transaction_id, versions| %>

      <% by_events =  versions.group_by(&:event) %>
      <% create_events =  by_events['create'] %>
      <% delete_events =  by_events['delete'] %>
      <% version =  versions.select{ |v| v.event == 'create'}.first || versions.first %>

      <tr>
        <td class="dix_pour_cent vertical_align_top">
            <%= I18n.t("audit_#{version.item_type}") %>
        </td>

        <td class="quinze_pour_cent align-center">
          <%= show_trigger_object_changes(version.object_class_name, version.item_id).join(",") rescue "-"  %>
        </td>
        <!--<td class="span2 align-center"> <%#= version.association_class_name %> </td>-->
        <td class="dix_pour_cent">
          <% unless create_events.blank? %>
            - Ajout <br>
          <% end %>

          <% unless delete_events.blank? %>
            - Suppression
          <% end %>
        </td>

        <td class="vingt_pour_cent">
          <% unless delete_events.blank? %>
              Suppression <br>
              <% delete_events.each do |event| %>
                  - <%= Group.find(event.group_id) rescue nil %>  <br>
              <% end %>
          <% end %>
        </td>

        <td class="vingt_pour_cent">
          <% unless create_events.blank? %>
              Ajout <br>
              <% create_events.each do |event| %>
                  - <%= Group.find(event.group_id) rescue nil %>  <br>
              <% end %>
          <% end %>
        </td>

        <td class="dix_pour_cent align-center">
          <% u = User.find_by_id(version.author_id) %>
          <% unless u.nil? %>
              <%= u.name %>
          <% else %>
              N/A
          <% end %>
        </td>

        <td class="dix_pour_cent align-center"><%= I18n.l(version.created_at, format: :audit) rescue nil %></td>

      </tr>
  <% end %>
  <%#= render :partial => 'layouts/footer_table' %>
  </tbody>
</table>


