<h4><%= "#{I18n.t(:user)}  /  #{I18n.t(:group)}  /  #{I18n.t(:security_level)}" %></h4>

<table id="table_list" class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Type</th>
    <th>Objet</th>
    <th>Action effectuée</th>
    <th>Avant modification</th>
    <th>Après modification</th>
    <th>Auteur</th>
    <th>Date modification</th>
  </tr>
  </thead>
  <tbody>
  <% table_versions.each do |version| %>
      <tr>
        <td class="span2">
          <%= I18n.t("audit_#{version.item_type}") %>
        </td>

        <td class="span2 align-center">
          <%= show_trigger_object_changes(version.object_class_name, version.item_id).join(",") rescue "-"  %>
        </td>

        <td class="span2 align-center"><%= I18n.t("audit_#{version.event}") %></td>

        <td class="span3">
          <% if version.event == "destroy" %>
              <% YAML.load(version.object).each do |k,v| %>
                  <%= k %> : <%= v %>
                  <br>
              <% end %>
          <% else %>
              <% if version.object_changes.nil? %>
                  -
              <% else %>
                  <% YAML.load(version.object_changes).each do |k,v| %>
                      <%= k %> : <%= v.first %>
                      <br>
                  <% end %>
              <% end %>
          <% end %>
        </td>

        <td class="span3">
          <% if version.object_changes.nil? %>
              -
          <% else %>
              <% YAML.load(version.object_changes).each do |k,v| %>
                  <%= k %> : <%= v.last %>
                  <br>
              <% end %>
          <% end %>
        </td>

        <td class="span2">
          <% u = User.find_by_id(version.author_id) %>
          <% unless u.nil? %>
              <%= u.name %>
          <% else %>
              N/A
          <% end %>
        </td>

        <td class="span2 align-center"><%=I18n.l(version.created_at, format: :audit) %></td>
      </tr>
  <% end %>
  <%#= render :partial => 'layouts/footer_table' %>
  </tbody>
</table>


