<div class="row">

  <div class="col-10">
    <% if @item_title.blank? %>
        <div id="tabs-applications" class="edition-page-group py-4"><span id="item_title"><%= I18n.t('applications') %></span></div>
    <% else %>
        <div id="tabs-applications" class="edition-page-group py-4"><span id="item_title"><%= @item_title %></span></div>
    <% end %>

    <section class="card card-content-bloc estimancy-form">
      <div class="mb-5">
        <div class="effort-bloc">
          <div id="settings_content" class="card-body">
            <% if @partial_name.blank? %>
                <%= render :partial => "tabs_applications" %>
            <% else %>
                <%= render :partial => "organizations/#{@partial_name}" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="col-2">
    <div id="edition-sidebar">
      <h4 class="mb-0">Navigation</h4>
      <ul class="nav flex-column">

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-applications"><span><%#= I18n.t("applications") %></span></a>-->
          <!--<a class="nav-link group" data-remote="true" href="<%#= organization_estimation_settings_path(@organization, partial_name: 'tabs_applications', item_title: I18n.t('applications'), anchor: 'tabs-applications') %>"><span><%#= I18n.t("applications") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_applications', item_title: I18n.t('applications'), anchor: 'tabs-applications') %>"><span><%= I18n.t("applications") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-budgets"><span><%#= I18n.t("budget") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_budgets_and_budget_types', item_title: I18n.t('budget_management'), anchor: 'tabs-budgets') %>"><span><%= I18n.t("budget") %> / <%= I18n.t("budget_types") %></span></a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link group" href="#tabs-budget-types"><span><%#= I18n.t("budget_types") %></span></a>-->
        <!--</li>-->

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-project-areas"><span><%#= I18n.t("project_areas") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_project_areas', item_title: I18n.t('project_areas'), anchor: 'tabs-project-areas') %>"><span><%= I18n.t("project_areas") %></span></a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-acquisition-categories"><span><%#= I18n.t("acquisition_categories") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_acquisition_categories', item_title: I18n.t('acquisition_categories'), anchor: 'tabs-acquisition-categories') %>"><span><%= I18n.t("acquisition_categories") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-platform-categories"><span><%#= I18n.t("platform_categories") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_platform_categories', item_title: I18n.t('platform_categories'), anchor: 'tabs-platform-categories') %>"><span><%= I18n.t("platform_categories") %></span></a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-project-categorie"><span><%#= I18n.t("project_categories") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_project_categories', item_title: I18n.t('project_categories'), anchor: 'tabs-project-categories') %>"><span><%= I18n.t("project_categories") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-providers"><span><%#= I18n.t("providers") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_providers', item_title: I18n.t('providers'), anchor: 'tabs-providers') %>"><span><%= I18n.t("providers") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-estimations-statuses"><span><%#= I18n.t("estimations_statuses") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_estimation_statuses', item_title: I18n.t('estimations_statuses'), anchor: 'tabs-estimations-statuses') %>"><span><%= I18n.t("estimations_statuses") %></span></a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-profile"><span><%#= I18n.t("profiles") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_profiles', item_title: I18n.t('profiles'), anchor: 'tabs-profiles') %>"><span><%= I18n.t("profiles") %></span></a>

        </li>
        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-fields"><span><#%= I18n.t("fields") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_fields', item_title: I18n.t('fields'), anchor: 'tabs-fields') %>"><span><%= I18n.t("fields") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-estimation-models"><span><%#= I18n.t("estimation_models") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_estimation_models', item_title: I18n.t('estimation_models'), anchor: 'tabs-estimation-models') %>"><span><%= I18n.t("estimation_models") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-views"><span><%#= I18n.t("views") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_views', item_title: I18n.t('views'), anchor: 'tabs-views') %>"><span><%= I18n.t("views") %></span></a>
        </li>

        <li class="nav-item">
          <!--<a class="nav-link group" href="#tabs-select-columns-list"><span><%#= I18n.t("select_columns_list") %></span></a>-->
          <a class="nav-link group" href="<%= organization_setting_path(@organization, partial_name: 'tabs_select_columns_list', item_title: I18n.t('select_columns_list'), anchor: 'tabs-select-columns-list') %>"><span><%= I18n.t("select_columns_list") %></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>