
<div class="edition-bloc-left">
  <div class="edition-bloc-title">
    <h2>
      <%= I18n.t(:productivity) %>
    </h2>
  </div>

  <br>
  <%= I18n.t(:productivity_kpi_config_list) %> :

  <section class="card card-content-bloc estimancy-form">
    <div class="mb-5">
      <div class="edition-bloc-content">
        <div class="card-body">
          <div>
            <%= link_to I18n.t('create_button'), new_organization_kpi_path, :class => 'btn btn-primary btn-estimancy' %>
          </div>
          <br>

          <% @productivity_kpis = Kpi.where(organization_id: @current_organization.id, kpi_type: "Productivity") %>
          <%= form_tag organization_get_projects_productivity_indicators_path, :class => 'simple_form', :method => :get, remote: true do  %>

              <div id="users" class="table-responsive-sm" style="width:100%;overflow:auto; white-space:nowrap;">
                <%= render :partial => 'kpis/kpi_productivity_configurations', :object => @current_organization %>
              </div>

              <br><br><br>
              <%= hidden_field_tag :organization_id, @current_organization.id %>
              <%= hidden_field_tag :kpi_type, "Productivity" %>

              <%#= select_tag "kpi_configuration", options_for_select(@productivity_kpis.map{|i| [i.name, i.id] }),
                             :prompt => "Choisir une configuration" , :class => 'btn btn-secondary' %>

              <%#= submit_tag I18n.t('show_graph'), :class => 'btn btn-primary productivity' %>
              <%= submit_tag "Afficher les résultats des configurations sélectionnées", :class => 'btn btn-primary productivity' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>


  <%#= select_tag "application_id", options_for_select(@current_organization.applications.map{|i| [i.name, i.id] }),
                 :prompt => I18n.t(:choose_an_application) , :class => 'btn btn-secondary' %>

  <%#= select_tag "estimation_status_id", options_for_select(@current_organization.estimation_statuses.map{|i| [i.name, i.id] }),
                 :prompt => I18n.t(:choose_an_estimation_status) , :class => 'btn btn-secondary' %>

  <%#= f.input :application_id,
              as: :select,
              collection: @current_organization.applications.active,
              :label => I18n.t(:application),
              :input_html => { :class => 'form-control' },
              include_blank: I18n.t(:choose_an_application) %>

  <%#= f.input :estimation_status_id,
              label: I18n.t(:estimation_status),
              as: :select,
              collection: @current_organization.estimation_statuses,
              input_html: { :class => 'form-control' },
              include_blank: I18n.t(:choose_an_estimation_status),
              :class => 'btn btn-secondary' %>

</div>
<br>

<!--<button id='prj_per_appli' class='btn btn-primary productivity'><%#= I18n.t(:show_graph) %></button>-->

<div class="mb-4">
  <div class="widgets-list">

    <div class="widget-list-content">
      <div class="widget-group">
        <div class="row grid-stack">
          <% @all_kpi_config.all.each do |kpi_config| %>
              <div id='<%="productivity_indicator_#{kpi_config.id}"%>' class="col-6" style="visibility: hidden; margin-bottom: 30px;">
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="tabs_productivity_indicator" class="card card-widget card-indicator card-indicator-with-module">-->
  <!--<div class="card-body">-->
    <!--<div class="row">-->
      <!--<%#= render :partial => 'g_productivity_indicators', :locals => { :r_data => @productivity_indicators } %>-->
      <!--<%# @all_kpi_config.each do |kpi_config| %>-->
          <!--<div id='<%#="productivity_indicator_#{kpi_config.id}"%>' class="col-6" style="visibility: hidden">-->
          <!--</div>-->
      <!--<%# end %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $("button.productivity_save").click(function(){
        var btn_id = $(this).attr('id');
        var application_id = $("#application_id").val();
        var estimation_status_id = $("#estimation_status_id").val();
        $.ajax({
            url: "<%= organization_get_projects_productivity_indicators_path %>",
            method: "GET",
            data: {
                productivity_id: btn_id,
                application_id: $('#application_id option:selected').val(),
                estimation_status_id: $('#estimation_status_id option:selected').val()
            }
        });
    });
</script>