<div id="activite"></div>
<div class="row">
  <div class="col-12">
    <h5 class="blue"><%= I18n.t(:wbs_activities_module) %></h5>

    <% if can? :show_modules_instances, ModuleProject %>
      <% if can? :manage_modules_instances, ModuleProject %>
        <%= link_to I18n.t(:create_button), new_organization_wbs_activity_path(@organization),
                    :class => 'btn btn-primary float-md-right',
                    :style => 'margin-bottom:1rem;',
                    :title => "#{I18n.t(:guide_create_wbs_activity)}", data:{ turbolinks: false} %>
      <% end %>

      <table class="table table-list">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:description) %></th>
          <th><%= I18n.t(:created_at)%></th>
          <th class="action" style="width:100px;"><%= I18n.t(:actions) %></th>
        </tr>

        <% @wbs_activities.order("name asc").each do |wbs_activity| %>
          <tr>
            <td><%= link_to(wbs_activity.name, edit_wbs_activity_path(wbs_activity, :anchor => 'tabs-1'), confirm: I18n.t(:warning_edit_instance_module)) %></td>
            <td><%= wbs_activity.description %></td>
            <td class="span2 align-center">
              <%= wbs_activity.created_at.nil? ? '-' : I18n.l(wbs_activity.created_at) %>
            </td>
            <td class="center" style="width:100px;">
              <%= link_to raw("<i class='material-icons'>edit</i>"), edit_organization_wbs_activity_path(@organization, wbs_activity, :anchor => 'tabs-1'),
                          confirm: I18n.t(:warning_edit_instance_module), :class => 'material-icons', :title => I18n.t('edit') %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to raw("<i class='material-icons'>file_copy</i>"), duplicate_wbs_activity_path(wbs_activity_id: wbs_activity.id, organization_id: @organization.id), method: :post,
                            :class => 'material-icons', :title => I18n.t(:duplicate_module) %>
                <%= link_to raw("<i class='material-icons'>delete</i>"), wbs_activity,
                            confirm: I18n.t(:are_you_sure), :class => 'material-icons', :title => I18n.t('delete'), method: :delete, organization_id: @organization.id %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
      </table>
    <% else %>
      <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
    <% end %>
  </div>
</div>