<!--<div id="tabs-project-areas" class="edition-page-group py-4"><span><%#= I18n.t('project_areas') %></span></div>-->
<% if can? :show_project_areas, ProjectArea %>

    <% if can? :manage, ProjectArea %>
        <%= link_to I18n.t('create_button'), new_organization_project_area_path(@organization), :class => 'btn btn-primary' %>
        <a href="#ImportProjectAreas" role="button" class="btn btn-primary" title="Import project areas from excel" data-toggle="modal">
          <%= I18n.t(:import) %>
        </a>
        <%= link_to I18n.t('export'), organization_export_project_areas_path(@organization), :class => 'btn btn-primary'%>

        <div id="ImportProjectAreas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <%= form_tag organization_import_project_areas_path(@organization), :multipart => true, :class => 'simple_form' do %>
              <div class="modal-header modal-drag">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"> <%= I18n.t(:import_data_from) %></h3>
              </div>
              <div class="modal-body">
                <%= file_field_tag :file %>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
              </div>
              <div class="loading span11 hide">
                <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
              </div>
          <% end %>
        </div>
    <% end %>
    <hr>

    <table id="table_list_2" class="table table-list">
      <thead>
      <tr>
        <th><%= I18n.t('name') %></th>
        <th><%= I18n.t('description') %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <tbody>
      <% @organization.project_areas.where("name LIKE ?", "%#{params[:advanced_search]}%").each do |pa| %>
          <tr>
            <td><%= pa.name %></td>
            <td><%= pa.description %></td>
            <td class="center">
              <%= link_to raw("<i class='material-icons'>edit</i>"), edit_organization_project_area_path(@organization, pa), :class => 'icon-pencil', :title => I18n.t('edit') %>
              <% if can? :manage, ProjectArea %>
                  <%= link_to raw("<i class='material-icons'>delete</i>"), organization_project_area_path(@organization, pa), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'material-icons', :title => I18n.t('delete') %>
              <% end %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% else %>
    <div class="red_color"><%= I18n.t(:notice_cannot_view_project_areas) %></div>
<% end %>