<!--<div id="tabs-group" class="edition-page-group py-4"><span><%#= I18n.t('groups') %></span></div>-->

<div class="card card-content-bloc estimation-edition">
  <div class="card-body">
    <div class="edition-bloc-title">
      <%= I18n.t('groups') %>
    </div>

    <% if can? :show_groups, Group %>
        <div class="group_button">
          <% if can? :manage, Group  %>
              <%= link_to I18n.t('create_button'), new_organization_group_path(@organization), :class => 'btn btn-primary btn-estimancy' %>
              <a href="#myWBSModal" role="button" class="btn btn-primary btn-estimancy" title="Import groups from excel" data-toggle="modal">
                <%= I18n.t(:import) %>
              </a>
          <% end %>
          <%= link_to I18n.t('export'), organization_export_groups_path(@organization), :class => 'btn btn-primary btn-estimancy' %>
        </div>

        <% if can? :manage, Group  %>
            <div id="myWBSModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <%= form_tag organization_import_groups_path(@organization), :multipart => true, :class => 'simple_form' do %>
                  <div class="modal-header modal-drag">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel"> <%= I18n.t(:import_data_from) %></h3>
                  </div>
                  <div class="modal-body">
                    <%= file_field_tag :file %>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary btn-estimancy" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= submit_tag I18n.t(:import), :class => 'btn btn-primary btn-estimancy', :onclick => "$('.loading').show();" %>
                  </div>
                  <div class="loading span11 hide">
                    <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
                  </div>
              <% end %>
            </div>
        <% end %>

        <%= render :partial => 'organizations/groups', object: @groups %>
    <% else %>
        <div class="red_color"><%= I18n.t(:notice_cannot_view_groups) %></div>
    <% end %>
  </div>
</div>