<div id="tabs-detailed_excel_report">
  <span><h2>
  <%= I18n.t('detailed_excel_report') %></h2>
  </span>
</div>
<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div class="card-body">

      <%= form_tag "generate_report_excel_detail", method: "post" do %>
        <h4><%= I18n.t(:generate_excel_report_all_quotations) %></h4>
        <p>
          <%= I18n.t(:Abaque_Wbs_quotation_export) %>

        </p>
        <br>
        <%= hidden_field_tag "organization_id", params[:organization_id] %>
        <%= submit_tag I18n.t(:Generate_Report), :class => 'btn btn-primary btn-estimancy' %>

      <% end %>
    </div>
</div>