
<div class="card card-content-bloc estimation-edition">
  <div class="card-body">
    <div class="edition-bloc-title">
      <%= I18n.t('global_permissions') %>
    </div>
    <% if can? :show_global_permissions, Permission %>
      <%= form_tag(set_rights_path, :method => 'post', :class => 'simple_form') do %>

        <table class=" table table-list">
          <tr>
            <th style="text-align:left;"><%= I18n.t(:groups_and_roles) %></th>
            <% @groups.each_with_index do |group, i| %>
                <th>
                  <%= link_to group.name, "#", title: group.description %>
                  &nbsp;
                  <%= link_to '', '#', :id => "cols_select_all_global_#{group.id}", 'data-group_global_id' => group.id, 'data-rows_or_cols_global' => 'cols', :remote => true, :class => 'fa fa-check-square-o', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_global_id', 'permission_global_id', 'global');" %>
                </th>
            <% end %>
          </tr>

          <% @permissions_classes_globals.each do |cla| %>
              <tr>
                <td style="text-align:left; vertical-align:middle; font-style:italic;">
                  <%= cla.blank? ? '' : cla %>
                </td>
                <% @groups.each do |group| %>
                    <td style="text-align:center; font-style:italic; vertical-align:bottom; font-size: 85%; border-left: 0;">
                      <%= group.name %>
                    </td>
                <% end %>
              </tr>
              <% @global_permissions.each do |perm| %>
                  <% if (current_user.super_admin == false) &&
                          (perm.alias == "manage" && perm.object_associated == "") ||
                          (perm.alias == "manage" && perm.object_associated == "Organization")||
                          (perm.alias == "create_organizations" && perm.object_associated == "Organization")
                  %>
                      <tr>
                        <% if perm.category.to_s == cla %>
                            <td>
                              &nbsp;
                              <%= link_to '', '#', :id => "lines_select_all_global_#{perm.id}", 'data-permission_global_id' => perm.id, 'data-rows_or_cols_global' => 'rows', :remote => true, :class => 'fa-check-square-o fa', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_global_id', 'permission_global_id', 'global');" %>
                              &nbsp;
                              <%= link_to perm.name, edit_permission_path(perm), title: perm.description %>
                            </td>
                            <% @groups.each do |group| %>
                                <td style="text-align: center;">
                                  -
                                </td>
                            <% end %>
                        <% end %>
                      </tr>
                  <% else %>
                      <tr>
                        <% if perm.category.to_s == cla %>
                            <td>
                              &nbsp;
                              <%= link_to '', '#', :id => "lines_select_all_global_#{perm.id}", 'data-permission_global_id' => perm.id, 'data-rows_or_cols_global' => 'rows', :remote => true, :class => 'fa-check-square-o fa', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_global_id', 'permission_global_id', 'global');" %>
                              &nbsp;
                              <%= link_to perm.name, edit_permission_path(perm), title: perm.description %>
                            </td>
                            <% @groups.each do |group| %>
                                <%= hidden_field_tag "permissions[#{group.id}][]" %>
                                <td style="text-align: center;">
                                  <%= check_box_tag("permissions[#{group.id}][]", perm.id, (group.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_global_id_#{group.id} permission_global_id_#{perm.id}") %>
                                </td>
                            <% end %>
                        <% end %>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>

        </table>

        <% if can? :manage_global_permissions, Permission %>
            <%= submit_tag I18n.t('apply'), name: "global_permissions", :class => 'btn btn-primary btn-estimancy' %>
            <%= link_to I18n.t('back'), :back, :class => 'btn btn-secondary'%>
        <% end %>
      <% end %>

    <% else %>
        <div class="red_color"><%= I18n.t(:notice_cannot_view_global_permissions) %></div>
    <% end %>
  </div>
</div>