<div id="livrables">
  <%= link_to "#{I18n.t :create_a_livrable}", new_organization_livrable_path(@organization), class: "btn btn-primary btn-estimancy" %>
  <hr>
  <table id="table_list_1" class="table table-list">
    <thead>
    <tr>
      <th>
        <%= I18n.t :name %>
      </th>
      <th>
        <%= I18n.t :description %>
      </th>
      <th>
        <%= I18n.t :states %> <%# états %>
      </th>
      <th>
        <%= I18n.t :associated_service %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @livrables.each do |livrable| %>
        <tr>
          <td><%= livrable.name %></td>
          <td><%= livrable.description %></td>
          <td><%= livrable.state %></td>
          <td><%= livrable.service %></td>
          <td>
            <%= link_to '', edit_organization_livrable_path(@organization, livrable), class: 'fa fa-pencil' %>
            <%= link_to '', organization_livrable_path(@organization, livrable), data: {confirm: I18n.t('are_you_sure')}, method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
          </td>
        </tr>
    <% end %>
    </tbody>

    <%= render :partial => 'layouts/footer_table' %>
  </table>
</div>