
<div class="card card-content-bloc estimation-edition">
  <div class="card-body">
    <div class="edition-bloc-title">
      <%= I18n.t('security_level') %>
    </div>
    <% if can? :show_project_security_levels, ProjectSecurityLevel %>

        <% if can? :manage, ProjectSecurityLevel %>
            <div class="group_button">
              <%= link_to I18n.t('create_button'), new_organization_project_security_level_path(@organization), :class => 'btn btn-primary btn-estimancy' %>
            </div>
        <% end %>

        <table id="table_list_12" class="table tablesorterPager table-striped table-bordered table-condensed" style="overflow:auto;">
          <thead>
          <tr>
            <th style="text-align:left;"><%= I18n.t(:name) %></th>
            <th style="text-align:left;"><%= I18n.t(:description) %></th>
            <th class="action"><%= I18n.t(:actions) %></th>
          </tr>
          </thead>

          <% @project_security_levels.each do |project_security_level| %>
              <tr>
                <td><%= project_security_level.name %></td>
                <td><%= project_security_level.description %></td>
                <td class="center">
                  <%#= link_to 'Editter', edit_organization_project_security_level_path(@organization, project_security_level), :class => 'icon-pencil', :title => I18n.t('edit') %>
                  <%= link_to raw("<i class='material-icons'>edit</i>"), edit_organization_project_security_level_path(@organization, project_security_level), :class => 'material-icons', :title => I18n.t('edit') %>
                  <% if can? :manage, ProjectSecurityLevel %>
                    <%#= link_to 'Supprimer', organization_project_security_level_path(@organization, project_security_level), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :style => 'color:red', :title => I18n.t('delete') %>
                    <%= link_to raw("<i class='material-icons'>delete</i>"), organization_project_security_level_path(@organization, project_security_level), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'material-icons', :title => I18n.t('delete') %>
                <% end %>
                </td>
              </tr>
          <% end %>
        </table>
    <% else %>
        <div class="red_color"><%= I18n.t(:notice_cannot_view_project_securities_levels) %></div>
    <% end %>
  </div>
</div>