<div id="effort"></div>
<div class="row">
  <div class="col-12">
    <h5 class="blue"><%= I18n.t(:module_effort_generique) %></h5>

    <% if can? :show_modules_instances, ModuleProject %>
      <% if can? :manage_modules_instances, ModuleProject %>
        <%= link_to I18n.t(:create_button), ge.new_ge_model_path(organization_id: @organization.id), :class => 'btn btn-primary float-md-right', style: 'margin-bottom:1rem;' %>
      <% end %>

      <br>

      <table class="table table-list">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:created_date) %></th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>

        <% @organization.ge_models.order("name asc").each do |i| %>
          <tr>
            <td class="span5">
              <%= link_to i.name, ge.edit_ge_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
            </td>
            <td class="span2 align-center">
              <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
            </td>
            <td class="align-center">
              <%= link_to raw("<i class='material-icons'>edit</i>"), ge.edit_ge_model_path(i, organization_id: @organization.id),
                          confirm: I18n.t(:warning_edit_instance_module), :class => 'material-icons', :title => I18n.t('edit') %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to raw("<i class='material-icons'>file_copy</i>"), ge.ge_model_duplicate_path(i, organization_id: @organization.id),
                            :class => 'material-icons', :title => I18n.t('duplicate_module'), method: "post" %>
                <%= link_to raw("<i class='material-icons'>delete</i>"), ge.ge_model_path(i, organization_id: @organization.id),
                            confirm: I18n.t(:are_you_sure), :class => 'material-icons', :title => I18n.t('delete'), method: "DELETE" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
      </table>
    <% else %>
      <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
    <% end %>
  </div>
</div>

<br>
<hr>

<div class="row">
  <div class="col-12">
    <h5><%= I18n.t(:knowledge_base_module)%></h5>

    <% if can? :show_modules_instances, ModuleProject %>
      <% if can? :manage_modules_instances, ModuleProject %>
        <%= link_to I18n.t(:create_button), kb.new_kb_model_path(organization_id: @organization.id), :class => 'btn btn-primary float-md-right', style: 'margin-bottom:1rem;' %>
      <% end %>

      <table class="table table-list">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:created_date) %></th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>

        <% @organization.kb_models.order("name asc").each do |i| %>
          <tr>
            <td class="span5">
              <%= link_to i.name, kb.edit_kb_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
            </td>
            <td class="span2 align-center">
              <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
            </td>
            <td class="align-center">
              <%= link_to raw("<i class='material-icons'>edit</i>"), kb.edit_kb_model_path(i, organization_id: @organization.id),
                          confirm: I18n.t(:warning_edit_instance_module), :class => 'material-icons', :title => I18n.t('edit') %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to raw("<i class='material-icons'>file_copy</i>"), kb.kb_model_duplicate_path(i,organization_id: @organization.id),
                            :class => 'material-icons', :title => I18n.t("Duplicate knowledge base"), method: "post" %>
                <%= link_to raw("<i class='material-icons'>delete</i>"), kb.kb_model_path(i, organization_id: @organization.id),
                            confirm: I18n.t(:are_you_sure), :class => 'material-icons', :title => I18n.t('delete'), method: "DELETE" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
      </table>
    <% else %>
      <div class="red_color">
        <%= I18n.t(:notice_cannot_view_modules_instances) %>
      </div>
    <% end %>
  </div>
</div>

<br>
<hr>

<div class="row">
  <div class="col-12">

      <h5><%= I18n.t(:operation_module) %></h5>

      <% if can? :show_modules_instances, ModuleProject %>
        <% if can? :manage_modules_instances, ModuleProject %>
          <%= link_to I18n.t(:create_button), operation.new_operation_model_path(organization_id: @organization.id), :class => 'btn btn-primary float-md-right', style: 'margin-bottom:1rem;' %>
        <% end %>

      <br/>

      <table class="table table-list">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:created_date) %></th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>

        <% @organization.operation_models.order("name asc").each do |i| %>
          <tr>
            <td class="span5">
              <%= link_to i.name, operation.edit_operation_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
            </td>
            <td class="span2 align-center">
              <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
            </td>
            <td class="align-center">
              <%= link_to raw("<i class='material-icons'>edit</i>"), operation.edit_operation_model_path(i, organization_id: @organization.id),
                          data: {confirm: I18n.t(:warning_edit_instance_module)}, :class => 'material-icons', :title => I18n.t('edit') %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to raw("<i class='material-icons'>file_copy</i>"), operation.operation_model_duplicate_path(i, organization_id: @organization.id),
                            :class => 'material-icons', :title => I18n.t(:duplicate_module), method: "post" %>
                <%= link_to raw("<i class='material-icons'>delete</i>"), operation.operation_model_path(i, organization_id: @organization.id),
                            confirm: I18n.t(:are_you_sure), :class => 'material-icons', :title => I18n.t('delete'), method: "DELETE" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
      </table>
    <% else %>
      <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
    <% end %>
  </div>
</div>

<br>
<hr>

<div class="row">
  <div class="col-12">
    <h5 class="blue"><%= I18n.t(:Judgment_Expert_module) %></h5>
    <% if can? :manage_modules_instances, ModuleProject %>
      <%= link_to I18n.t(:create_button), expert_judgement.new_instance_path(organization_id: @organization.id), :class => 'btn btn-primary float-md-right', style: 'margin-bottom:1rem;' %>
    <% end %>

    <table class="table table-list">
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:created_date) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>

      <% @organization.expert_judgement_instances.order("name asc").each do |i| %>
        <tr>
          <td class="span5">
            <%= link_to i.name, expert_judgement.edit_instance_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
          </td>
          <td class="span2 align-center">
            -
          </td>
          <td class="align-center">
            <%= link_to raw("<i class='material-icons'>edit</i>"), expert_judgement.edit_instance_path(i, organization_id: @organization.id),
                        confirm: I18n.t(:warning_edit_instance_module), :class => 'material-icons', :title => I18n.t('edit') %>
            <% if can? :manage_modules_instances, ModuleProject %>
              <%= link_to raw("<i class='material-icons'>file_copy</i>"), expert_judgement.instance_duplicate_expert_judgment_path(i, organization_id: @organization.id),
                          :class => 'material-icons', :title => I18n.t(:duplicate_module), method: "post" %>
              <%#= link_to I18n.t(:delete), expert_judgement.instance_path(i, organization_id: @organization.id),  confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
              <%= link_to raw("<i class='material-icons'>delete</i>"), expert_judgement.instance_path(i, organization_id: @organization.id),
                          confirm: I18n.t(:are_you_sure), :class => 'material-icons', :title => I18n.t('delete'), method: "DELETE" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>
</div>