
  <div class="d-flex align-items-center mt-4">
    <div style="flex: 1">
      <h1><%= I18n.t :select_an_organization %></h1>
    </div>
    <% if can?(:manage, Organization) && !(!current_user.super_admin? && current_user.subscription_end_date <= Time.now) %>
      <a href="<%= new_organization_path %>">
        <button type="button" class="btn btn-primary">
          <%= I18n.t :create_new_organization %>
        </button>
      </a>
    <% end %>
  </div>

  <p>
    <%= I18n.t :welcome %> <span class="font-weight-bold"><%= current_user %></span>
  </p>

  <ul class="portal-page-widget-list mt-5 mb-6">
    <% @organizations.each do |organization| %>

      <li>
        <div class="card card-cliquable organisation-widget">
          <div class="card-body">
            <% if !current_user.super_admin? && current_user.subscription_end_date <= Time.now %>
                <span>
                  <div class="organisation-widget-title"><%= organization.name %></div>
                  <div class="organisation-widget-subtitle"><%= organization.headband_title %></div>
                  <p class="organisation-widget-text mt-3 mb-4">
                    <%= organization.description.truncate(110) %>
                  </p>
                </span>

            <% else %>

                <a href="<%= main_app.organization_estimations_path(organization) %>">
                  <div class="organisation-widget-title"><%= organization.name %></div>
                  <div class="organisation-widget-subtitle"><%= organization.headband_title %></div>
                  <p class="organisation-widget-text mt-3 mb-4">
                    <%= organization.description.truncate(110) %>
                  </p>
                </a>
                <div class="organisation-widget-buttons">
                  <a href="#"></a>
                  <% if can? :manage, Organization %>
                    <a href="<%= edit_organization_path(organization) %>" title="<%= I18n.t :edit %>">
                      <i class="material-icons">
                        edit
                      </i>
                    </a>
                  <% end %>
                </div>

            <% end %>

          </div>
        </div>
      </li>
    <% end %>
  </ul>


<%# link_to '', edit_organization_path(i), :class => 'icon icon-pencil', :title => I18n.t('edit') %>

<%# if can? :manage, Organization %>
  <%# link_to('', confirm_organization_deletion_path(i.id), :class => 'icon icon-trash', :title => I18n.t('delete'), method: "POST") %>
<%# end %>