<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th>Organisation de référence</th>
    <th>Champ concerné</th>
    <th>Valeur de référence</th>
    <th>Organisation</th>
    <th>Module de Taille</th>
    <th>Différences</th>
  </tr>

  <% @all_differences.each do |difference| %>
      <% column_name = difference[:column_name] %>
    <tr>
        <td><%= @reference_organization.name %></td>
        <td><%= column_name %></td>

        <td>
          <% if column_name == "orders" %>
              <% referenced_guw_model_orders = @reference_default_data[column_name]  %>
            <table>
              <% referenced_guw_model_orders.each do |item, value| %>
              <tr>
                <% begin %>

                    <td><%= value %></td>

                    <% if item == "Coefficient" || item == "Coeff. de Complexité"  || item == "Critères" %>
                        <td class="orders_padding">
                          <b>
                            <%= item %>
                          </b>
                        </td>
                    <% else %>
                        <td class="orders_padding">
                          <%= item %>
                        </td>
                    <% end %>
                <% rescue %>
                    <td>
                      <%#= text_field_tag "items[#{item}]", YAML::load(@guw_model.orders.value)[item], class: "order_size" %>
                      <%= text_field_tag "items[#{item}]", YAML::load(referenced_guw_model_orders.value)[item], class: "order_size" %>
                    </td>

                    <% if item == "Coefficient" || item == "Coeff. de Complexité"  || item == "Critères" %>
                        <td class="orders_padding">
                          <b>
                            <%= item %>
                          </b>
                        </td>
                    <% else %>
                        <td class="orders_padding">
                          <%= item %>
                        </td>
                    <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>

          <% else %>
            <%= @reference_default_data[column_name] %>
          <% end %>
        </td>

        <td><%= Organization.where(id: difference[:organization_id]).first %></td>
        <td><%= Guw::GuwModel.where(id: difference[:guw_model_id]).first %></td>
        <td>
          <% if column_name == "orders" %>
              <% different_guw_model_orders = difference[:column_value]  %>
              <table>
                <% different_guw_model_orders.each do |item, value| %>
                    <tr>
                      <% begin %>

                          <td>
                            <%#= text_field_tag "items[#{item}]", value, class: "order_size" %>
                            <%= value %>
                          </td>

                          <% if item == "Coefficient" || item == "Coeff. de Complexité"  || item == "Critères" %>
                              <td class="orders_padding">
                                <b>
                                  <%= item %>
                                </b>
                              </td>
                          <% else %>
                              <td class="orders_padding">
                                <%= item %>
                              </td>
                          <% end %>

                      <% rescue %>
                          <td>
                            <%= text_field_tag "items[#{item}]", YAML::load(different_guw_model_orders.value)[item], class: "order_size" %>
                          </td>

                          <% if item == "Coefficient" || item == "Coeff. de Complexité"  || item == "Critères" %>
                              <td class="orders_padding">
                                <b>
                                  <%= item %>
                                </b>
                              </td>
                          <% else %>
                              <td class="orders_padding">
                                <%= item %>
                              </td>
                          <% end %>

                      <% end %>
                    </tr>
                <% end %>
              </table>

          <% else %>
              <%= column_name %> : <%= difference[:column_value] %>
          <% end %>

        </td>
    </tr>
  <% end %>

</table>