<div class="tabs">
  <h4><%= "Integrité du corps commun des Modules de Taille" %></h4>
  <br>

  <p>Organisation de référence : <%= @reference_organization.name %></p>
  <p> Module de Taille de référence :
    <%= link_to @reference_guw_model.name, guw.edit_guw_model_path(@reference_guw_model, organization_id: @reference_organization.id, anchor: "tabs-attributs"), confirm: I18n.t(:warning_edit_instance_module) %>
  </p>
  <div style="margin: 10px;">

    <%#= form_tag export_to_pdf_security_audit_utilities_path(format: :pdf, organization_id: @current_organization.id), method: :get do %>
        <!--<div class="input row-fluid">-->
          <!--<div class="span2">-->
            <!--<label class="string control-label" for="objet">Date de début</label>-->
            <!--<input class="date-picker input-large" id="start_date" name="start_date" size="50" type="text">-->
          <!--</div>-->
          <!--<div class="span2">-->
            <!--<label class="string control-label" for="objet">Date de fin</label>-->
            <!--<input class="date-picker input-large" id="end_date" name="end_date" size="50" type="text">-->
          <!--</div>-->
          <!--<div class="span2" style="margin-top: 25px;">-->
            <!--<%#= submit_tag I18n.t(:export_pdf), :formtarget => "_blank", class: "btn btn-primary", :title => 'Exporter en PDF' %>-->
          <!--</div>-->
        <!--</div>-->

        <!--<script>-->
<!--//            $(document).ready(function () {-->
<!--//                $(".date-picker").datepicker({-->
<!--//                    language: 'fr',-->
<!--//                    autoclose: true,-->
<!--//                    todayHighlight: true,-->
<!--//                    todayBtn: true-->
<!--//                });-->
<!--//            });-->
        <!--</script>-->
    <%# end %>
  </div>

  <ul>
    <li><a href="#tabs-default_data">Données de base</a></li>
    <li><a href="#tabs-guw_attributes"><%= "Les attibuts" %></a></li>
    <li><a href="#tabs-coefficients"><%= "Coefficients" %></a></li>
    <li><a href="#tabs-coefficient_elements"><%= "Elements de Coefficients" %></a></li>
    <li><a href="#tabs-sorties"><%= "Les sorties" %></a></li>
    <li><a href="#tabs-matrix"><%= "La Matrice" %></a></li>
  </ul>

  <!-- ========================  DONNEES DE BASE MODULE DE TAILLE  ===================== -->
  <div id="tabs-default_data">
    <%= render partial: 'audit_common_default_data_differences',
               formats: [:html], object: [@default_data_differences], locals: { } %>
  </div>

  <!-- ========================  ATTRIBUTS ===================== -->
  <div id="tabs-guw_attributes">
    <%= render partial: 'audit_common_attributes_differences',
               formats: [:html], object: [@attributes_differences], locals: { }  %>
  </div>

  <!-- ======================== COEFFICIENTS ===================== -->
  <div id="tabs-coefficients">
    <%= render partial: 'audit_common_coefficients_differences',
               formats: [:html], object: [@coefficients_differences], locals: { } %>
  </div>

  <!-- ========================  COEFFICIENT-ELEMENTS ===================== -->
  <div id="tabs-coefficient_elements">
    <%= render partial: 'audit_common_coefficient_elements_differences',
               formats: [:html], object: [@coefficient_elements_differences], locals: { } %>
  </div>

  <!-- ========================  SORTIES ===================== -->
  <div id="tabs-sorties">
    <%= render partial: 'audit_common_outputs_differences',
               formats: [:html], object: [@outputs_differences], locals: { }  %>
  </div>

  <!-- ========================  MATRICE  ===================== -->
  <div id="tabs-matrix">
    <%= render partial: 'audit_common_guw_types_matrix_differences',
               formats: [:html], object: [@guw_types_differences], locals: { }  %>
  </div>

</div>

