<!--Load the Google charts API  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
</script>

<%# if controller.action_name == "edit" || controller.action_name == "update" %>
<section class="card card-content-bloc estimancy-form">

  <div class="mb-5">
    <div class="effort-bloc">
  <div class="tab-pane" id="pills-printing_extraction" role="tabpanel" aria-labelledby="pills-printing_extraction-tab">
    <div class="card-body">

      <div class="edition-bloc-left">
        <div class="edition-bloc-title">
          <h1>
            <%= I18n.t(:printing_extraction) %>
          </h1>
        </div>
      </div>

      <div class="edition-bloc-content">
        <div class="edition-bloc-form">

          <div class="form-row">
            <div class="col-6">
              <div class="card card-widget card-indicator card-indicator-with-module">
                <div class="card-body">
                  <div class="mb-5">
                    <div class="widgets-list">
                      <%= link_to show_original_image_path(image_name: "temps_realisation_devis_SLA_en.png"), class: :popup_link, remote: true do %>
                        <%= image_tag "temps_realisation_devis_SLA_en.png", id: "temps_realisation_devis_SLA", alt: "Quote creation duration", style: 'height:20em; width:100%;' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card card-widget card-indicator card-indicator-with-module">
                <div class="card-body">
                  <div class="mb-5">
                    <div class="widgets-list">
                      <%= link_to show_original_image_path(image_name: "nb_PF_livre_en.png"), class: :popup_link, remote: true do %>
                        <%= image_tag "nb_PF_livre_en.png", id: "nb_PF_livre", alt: "No. of PFs delivered in 2019", style: 'height:20em; width:100%;' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
          <!-- budget global -->
          <div class="form-row">
            <div class="col-6">
              <div class="card card-widget card-indicator card-indicator-with-module">
                <div class="card-body">
                  <div class="span4">
                    <!--<div class="widgets-list">-->
                    <%#= render :partial => 'budgets/g_budget_report_stacked_bar_chart', :locals => { :data => @data_for_global_budget, div_id: "stacked_bar_chart_div_budget_global", chart_colors: @bt_colors, budget_name: "", hAxis_title: "Budget", vAxis_title: "" } %>
                    <%= render :partial => 'budgets/g_budget_report_multiple_stacked_bar_chart', :locals => { :data => @data_for_global_budget, nb_series: @nb_series, div_id: "stacked_bar_chart_div_budget_global", chart_colors: @bt_colors, budget_name: "", chart_title: I18n.t(:global_budget), hAxis_title: "Budgets", vAxis_title: "" } %>
                    <!--</div>-->
                  </div>
                </div>

                <span style="float: right; margin-left: auto">
                              <%= link_to "DETAILS", organization_budget_details_path(@organization), :class => 'btn btn-secondary', target: "_blank" %>
                            </span>
              </div>
            </div>

            <div class="col-6">
              <div class="card card-widget card-indicator card-indicator-with-module">
                <div class="card-body">
                  <span style="margin-bottom: 10px;"><%= I18n.t(:nb_estimations) %></span>

                  <div class="widgets-list">
                    <div class="widget-list-content">
                      <div class="widget-group">
                        <ul class="widget-group-list" style="height: 100px; display: flex; flex-direction: column; flex-wrap: wrap;">
                          <% @projects_per_year.each do |year, array| %>
                            <% value = array.size %>
                            <% unless value.is_a?(Hash) %>
                              <li>
                                <div class="card card-widget card-indicator card-indicator-with-module">
                                  <div class="card-body">
                                    <div class="card-indicator-type"></div>
                                    <div class="card-indicator-text"><%= year %> </div>
                                    <!--<div class="<%#= (value.to_s.size >= 15) ? 'card-indicator-label' : 'card-indicator-quantity' %>">-->
                                    <div class="card-indicator-quantity">
                                      <span><%= value.nil? ? '-' : value %></span>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            <% end %>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <span style="float: right; margin-left: auto">
                              <%= link_to "DETAILS", '/projects_quantity', :class => 'btn btn-secondary' %>
                            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>
    </div>
  </div>
</section>