<div class="d-flex align-items-center mt-4">
  <div style="flex: 1">
    <h1><%= I18n.t("projects_list") %></h1>
  </div>
  <a href="<%= projects_from_path(organization_id: @organization.id) %>">
    <button type="button" class="btn btn-primary">
      <%= I18n.t("create_project") %>
    </button>
  </a>
  <% unless "saas".in?(request.original_url) || "demo".in?(request.original_url) %>
    <%# link_to I18n.t(:extract_raw_data), raw_data_extraction_path(organization_id: @organization.id), :class => 'btn', method: 'post' %>
  <% end %>
</div>

<% if @current_user.quick_access %>
  <p>
    <span class="font-weight-bold"><%= I18n.t("quick_access") %></span> <%= I18n.t("to_the_latest_estimations_consulted") %>
  </p>

  <div class="mb-5">
    <div class="quickview-list">
      <%# if current_user.allow_full_screen_dashboard %>
        <%# recent_projects = current_user.recent_projects.nil? ? [] : current_user.recent_projects.uniq.take(5).select{|i| i == @current_organization.id }.flatten %>
      <%# else %>
        <%# recent_projects = current_user.recent_projects.nil? ? [] : current_user.recent_projects.uniq.take(4).select{|i| i == @current_organization.id }.flatten %>
        <% recent_projects = [] %>
      <%# end %>
        <% recent_projects.reverse.each do |project_id| %>
          <% project = Project.find_by_id(project_id) %>
          <% unless project.nil? %>
            <div class="card card-cliquable estimation-quickview w-25">
              <a href="<%= dashboard_path(project) %>">
                <div class="card-body">
                  <h5 class="estimation-quickview-title"><%= project.title %></h5>
                  <h6 class="estimation-quickview-status mb-2" style="color: <%= project.status_background_color %>;">
                    <%= project.estimation_status.name %>
                  </h6>
                  <div class="d-flex"><span class="estimation-quickview-date mb-2 "><%= project.start_date %></span><span class="estimation-quickview-version mb-2 "><%= project.version_number %></span></div>
                  <p class="estimation-quickview-text"><%= simple_format project.description %></p>

                  <% @data_widget_hash = {} %>
                  <% @project_module_projects = project.module_projects %>
                  <% @project_module_projects.each do |module_project| %>
                    <% module_project_view = module_project.view %>
                    <% unless module_project_view.nil? %>
                      <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
                      <% module_project_view_widgets.each do |view_widget| %>
                        <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                          <% view_widget_data = new_get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                          <% if view_widget.widget_type == "text" %>
                            <% @data_widget_hash[view_widget.name] = view_widget_data %>
                          <% end %>
                        <% else %>
                          <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                          <% @data_widget_hash[view_widget.name] = view_widget_data %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
<% end %>

<div id="search-estimation-list">
  <%= render partial: "projects/estimation_overview" %>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    // Quand l'utilisateur scroll, on passe l'overview en sticky si besoin
    window.onscroll = function() {setOverviewSticky()};

    function setOverviewSticky(pOverview) {
        var overview;
        if (pOverview) {
            overview = pOverview;
        } else {
            overview = $(".estimation-overview:visible");
        }
        var table = $(".estimation-table");
        var tableTop = table[0].offsetTop + 58;
        var tableBottom = table[0].offsetTop + table[0].offsetHeight;

        if(overview.length) {
            if (window.pageYOffset > tableTop && (window.pageYOffset + window.innerHeight) < tableBottom) {
                overview.removeClass('sticky-bottom').addClass("sticky");
                overview.children('.card-body').css("width", ((table.width() * 55 / 100) - 42) + "px");
                overview.children('.card-body').css("min-height", "900px");
            } else if(window.pageYOffset > tableTop) {
                if((overview.children('.card-body')[0].offsetHeight > tableBottom - window.pageYOffset)) {
                    overview.addClass("sticky").addClass("sticky-bottom");
                } else {
                    overview.removeClass('sticky-bottom').addClass("sticky")
                }
                overview.children('.card-body').css("width", ((table.width() * 55 / 100) - 42) + "px");
                overview.children('.card-body').css("min-height", "900px");
            } else {
                overview.removeClass("sticky").removeClass("sticky-bottom");
                // overview.children('.card-body').removeAttr("style");
            }
        }
    }

</script>

