<%= form_tag search_path, method: "GET", remote: true do %>
  <div class="tabs">
    <ul>
      <li><a href="#tabs-group"><%= I18n.t(:estimation_setting) %></a></li>
    </ul>

    <div id="tabs-estimations" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <table>
          <tr>
            <td colspan=2 style="text-align:right;">
              <%= I18n.t(:label_filter_on_projects_version) %>
              <%= select_tag 'filter_organization_projects_version',
                              options_for_select([[I18n.t(:label_filter_on_project_version_2),2],
                                                 [I18n.t(:label_filter_on_project_version_1),1],
                                                 [I18n.t(:label_filter_on_project_version_3),3],
                                                 [I18n.t(:label_filter_on_project_version_4),4]],
                                                :selected => params[:filter_version] || 4),
                             'data-organization_id' => @organization.id, include_blank: false %>
                              <!--'data-organization_id' => @organization.id, 'data-project_ids' => @projects.map(&:id).to_json, include_blank: false %>-->

              <% if can? :create_project_from_template, Project %>
                <%= link_to I18n.t('new_project_from'), projects_from_path(organization_id: @organization.id), :class => 'btn' %>
              <% end %>

              <% if can? :create_project_from_scratch, Project %>
                <%= link_to I18n.t('create_button'), new_project_path(organization_id: @organization.id), :class => 'btn' %>
              <% end %>
              <%= link_to('Exporter au format PDF', "#!", class: 'btn', :title => 'Exporter en PDF', onclick: "$('#export_dashboard').modal();") %>
            </td>

          </tr>
        </table>

        <div id="organization_projects">
          <%= render :partial => 'organizations/organization_projects', object: [@organization, @projects] %>
        </div>
    </div>
  </div>

  <%#= submit_tag "recherchez", class: "hide" %>
  <%= submit_tag "", class: "invisible_button" %>

<% end %>


<div class="modal hide fade modal_export" tabindex="-1" role="dialog" id="export_dashboard" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag export_dashboard_path(format: "pdf"), :method => "POST", :class => 'simple_form' do %>

        <div class="modal-header modal-drag">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            Exporter les devis sous format PDF
          </h4>
        </div>

        <div class="modal-body" style="height: inherit;">

          <p>
            <label>
              <b>Besoin métier</b>
            </label>
            <%= select_tag "", options_for_select(@projects.map(&:business_need).uniq.compact), prompt: "Sélectionnez un besoin métier" %>
          </p>

          <p>
            <label>
              <b><%= I18n.t :request_number %></b>
            </label>
            <%= select_tag "", options_for_select(@projects.map(&:request_number).uniq.compact), prompt: "Sélectionnez un n° de demmande" %>
          </p>

          </p>
          <label>
            <b><%= I18n.t :title %></b>
          </label>
          <%= text_field_tag :title %>
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <%= submit_tag "Exporter en PDF", :class => 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
