<% selected_inline_columns = update_selected_inline_columns(Project) %>

<div class="d-flex align-items-center mt-4">
  <div style="flex: 1">
    <h1>Liste des estimations</h1>
  </div>
  <a href="<%= projects_from_path(organization_id: @organization.id) %>">
    <button type="button" class="btn btn-primary">
    Créer une estimation</button>
  </a>
  <% unless "saas".in?(request.original_url) || "demo".in?(request.original_url) %>
    <%# link_to I18n.t(:extract_raw_data), raw_data_extraction_path(organization_id: @organization.id), :class => 'btn', method: 'post' %>
  <% end %>
</div>

<p>
  <span class="font-weight-bold">Accès rapide</span> aux dernières estimations consultées
</p>

<div class="mb-5">
  <div class="card-list">
    <% current_user.recent_projects.take(4).each do |project_id| %>
      <% project = Project.find(project_id) %>
      <% unless project.nil? %>
        <div class="card w-25">
          <a href="<%= edit_project_path(project) %>">
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <h6 class="card-status card-status--encours mb-2 "><%= project.estimation_status.name %></h6>
              <div class="d-flex"><span class="card-date mb-2 ">21/03/2019</span><span class="card-version mb-2 "><%= project.version_number %></span></div>
              <p class="card-text"><%= project.description %></p>
              <div class="d-flex justify-content-between"><span class="card-quantity">121 j.h</span><span class="card-price">650,45 K€</span></div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mb-5">
  <div class="estimation-list">
    <div class="estimation-list-filter">
      <span><%= @all_projects.count %> Eléments</span>
      <span>
        <div class="dropdown">
          <a class="dropdown-toggle estimation-list-sort" href="#" id="sortDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Du plus récent au moins récent
          </a>
          <div class="dropdown-menu sort-list" aria-labelledby="sortDropdown">
            <a class="dropdown-item sort-item" href="#">Du plus récent au moins récent</a>
            <a class="dropdown-item sort-item" href="#">Du moins récent au plus récent</a>
          </div>
        </div>
        <%# select_tag 'filter_organization_projects_version',
                     options_for_select([[I18n.t(:label_filter_on_project_version_2),2],
                                         [I18n.t(:label_filter_on_project_version_1),1],
                                         [I18n.t(:label_filter_on_project_version_3),3],
                                         [I18n.t(:label_filter_on_project_version_4),4]],
                                        :selected => params[:filter_version].blank? ? 4 : params[:filter_version]),
                     'data-organization_id' => @organization.id, include_blank: false %>
      </span>
      <span>
        <a href="#">Afficher les archives</a>
      </span>
    </div>
    <table class="estimation-table">
      <thead>
        <tr>
          <th>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="selectAll">
              <label class="custom-control-label" for="selectAll"></label>
            </div>
          </th>
          <% selected_inline_columns = update_selected_inline_columns(Project) %>
          <% selected_inline_columns.each do |column| %>
            <%= column_header(column) %>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @projects.each_with_index do |project, index| %>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="estimationCheck<%= index %>">
                <label class="custom-control-label" for="estimationCheck<%= index %>"></label>
              </div>
            </td>

            <% selected_inline_columns.each do |column| %>
              <%= column_content(@pfs, column, project, @fields_coefficients) %>
            <% end %>

            <% @project_module_projects = project.module_projects %>

            <td class="estimation-table-overview-cell">
              <div class="card card-overview">
                <div class="card-body">
                  <a href="#" class="close-button"><i class="material-icons">close</i></a>
                  <div class="d-flex justify-content-between">
                    <div class="card-overview-title" style="flex: 1">
                      <h5>
                        <%= project.title %>
                      </h5>
                    </div>
                    <a href="<%= dashboard_path(project) %>">
                      <button type="button" class="btn btn-secondary">
                        Voir le détail
                      </button>
                    </a>
                  </div>
                  <h6 class="card-overview-author">
                    <%= project.creator %>
                  </h6>
                  <p class="card-overview-text mb-3">
                    <%= raw(project.description) %>
                  </p>

                  <% @label_widget_hash = {} %>
                  <% @kpi_widget_hash = {} %>
                  <% @data_widget_hash = {} %>
                  <% @project_module_projects = project.module_projects %>

                  <% @project_module_projects.each do |module_project| %>
                    <% module_project_view = module_project.view %>
                    <% unless module_project_view.nil? %>
                      <% module_project_view_widgets = module_project_view.views_widgets.order('position').all %>
                      <% module_project_view_widgets.each do |view_widget| %>
                        <% if view_widget.is_label_widget? %>
                          <% view_widget_data = get_label_widget_data(view_widget.id) %>
                          <% @label_widget_hash[view_widget.name] = view_widget_data[:string_data_probable] %>
                        <% elsif view_widget.is_kpi_widget? %>
                          <% view_widget_data = get_kpi_value_without_unit(view_widget) %>
                          <% @kpi_widget_hash[view_widget.name] = view_widget_data %>
                        <% else %>
                          <% if module_project.pemodule.alias == Projestimate::Application::INITIALIZATION %>
                            <% view_widget_data = new_get_view_widget_data(view_widget.module_project_id, view_widget.id) %>
                            <% if view_widget.widget_type == "text" %>
                              <% @data_widget_hash[view_widget.name] = view_widget_data %>
                            <% end %>
                          <% else %>
                            <% view_widget_data = new_get_view_widget_data(module_project.id, view_widget.id) %>
                            <% @data_widget_hash[view_widget.name] = view_widget_data %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>

                  <div class="d-flex card-overview-quantity mb-5 row">
                    <% @data_widget_hash.keys.reverse[0..1].each do |k| %>
                      <% value = @data_widget_hash[k] %>
                      <% unless value.is_a?(Hash) %>
                        <div class="col">
                          <div class="card card-man-day">
                            <div class="card-body">
                              <span><%= k %></span>
                              <div class="quantity">
                                <span>
                                  <%= value.nil? ? '-' : value %>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="row estimation-overview-infos mb-3">
                    <% @data_widget_hash.keys.reverse[1..3].each do |k| %>
                      <% value = @data_widget_hash[k] %>
                      <% unless value.is_a?(Hash) %>
                        <div class="col">
                          <%= k %>
                          <div class="estimation-overview-info-number">
                            <strong>
                              <%= value %>
                            </strong>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="row estimation-overview-infos mb-3">
                    <% @data_widget_hash.keys.reverse[3..5].each do |k| %>
                      <% value = @data_widget_hash[k] %>
                      <% unless value.is_a?(Hash) %>
                        <div class="col">
                          <%= k %>
                          <div class="estimation-overview-info-number">
                            <strong>
                              <%= value %>
                            </strong>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="row estimation-overview-infos mb-3">
                    <% @data_widget_hash.keys.reverse[5..7].each do |k| %>
                      <% value = @data_widget_hash[k] %>
                      <% unless value.is_a?(Hash) %>
                        <div class="col">
                          <%= k %>
                          <div class="estimation-overview-info-number">
                            <strong>
                              <%= value %>
                            </strong>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




