<html>
<head>
  <script>
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>

  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>

  <style>
      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }

      main {
          font-size:	10px;
      }
  </style>
</head>

<div class="row-fluid">
  <div class="span12">
    <h2>Audit de sécurité</h2>
    <h4 style="text-align: right"> Date : <%= I18n.l(DateTime.now) %></h4>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>
      <%= @current_organization.name %>
    </h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <b>Description</b>
  </div>
  <div class="span8">
    <%= @current_organization.description %>
  </div>
</div>

<hr>

<body onload="number_pages()">
<div class="row-fluid">
  <div class="span" style="font-size: 16px; padding: 8px; background-color: transparent; border: 1px solid lightgrey">

    <div class="row-fluid">
      <div class="span4">
        <b>Nom du Demandeur SNCF</b>
      </div>
      <div class="span8">
        <%= @current_user %>
      </div>
    </div>
  </div>
</div>

<br>

<h3> Filtres : </h3>
<div class="row-fluid">
  <div class="span4">
    <b><%= "Date de début" %> : </b>
    <%= @start_date.blank? ? "-" : I18n.l(@start_date) %>
  </div>
  <div class="span4">
    <b><%= I18n.t(:end_date) %> : </b>
    <%= @end_date.blank? ? "-" : I18n.l(@end_date) %>
  </div>
</div>

<br>
<!-- ========================  UTILISATEURS ===================== -->
<div class="alwaysbreak"></div>
<h3>
  Données de base
</h3>
<hr>

<div id="tabs-simples_events">
  <%= render partial: 'security_audit_utilities_simple_events',
             formats: [:html],
             locals: { table_versions: @simple_events_versions} %>
</div>
<br>

<!-- ========================  UTILISATEURS / ORGANIZATIONS===================== -->
<div class="alwaysbreak"></div>
<h3>
  <%= I18n.t(:audit_OrganizationUser) %>
</h3>
<hr>

<div id="tabs-users">
  <%= render partial: 'security_audit_utilities_user_organizations',
             formats: [:html],
             locals: { table_versions: @user_organizations_versions} %>
</div>

<br>
<!-- ========================  UTILISATEURS / GROUPS ===================== -->
<div class="alwaysbreak"></div>
<h3>
  <%= I18n.t(:audit_GroupUser) %>
</h3>
<hr>

<div id="tabs-users">
  <%= render partial: 'security_audit_utilities_user_groups',
             formats: [:html],
             locals: { table_versions: @user_groups_versions} %>
</div>


<!-- ========================  GROUPS / PERMISSIONS ===================== -->

<div class="alwaysbreak"></div>
<h3><%= "Groupe / Permissions" %></h3>
<hr>

<div id="tabs-group_permissions">
  <%= render partial: 'security_audit_utilities_group_permissions',
             formats: [:html],
             locals: { table_versions: @group_permissions_versions} %>
</div>

<!-- ========================  ESTIMATION-STATUS ===================== -->
<div id="tabs-estimation_status_permissions">
  <%= render partial: 'security_audit_utilities_estimation_status_permissions',
             formats: [:html],
             locals: { table_versions: @user_estimation_status_versions} %>
</div>

<!-- ========================  SECURITY-LEVELS ===================== -->
<div class="alwaysbreak"></div>
<h3><%= I18n.t(:audit_PermissionProjectSecurityLevel) %></h3>


<!-- ========================  SECURITY-LEVELS / Permissions ===================== -->
<div id="tabs-security_levels">
  <%= render partial: 'security_audit_utilities_project_security_level_permissions',
             formats: [:html],
             locals: { table_versions: @security_level_versions} %>
</div>


<!-- ========================  ESTIMATION-MODELS ===================== -->
<div class="alwaysbreak"></div>
<h3><%= I18n.t(:audit_estimation_models_permissions) %></h3>
<div id="tabs-estimation_models">
  <%= render partial: 'security_audit_utilities_estimation_models_permissions',
             formats: [:html], locals: { table_versions: @estimation_model_versions} %>
</div>

<!-- ========================  ESTIMATIONS ===================== -->
<div class="alwaysbreak"></div>
<h3><%= I18n.t(:audit_estimations_permissions) %></h3>
<div id="tabs-estimations">
  <%= render partial: 'security_audit_utilities_estimations_permissions',
             formats: [:html], locals: { table_versions: @estimation_versions} %>
</div>

<%#= render partial: 'all_securities_events',
           formats: [:html],
           object: [@user_versions, @group_permissions_versions, @security_level_versions] %>

<div class="alwaysbreak"></div>

</body>
</html>