<!--Load the Google charts API  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
</script>

<%# if controller.action_name == "edit" || controller.action_name == "update" %>
<div class="row">
  <div class="col-10">
    <section class="card card-content-bloc estimancy-form">

      <div class="mb-5">
        <div class="effort-bloc">
          <div class="tab-pane" id="pills-printing_extraction" role="tabpanel" aria-labelledby="pills-printing_extraction-tab">
            <div class="card-body">
              <% if @organization_show_kpi_keys.blank? %>
               <h4><%= I18n.t('please_return_check_kpi_type')%></h4>
              <% else %>
                <% if @partial_name.blank? %>
                  <% tab_name = @organization_show_kpi_keys.first  %>
                  <%= render :partial => "organizations/tabs_kpi_#{tab_name}" %>
                <% else %>
                  <%= render :partial => "organizations/#{@partial_name}" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-2">
    <h4 class="mb-0">Navigation</h4>
    <div id="edition-sidebar">
      <ul class="nav flex-column">
        <% @kpi_list.each do |kpi| %>
          <% if @organization_show_kpi_keys.include?(kpi) %>
            <li class="nav-item">
              <a class="nav-link group" href="<%= organization_kpi_path(@organization,
                                                                           partial_name: "tabs_kpi_" + kpi ,
                                                                           item_title: kpi,
                                                                           anchor: "tabs-") %>">
                <span><%= I18n.t(kpi) %></span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
