<div class="tabs">
  <ul>
    <li><a href="#tabs-report">Rapport Excel filtré</a></li>
    <li><a href="#tabs-report-all">Rapport Excel détaillé</a></li>
    <li><a href="#tabs-pdf-all">Rapport PDF détaillé</a></li>
  </ul>

  <div id="tabs-report-all" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <%= form_tag "generate_report_excel_detail", method: "post" do %>
      <h4>Générer un rapport Excel de tous les devis</h4>
      <p>
        Tout les devis de type Abaque + WBS seront exportés dans un fichier Excel récapitulatif.
      </p>
      <br>
      <%= hidden_field_tag "organization_id", params[:organization_id] %>
      <%= submit_tag I18n.t(:Generate_Report), :class => 'btn btn-primary' %>
    <% end %>
  </div>

  <div id="tabs-report" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

    <h4>Générer un rapport Excel filtré</h4>
    <p>
      Seul les devis sélectionnés seront exportés dans un fichier Excel récapitulatif.
    </p>

    <%= form_tag "generate_report_excel", method: "post" do %>

      <%= hidden_field_tag "organization_id", params[:organization_id] %>

      <div class="row-fluid">
        <div class="span3 well well-rounded">
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:label_project_name) %>
              <%= text_field_tag "title", "" %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Product_Name) %>
              <%# text_field_tag "application", "" %>
              <%= select_tag "report[application_id]", options_for_select(@organization.applications.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Start_date_organizations) %>
              <%= text_field_tag "report_date[start_date]", "", class: 'date-picker' %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:end_date_organizations) %>
              <%= text_field_tag "report_date[end_date]", "", class: 'date-picker' %>
            </div>
          </div>
        </div>
        <div class="span3 well well-rounded">
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Platform_Categorie_organization) %>
              <%= select_tag "report[platform_category_id]", options_for_select(@organization.platform_categories.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Project_Category) %>
              <%= select_tag "report[project_category_id]", options_for_select(@organization.project_categories.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Category_acquistion) %>
              <%= select_tag "report[acquisition_category_id]", options_for_select(@organization.acquisition_categories.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:project_area) %>
              <%= select_tag "report[project_area_id]", options_for_select(@organization.project_areas.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
          <br>
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag I18n.t(:Estimating_Status) %>
              <%= select_tag "report[estimation_status_id]", options_for_select(@organization.estimation_statuses.map{|i| [i.name, i.id]}), prompt: I18n.t(:Indifferent) %>
            </div>
          </div>
        </div>

        <div class="span4 well well-rounded">
          <div class="row-fluid">
            <div class="span12">
              <%= label_tag "Détails de dénombrements" %>
              <%= check_box_tag "detail", "checked", true %>
            </div>
          </div>

          <br>

          <div class="row-fluid">
            <div class="span12">
              <%= label_tag "Sélectionnez le module de taille" %>
              <%= select_tag "guw_model_id", options_for_select(@organization.guw_models.map{|i| [i.name, i.id]} ) %>
            </div>
          </div>
          <br>
        </div>
      </div>

      <br>
      <div class="row-fluid">
        <div class="span12">
          <%= submit_tag I18n.t(:Generate_Report), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="tabs-pdf-all" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <h4>
      Exporter les devis sous format PDF
    </h4>

    <div class="row-fluid">
      <div class="span12">
        <% @projects = @organization.projects %>
        <%= form_tag multiple_export_dashboard_path(format: "pdf"), :method => "POST", :class => 'simple_form', target: "_blank" do %>
          <div class="modal-body" style="height: inherit;">

            <p>
              <label>
                <b>Besoin métier</b>
              </label>
              <%= select_tag "business_need", options_for_select(@projects.map(&:business_need).uniq.compact) %>
            </p>

            <p>
              <label>
                <b><%= I18n.t :request_number %></b>
              </label>
              <%= select_tag "request_number", options_for_select(@projects.map(&:request_number).uniq.compact) %>
            </p>

            </p>
            <label>
              <b><%= I18n.t :title %></b>
            </label>
            <%= text_field_tag :title %>
            </p>
          </div>

          <%= submit_tag "Exporter en PDF", :class => 'btn btn-primary' %>

        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    $(".date-picker").datepicker({
      language: '<%= set_user_language %>',
      autoclose: true,
      todayHighlight: true,
      todayBtn: true
    });
  });
</script>