<div class="tabs">
  <h4><%= I18n.t(:actions_history) %></h4>

  <div style="margin: 10px;">
    <%= form_tag export_to_pdf_security_audit_utilities_path(format: :pdf, organization_id: @current_organization.id), method: :get do %>
        <%#= I18n.t(:filters)%>
        <div class="input row-fluid">
          <div class="span2">
              <label class="string control-label" for="objet">Date de début</label>
              <input class="date-picker input-large" id="start_date" name="start_date" size="50" type="text">
          </div>
          <div class="span2">
              <label class="string control-label" for="objet">Date de fin</label>
              <input class="date-picker input-large" id="end_date" name="end_date" size="50" type="text">
          </div>
          <div class="span2" style="margin-top: 25px;">
            <%= submit_tag I18n.t(:export_pdf), :formtarget => "_blank", class: "btn btn-primary", :title => 'Exporter en PDF' %>
          </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".date-picker").datepicker({
                    language: 'fr',
                    autoclose: true,
                    todayHighlight: true,
                    todayBtn: true
                });
            });
        </script>
    <% end %>

    <div style="margin-bottom: 50px; margin-top: -40px;">
      <%= link_to "Supprimer tout l'historique", destroy_all_security_audit_utilities_path,
                  confirm: "Voulez-vous vraiment supprimer tout l'historique ?", class: "btn btn-inverse pull-right" %>
    </div>
  </div>


  <ul>
    <li><a href="#tabs-simples_events">Données de base</a></li>
    <li><a href="#tabs-user_organizations"><%= I18n.t(:audit_OrganizationUser) %></a></li>
    <li><a href="#tabs-user_groups"><%= I18n.t(:audit_GroupUser) %></a></li>
    <li><a href="#tabs-group_permissions"><%= "Groupe / Permissions" %></a></li>
    <li><a href="#tabs-estimation_status_permissions"><%= "Statut / Groupe / Niveaux sécurité" %></a></li>
    <li><a href="#tabs-security_levels"><%= I18n.t(:audit_PermissionProjectSecurityLevel) %></a></li>
    <li><a href="#tabs-estimation_models"><%= I18n.t(:audit_estimation_models_permissions) %></a></li>
    <li><a href="#tabs-estimations"><%= I18n.t(:audit_estimations_permissions) %></a></li>
  </ul>

  <!-- ========================  TABLES DE BASE : UTILISATEUR - GROUPE - NIVEAU DE SECURITE ===================== -->
  <div id="tabs-simples_events">
    <%= render partial: 'security_audit_utilities_simple_events', locals: { table_versions: @simple_events_versions} %>
  </div>

  <!-- ========================  UTILISATEURS ORGANIZATIONS ===================== -->
  <div id="tabs-user_organizations">
    <%= render partial: 'security_audit_utilities_user_organizations', locals: { table_versions: @user_organizations_versions} %>
  </div>

  <!-- ========================  UTILISATEURS GROUPS ===================== -->
  <div id="tabs-user_groups">
    <%= render partial: 'security_audit_utilities_user_groups', locals: { table_versions: @user_groups_versions} %>
  </div>

  <!-- ========================  GROUPS ===================== -->
  <div id="tabs-group_permissions">
    <%= render partial: 'security_audit_utilities_group_permissions', locals: { table_versions: @group_permissions_versions} %>
  </div>

  <!-- ========================  ESTIMATION-STATUS ===================== -->
  <div id="tabs-estimation_status_permissions">
    <%= render partial: 'security_audit_utilities_estimation_status_permissions',
               locals: { table_versions: @user_estimation_status_versions} %>
  </div>

  <!-- ========================  SECURITY-LEVELS / Permissions ===================== -->
  <div id="tabs-security_levels">
    <%= render partial: 'security_audit_utilities_project_security_level_permissions', locals: { table_versions: @security_level_versions} %>
  </div>

  <div id="tabs-estimation_models">
    <%= render partial: 'security_audit_utilities_estimation_models_permissions',
               formats: [:html],
               locals: { table_versions: @estimation_model_versions} %>
  </div>

  <div id="tabs-estimations">
    <%= render partial: 'security_audit_utilities_estimations_permissions',
               formats: [:html],
               locals: { table_versions: @estimation_versions} %>
  </div>

</div>


