<div class="tabs">
  <ul>
    <li><a href="#demands_statuses"><%= I18n.t(:demands_statuses) %></a></li>
    <li><a href="#demandes_types"><%= I18n.t(:demands_types) %></a></li>
    <li><a href="#services"><%= I18n.t(:services) %></a></li>
    <li><a href="#criticality">Criticité</a></li>
    <li><a href="#severity">Sévérité</a></li>
    <li><a href="#livrables"><%= I18n.t(:livrable) %></a></li>
  </ul>

  <div id="criticality">

    <%= link_to "Sévérité", new_organization_severity_path(@organization), class: "btn" %>
    <hr>

    <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>
          Nom
        </th>
      </tr>
      </thead>
      <tbody>
      <% @organization.criticalities.each do |criticality| %>
        <tr>
          <td><%= link_to criticality.name, "#" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="severity">
    <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>
          Nom
        </th>
      </tr>
      </thead>
      <tbody>
      <% @organization.severities.each do |severity| %>
        <tr>
          <td><%= link_to severity.name, "#" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="demands_statuses">
    <% if @organization.demand_statuses.length > 0 %>
      <%= link_to "Créer une statut de demande", new_organization_demand_status_path(@organization), class: "btn" %>
      <hr>

      <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>
            Nom
          </th>
          <th>
            Type de demande
          </th>
          <th>
            Numéro
          </th>
          <th>
            Alias
          </th>
          <th>
            Couleur
          </th>
        </tr>
        </thead>
        <tbody>
        <% @demand_statuses.each do |demand_status| %>
          <tr>
            <td><%= link_to demand_status.name, edit_organization_demand_status_path(@organization, demand_status) %></td>
            <td><%= demand_status.demand_type %></td>
            <td><%= demand_status.status_number %></td>
            <td><%= demand_status.status_alias %></td>
            <td><%= demand_status.status_color %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div id="demandes_types">

    <%= link_to "Créer une type de demande", new_organization_demand_type_path(@organization), class: "btn" %>
    <hr>
    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Provenance des coûts</th>
        <th>Statut de départ</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        <% @demand_types.each do |dt| %>
          <tr>
            <td><%= dt.name %></td>
            <td><%= dt.description %></td>
            <td><%= dt.cost_from %></td>
            <td><%= dt.demand_status %></td>
            <td>
              <%= link_to '', edit_organization_demand_type_path(@organization, dt), class: 'fa fa-pencil' %>
              <%= link_to '', organization_demand_type_path(@organization, dt), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>

  <div id="livrables">
    <%= link_to "Créer un livrable", new_organization_livrable_path(@organization), class: "btn" %>
    <hr>
    <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Etats
          </th>
          <th>
            Service associé
          </th>
        </tr>
      </thead>

      <tbody>
        <% @livrables.each do |livrable| %>
          <tr>
            <td><%= livrable.name %></td>
            <td><%= livrable.description %></td>
            <td><%= livrable.state %></td>
            <td><%= livrable.service %></td>
            <td>
              <%= link_to '', edit_organization_livrable_path(@organization, livrable), class: 'fa fa-pencil' %>
              <%= link_to '', organization_livrable_path(@organization, livrable), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>

  <div id="services">

      <%= link_to "Créer un service", new_organization_service_path(@organization), class: "btn" %>
      <hr>

      <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Livrable
          </th>
        </tr>
        </thead>

        <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.description %></td>
            <td><%= service.livrable %></td>
            <td>
              <%= link_to '', edit_organization_service_path(@organization, service), class: 'fa fa-pencil' %>
              <%= link_to '', organization_service_path(@organization, service), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
        </tbody>

        <%= render :partial => 'layouts/footer_table' %>
      </table>

    </div>

</div>