<div class="tabs">
  <ul>
    <li><a href="#demands_statuses"><%= I18n.t(:demands_statuses) %></a></li>
    <li><a href="#demandes_types"><%= I18n.t(:demands_types) %></a></li>
    <li><a href="#livrables"><%= I18n.t(:livrable) %></a></li>
  </ul>

  <div id="demands_statuses">
    <div id="tabs-1">

      <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Status Number
          </th>
          <th>
            Status Number
          </th>
          <th>
            Status Color
          </th>
        </tr>
        </thead>
        <tbody>
    <% @demands_statuses.each do |demand_status| %>
      <tr>
        <td><%= link_to demand_status.name, organization_demand_path(@organization, demand) %></td>
        <td><%= demand_status.status_number %></td>
        <td><%= demand_status.status_alias %></td>
        <td><%= demand_status.status_color %></td>
      </tr>
    <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="demandes_types">
    <div id="tabs-1">

      <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Fixed Billing
          </th>
          <th>
            Deadlines Billing
          </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

  <div id="livrables">
    <div id="tabs-1">

      <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            State
          </th>
        </tr>
        </thead>

        <tbody>
        <% @livrables.each do |livrable| %>
          <tr>
            <td><%= livrable.name %></td>
            <td><%= livrable.description %></td>
            <td>
              <%= link_to '', edit_organization_livrable_path(@organization, livrable), class: 'fa fa-pencil' %>
              <%= link_to '', organization_livrable_path(@organization, livrable), confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
        </tbody>

        <%= render :partial => 'layouts/footer_table' %>
      </table>

    </div>
  </div>

</div>