<div id="tabs-1">
  <div class="group_button">
    <%= link_to "Créer un livrable", new_organization_livrable_path(@organization), class: "btn" %>
  </div>

  <table id="table_list_1" class="table tablesorter Pager table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>
        State
      </th>
    </tr>
    </thead>

    <tbody>
    <% @livrables.each do |livrable| %>
      <tr>
        <td><%= link_to livrable.name, organization_livrable_path(@organization, livrable) %></td>
        <td><%= livrable.description %></td>
        <td>
          <%= link_to '', edit_organization_livrable_path(@organization, livrable), class: 'fa fa-pencil' %>
          <%= link_to '', '#', confirm: I18n.t('are_you_sure'), method: :delete, :class => 'fa fa-trash', :title => I18n.t('delete') %>
        </td>
      </tr>
    <% end %>
    </tbody>

    <%= render :partial => 'layouts/footer_table' %>
  </table>

</div>

<br>


